<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                        <ul>
                            <li>
                            <a href="/minhaconta">Minha conta</a>
                            </li>
                        </ul>
                        <a href="/" class="link-small">Voltar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 offset-2 col-sm-12 offset-sm-0">
                        <div class="titulo-menu">
                            <h2>Minha Conta</h2>
                        </div>
                        <ul class="lista-menu">
                            <li>
                                <a href="perfil.php">
                                    <span>
                                    <small>Nome Completo</small>
                                    <b>Tyler Reynolds</b>
                                    </span>
                                    <span class="link-small">Editar</span>
                                </a>
                            </li>
                            <li>
                                <a href="endereco.php">
                                    <span>
                                    <small>E-mail</small>
                                    <b>tylerreynolds@email.com</b>
                                    </span>
                                    <span class="link-small">Editar</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>
                                    <small>Celular</small>
                                    <b>(__)9____-__28</b>
                                    </span>
                                    <span class="link-small">Editar</span>
                                </a>
                            </li>
                            <li>
                                <a href="medidas.php">
                                    <span>
                                        <small>Senha</small>
                                        <b>****************</b>
                                    </span>
                                    <span class="link-small">Editar</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>
                                    <small>CPF</small>
                                        <b>000.000.000-00</b>
                                    </span>
                                    <span class="link-small">Editar</span>
                                </a>
                            </li>
                        </ul>
                        <a class="btn-inverte" href="#">Concluir</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
