
<div style="text-align: center; width: 800px; margin: 0 auto;">
    <h1>Políticas de Privacidade</h1>
    <p style="text-indent: 4em;">Nós,   da   Siqueira   Camisas   levamos   sua   privacidade   a   sério.   Portanto,   solicitamos   suasinformações pessoais apenas para garantir um atendimento personalizado e de qualidade.</p>
    <p style="text-indent: 4em;">Você   poderáadquirir  os  produtos  da  Siqueira  Camisas  somente  através  do  formulário  decadastro. Além disso, o cadastro permite que você aproveite outras vantagens como tirardúvidas, participar de enquetes, acompanhar promoções e novidades periódicas do site.</p>
    <p style="text-indent: 4em;text-decoration: underline; font-weight: bold;">SEGURANÇA DOS DADOS</p>
    <p style="text-indent: 4em;">Garantimos   a   segurança   de   seus   dados   pessoais   com   o   mesmo   cuidado,   empenho   eprofissionalismo que temos ao criar nossos produtos. Asseguramos jamais comercializar oudivulgar qualquer informação pessoal, ressaltando que, apenas funcionários credenciados temacesso a estas informações e no caso de qualquer eventualidade, estarão sujeitos a puniçõeslegais.</p>
    <p style="text-indent: 4em;">A equipe de tecnologia da Siqueira Camisas fará o possível para manter a privacidade dos dadospessoais dos usuários armazenados em sua base, comprometendo-se a utilizar tecnologia queseja suficientemente adequada para a proteção de tais dados, procurando manter o ambienteseguro com uso de ferramentas apropriadas e sempre observando o estado da técnica disponível.</p>
    <p style="text-indent: 4em;">Nossa política respeita o sigilo de suas informações e garante que seus dados não serãodisponibilizados, cedidos ou comercializados para terceiros.</p>
    <p style="text-indent: 4em;">Todas as informações fornecidas em nosso site são de uso exclusivo para o procedimento decompra, personalização, facilitação e não são disponibilizadas a terceiros. Os dados fornecidossão registrados em nosso banco de dados de forma automatizada e armazenados com totalsegurança sem a intervenção humana.</p>
    <p style="text-indent: 4em;">Os   e-mails   e   telefones   disponibilizados   são   utilizados   apenas   para   contatos   referentes   àscompras realizadas em nosso site. Com prévia autorização dos clientes, enviamos e-mailsinformando as promoções vigentes em nossa loja, porém nossos clientes podem solicitar o nãorecebimento das ofertas.</p>
    <p style="text-indent: 4em;">Não há o armazenamento de informações que não sejam necessárias para a efetivação dacompra. O uso do CPF é exigido por lei para a emissão de notas fiscais e para o envio demercadorias.</p>
    <p style="text-indent: 4em;">As senhas fornecidas em nosso banco de dados são arquivadas de maneira criptografada,permitindo que apenas o dono do cadastro tenha conhecimento.</p>
    <p style="text-indent: 4em;">Os números de cartões de crédito fornecidos são registrados diretamente no banco de dados dasadministradoras de cartão, não permitindo o acesso a essas informações por parte do lojista. Aoinformar os dados para a administradora, essa realiza a verificação da transação on-line eretorna apenas se a compra está liberada ou não.</p>
    <p style="text-indent: 4em;text-decoration: underline; font-weight: bold;">CARTÕES DE CRÉDITO E INFORMAÇÕES BANCÁRIAS</p>
    <p style="text-indent: 4em;">Quaisquer tipos de informações bancárias ou de Cartões de Crédito são assegurados pelatecnologia criptografada do E-Rede que interage como mediador na negociação entre você enossa loja virtual. Ou seja, não temos acesso a essas informações em nosso site.</p>
    <p style="text-indent: 4em;text-decoration: underline; font-weight: bold;">CERTIFICADO DE SEGURANÇA SSL</p>
    <p style="text-indent: 4em;">Conforme pode-se verificar o HTTPS e o cadeado na barra de endereço,a loja virtual daSiqueira Camisas é um ambiente 100% seguro para realizar compras on-line.Isso quer dizer que somos homologados para efetuar qualquer tipo de transação via internet deforma criptografada e segura.</p>
</div>