<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Contato</h4>
                            <h3>Ficou com alguma dúvida? Entre em contato conosco!</h3>
                        </div>
                    </div>

                    <div class="col-6 col-sm-12 br-1 mt-5">
                            <div class="dados-empresa">
                                <h5><i class="fas fa-map-pin"></i> Onde estamos</h5>
                                <p>
                                Rua Barão do Triunfo, 394<br/>
                                Sala 1<br/>
                                Brooklin Paulista, São Paulo/SP<br/>
                                04602-000
                                </p>
                            </div>
                            <div class="dados-empresa">
                                <h5><i class="fa fa-clock"></i> Funcionamento</h5>
                                <p>
                                De segunda a sexta<br/>
                                das 09:00 às 18:00
                                </p>
                            </div>
                        </div>
                    <div class="col-6 col-sm-12 mt-5">
                        <div class="col-lg-12">
                            <form @submit.prevent="store()" class="row col-12 form-radius form-contato">
                                <div class="form-group col-6">
                                    <label for="nome" class="focus">Nome</label>
                                    <input type="text" class="form-control" id="nome" v-model="contatoForm.nome" required>
                                </div>
                                <div class="form-group col-6">
                                    <label for="sobrenome" class="focus">Sobrenome</label>
                                    <input type="text" class="form-control" id="sobrenome" v-model="contatoForm.sobrenome" required>
                                </div>
                                <div class="form-group col-12">
                                    <label for="email" class="focus">E-mail</label>
                                    <input type="email" class="form-control" id="email" v-model="contatoForm.email" required>
                                </div>
                                <div class="form-group col-6">
                                    <label for="telefone" class="focus">Telefone</label>
                                    <input type="text" class="form-control" id="telefone" v-model="contatoForm.telefone" v-mask="'(##) ####-####'">
                                </div>
                                <div class="form-group col-6">
                                    <label for="celular" class="focus">Celular</label>
                                    <input type="text" class="form-control" id="celular" v-model="contatoForm.celular" v-mask="'(##) #####-####'">
                                </div>
                                <div class="form-group col-12">
                                    <label for="assunto" class="focus">Assunto</label>
                                    <select v-model="contatoForm.assunto" class="form-control select">
                                        <option value="" selected>Selecione</option>
                                        <option value="orcamento">Orçamento</option>
                                        <option value="pedidos">Pedidos</option>
                                    </select>
                                </div>
                                <div class="form-group col-12">
                                    <label for="mensagem" class="focus">Mensagem</label>
                                    <textarea v-model="contatoForm.mensagem" class="form-control" id="mensagem" rows="8"></textarea>
                                </div>
                                <button type="submit" class="btn-inverte">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            contatoForm: new Form({
                id: '',
                user_id: null,
                nome: '',
                sobrenome: '',
                email: '',
                telefone: '',
                celular: '',
                assunto: '',
                mensagem: '',
            })
        }
    },

    methods: {
        store() {
            this.contatoForm.post('/api/contato').then(res => {
                toast({
                    type: 'success',
                    title: 'Obrigado por entrar em contato, responderemos o mais breve possível',
                    timer: 6000
                })
                this.contatoForm.reset()  
            })
        }
    }
}
</script>

<style>

</style>
