/* IE */
.down, .down:hover { padding-left:0\0/; padding-top:5px\0/; }
header { padding-top: 20px\0/; }
.img-meio { display:block\0/; }
.flip-card:hover .flip-card-front { opacity:0\0/; }
.flip-card:hover .flip-card-back { backface-visibility: visible\0/; }
.img-meio .img-conteudo { padding-top:400px\0/; }
.banner-meio .img-conteudo { padding-top:330px\0/; }
header { margin-left:0\0/; width:calc(100% - 24px)\0/; border-right:24px solid whitesmoke\0/; }
header.encolhe { border-color:#FFFFFF\0/; }
.form-radius .form-control, .form .form-control { padding-left:10px\0/; height:50px\0/; line-height:50px\0/; padding-top:0\0/; padding-bottom:0\0/; }
textarea.form-control { min-height:280px\0/; height:auto\0/!important; line-height:1\0/!important; }
.seletor::after { display: none\0/!important; }
.tab-pane { min-width:100%\0/; }
section { overflow:hidden\0/; }
.form-radius label { font-size:14px\0/; }
.produto a { width:100%\0/; }
.img-meio{ height: 400px; }

/* Edge */
@supports (-ms-ime-align:auto) {
	.down, .down:hover { padding-left:0; padding-top:5px; }
	header { padding-top: 20px; }
	.img-meio { display:block; }
	.flip-card:hover .flip-card-front { opacity:0; }
	.flip-card:hover .flip-card-back { backface-visibility: visible; }
	.img-meio .img-conteudo { padding-top:400px; }
	.banner-meio .img-conteudo { padding-top:330px; }
	header { margin-left:0\0/; width:calc(100% - 24px); border-right:24px solid whitesmoke; }
	header.encolhe { border-color:#FFFFFF; }
	.form-radius .form-control, .form .form-control { padding-left:10px; height:50px; line-height:50px; padding-top:0; padding-bottom:0; }
	textarea.form-control { min-height:280px; height:auto; line-height:1; }
	.seletor::after { display: none!important; }
	.tab-pane { min-width:100%; }
	section { overflow:hidden; }
	.form-radius label { font-size:14px; }
	.produto a { width:100%; }
}


/* Mozilla */
@-moz-document url-prefix() {
	body { overflow: hidden; }
	.form-control[required] { box-shadow: none; }
	.form-radius label { font-size: 1.133rem; }
	.flip-card { perspective: 3000px; }
	.flip-card .flip-card-front, .flip-card .flip-card-back { background: #FFF }
}


/* Media */
@media screen and (max-width:1600px) {

}

@media screen and (max-width:1440px) {
	.banner-principal .titulo { font-size: 3.4rem; line-height: 3.467rem; width: 96%; }
	.banner-meio { background-size: cover; }
}

@media screen and (max-width:1200px) {

}

@media screen and (max-width:1024px) {
	.banner-principal .titulo { font-size: 2.8rem; line-height: 3rem; }
	.flip-card { min-width:84%; }
	.img-meio { height: 500px; }
	.img-passos { height: 870px; }
	.titulo-centralizado, .bg-pattern .titulo-centralizado { width: 60%; }
	.carrossel-trio { padding-bottom:0; }
	.confeccaoContainer .isotope-item { min-width:30%; }
	.btn-link { white-space:normal; }
	.form-contato { margin: 3rem 0; }

}

@media screen and (max-width:1024px) and (orientation:landscape) {
	.form-radius label { font-size: 14px; }
}

@media screen and (max-width:1024px) and (orientation:portrait) {
	.offset-2, .offset-1 { margin-left:0 }
	.dados-destaque.empresa { max-width: 100%; }
	.mapa iframe { height: 390px; }
	.col-8 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
	#nav-menuConfeccao .col-6 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
	.tab-pane.active > .row { flex-direction:column-reverse; }
	.titulo-menu { margin: 0 0 2rem; }
	.form-medidas .col-4 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
	.lista-menu .form-group { padding: 0; display: flex; align-items: center; width: 100%; }
	#wrapper.toggled #sidebar-wrapper li, #wrapper.toggled #sidebar-wrapper li a { border-right:0; }
}

@media screen and (max-width:991px) {
	h3 { font-size: 26px; line-height: 28px; }
	.flip-card { min-width: 96%; max-height: auto; }
	.flip-card img { height: 70%; }
	section { padding: 35px 0; }
	.titulo-centralizado, .bg-pattern .titulo-centralizado { width: 80%; }
	.dados-destaque.empresa { width: 200%; }
	.owl-carousel figure { min-height: auto; }
	.img-meio { height: 300px; }
	.bg-pattern { display: flex; align-items: center; }
	.contador .dados { margin: 0 0 10px 0; }
	.contador .dados p { padding: 0 10px; }
	.img-passos { height: 690px; }
	footer .col-lg-4 { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
	.banner-principal .titulo { font-size: 36px; line-height: 38px; }
	.banner-meio { height: 290px; margin: 2rem 0 3rem; }
	.img-meio .img-conteudo p { margin-bottom: 0; }
	.owl-trio .owl-dots { margin: 1rem auto; }
	.btn-link { font-size: 24px; line-height: 26px; }
	.card .card-body p { max-width: 94%; }
	.encolhe .logo {  width: 340px; margin: 25px auto 0; height: 60px; }
	.logo {  width: 340px; margin: 25px auto 0; height: 60px; }
	.scale .col-sm-12 { max-width:50% }
	#wrapper.toggled .nav-principal .dropdown-menu { background: whitesmoke; box-shadow: none; }
	#wrapper.toggled .nav-principal .dropdown-menu li { border-bottom: 1px solid rgba(206, 206, 206, 0.15); padding: 5px 0 5px 40px; }
	#wrapper.toggled .nav-principal .dropdown-menu li:last-child { border-bottom: 0; }
	#wrapper.toggled #sidebar-wrapper li, #wrapper.toggled #sidebar-wrapper li a { border-right:0; }
}

@media screen and (max-width:892px) {
	.dados-destaque.empresa { width: 170%; }
}

@media screen and (max-width:800px) and (orientation:landscape) {
	.img-confeccao { max-width: 100%; }
	.menu-confeccao .nav-link { padding: 0 10px; }
	.confeccao p { width: 100%; }
	.confeccaoFilter em { padding-right: 0; width: 100%; display: block; }
	.confeccaoContainer .isotope-item h5, .form-radius label { font-size:14px }
	h3 { font-size: 24px; line-height: 26px; padding: 0; letter-spacing: 1.33px; }
	.titulo-full h3, .titulo-centralizado h3, .titulo-menu h3 { padding:0 2rem!important; }
	.btns a { text-align:center; position: relative!important; margin:10px 0!important; width:100%!important; }
	#nav-medidas .col-4, .produto.col-4 { -ms-flex: 0 0 50%!important; flex: 0 0 50%!important; max-width: 50%!important; }
	.produto a { width: 100%; }
	fieldset + fieldset { margin-top: 5rem; }
}

@media screen and (max-width:767px) {
	.flip-card .flip-card-front {
		position: static;
	}

	#quem-somos .container,
	#a-empresa .container {
		max-width: 100%;
	}

	#a-empresa .container .offset-2,
	#a-empresa .container .offset-1,
	#quem-somos .container .offset-2,
	#quem-somos .container .offset-1 {
		margin-left: 0px;
	}

	.flip-card,
	#a-empresa .dados-destaque.empresa {
		width: 100%;
	}

	.owl-carousel .owl-item img {
		height: auto!important;
	}

	#punhos .owl-carousel img {
		width: 100%!important;
		height: auto!important;
	}
}

@media screen and (min-width:681px) {
    .hidden-sm-up { display: none  }
    .hidden-sm-down { display: block  }
	.mapa iframe { max-width: 100%; }
	.modal-header .login-logo { max-width: 250px; }
	.modal-header .close { font-size: 32px; } 
	.img-confeccao { margin-top: -1rem; margin-bottom: 0; display: flex; align-items: flex-end; }
	.menu-confeccao { margin: 3rem 0 0; }
    #minha-conta #nav-menuConfeccao .btns { margin: -2rem auto 0!important; width: 67%; }
}

@media screen and (max-width:680px) {
	html { padding: 10px; }
	body { margin-bottom:10px }
	header { min-height: 80px; height: 80px; width: calc(100% - 20px); left: 10px; border-top: 10px solid whitesmoke; }
	.encolhe { min-height: 60px; transform: translate(0, -20px); }
    .hidden-sm-down { display: none }
    .hidden-sm-up { display: block  }
    .flip-card { min-width: 100%; height:auto; }
    section { display:block; }
    .titulo-centralizado, .bg-pattern .titulo-centralizado { width: 94%; }
    .img-meio, .img-passos { height: 380px; }
	.bg-pattern { margin: 0; padding: 0; border: 20px solid #FFF; border-top: 0; border-bottom: 0; }
	.bg-pattern h3 { font-size: 22px; line-height: 24px; }
    .contador .dados { margin: 0; }
	.btn-link { font-size: 18px; line-height: 20px; padding-right:30px; }
	.btn-link i { position: absolute; right: 0; }
	.encolhe .logo { width: 230px; margin: 22px auto 0; height: 50px; }
	#wrapper.toggled #sidebar-wrapper .logo { margin: 15px 0 5px; }
	.banner-principal, .banner-meio { margin-top: 80px; }
	.hamburger { right: 5px; top: 20px; } 
	.encolhe .hamburger { right: 10px; top: 30px; } 
	#sidebar-wrapper.navbar { top: -3px; }
	#page-content-wrapper { max-height: 84px; }
	.scale .col-sm-12 { max-width: 100%; }
	footer .col-lg-4 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
	.flip-card img { height: auto; display: block; }
	.titulo-centralizado { width: 90%; }
	.owl-carousel { margin: 0; }
	footer ul b { margin-top:20px; }
	footer ul b:before { content: ""; width: 90%; height: 1px; background-color: rgba(245, 245, 245, 0.15); position: absolute; top: 2px; }
	.copy, .superteia { width: 100%; text-align: center; display: block; }
	.mt-5, .my-5 { margin-top: 0!important; }
	.mapa { margin: 0; }
	.mapa iframe { width: 100%; } 
	.form-contato { margin: 1rem 0; }
	.bg-cinza.p-0 { padding-bottom: 3rem!important; }
	.form-contato .btn-inverte { margin:0 auto; }
	.lista-menu li { padding: 0 1rem; }
	.lista-menu .form-group { padding: 0; }
	.menu-confeccao .nav-link { padding: 10px 1rem; float: none; display: inline-block; position: relative; }
	.menu-confeccao .nav-link:after { bottom:3px;height: 1px; }
	.confeccao p { width: 100%; }
	.confeccaoFilter em { padding-right: 0; width: 100%; display: block; }
	.confeccaoContainer .isotope-item h5, .form-radius label { font-size:14px }
	h3 { font-size: 24px!important; line-height: 26px!important; padding: 0!important; letter-spacing: 1.33px!important; }
	.titulo-full h3, .titulo-centralizado h3, .titulo-menu h3 { padding:0 2rem!important; }
	.btns a { text-align:center; position: relative!important; margin:10px 0!important; width:100%!important; }
	#nav-medidas .col-4, .produto.col-4 { -ms-flex: 0 0 50%!important; flex: 0 0 50%!important; max-width: 50%!important; }
	.produto a { width: 100%; }
	.form-medidas { background-image: none!important; }
	fieldset { margin: 40px 0!important; }
	.banner-principal .titulo b:after, .banner-meio .titulo b:after { height: 5px; top: 25px; left: -2px; }
	fieldset + fieldset { margin-top: 80px!important; }
	.tab-pane { max-width:100% }
	#fale-conosco .col-sm-10, #fale-conosco .col-4 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
	#fale-conosco .col-sm-4 p { text-indent: 0!important; }
	footer { padding: 3rem 0 0; }
	footer .col-lg-4:first-child ul b:before { display: none; }
	#wrapper.toggled #sidebar-wrapper .menu-primario { width: 90%; left: 10px; position: relative; margin-bottom: 10px; }
	.menu-deslogado { width: 80%; position: relative; clear: both; padding-top: 25px; display: block; left: 30px; border-top: 1px solid #e2e2e2; }
	#modal-login-center { top: 0; margin-left: 0; height: 100vh; }
	.modal-content { height: auto; left: 2vw; width: 96vw; }
	.login-box-msg { text-align: center; width: 100%; }
	#btn-login { width: 100%!important; line-height: 2.33!important; letter-spacing: .85px; }
	#btn-login i { margin-right:8px; }
	.pagina-busca .col-sm-5 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
	.card-body .col-4 { margin-top: 2rem; }
	.icon-question-medida { margin-top: -12px!important; margin-right: -8px!important; }
	.form-radius .col-4 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
	.not-found { margin: 0 auto; max-width: 100%; display: block; }
	.not-found p { font-size: 18px; }
	.not-found h2 { font-size: 2rem; line-height: 1.11; font-weight: bold; margin-bottom: 1rem; }
	.not-found a { margin-top: 0; }
	.logo { width: 250px; margin: 10px auto 0; height: 50px; }
	.menu-login { clear: both; position: relative; order: 3; float: left; display: table; width: 100%; }
	.menu-logo { display: table; order: 1; margin: 10px 0; max-width: 80%; padding-bottom: 0; position: relative; border-bottom: 1px solid #e2e2e2; }
	.modal-dialog { margin: .5rem 0; }
	.menu-confeccao { margin: 0 0 2rem; }
	.titulo-full { margin: 2.5rem 0 0; }
	.confeccao h4 { padding: 10px 2rem; letter-spacing: 1px; }
	.confeccao .form-radius { padding: 3rem 0 0; margin: 1.5rem 0; }
	.confeccao .btns { width: 65%; margin-left: 4.75rem!important; }
	.menu-logado { margin-left: 15px; margin-top: 10px; }
	#wrapper.toggled #sidebar-wrapper .menu-principal { border-top: 1px solid #e2e2e2; width: 84%; margin-left: 15px; padding-top: 20px; }
	#wrapper.toggled #sidebar-wrapper .menu-principal a { padding-left: 0; }
	.hamburger.is-open { right: 15px; }
	.form .lista-menu { border: 0; padding: 2rem 0 0; margin: 0 -15px; }
	.lista-menu .form-control { padding-left: 14px; }
	.form .lista-menu { border: 0; padding: 2rem 0 0; margin: 0 -15px; }
	.breadcumbs ul { margin-bottom: 0; }
	.form-contato .form-group { padding-left: 0; }
	.img-confeccao { width: 100%!important; height: auto!important; }
	.titulo-menu { margin: 2rem 0 1rem; }
	.invoice-info .conteudo-invoice .invoice-col.col-xl-6 { margin-bottom: 2rem!important; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
	.invoice-info .conteudo-invoice .img-confeccao { margin-top: 30px; }
	.coluna-botao { border-top: 1px solid #e6e9eb; padding: 3px 6px; background: #f5f5f5; }
	#app { min-height:96vh; }
	.img-confeccao.img-checkout-preview-wrapper { top: 4.22rem; left: -5px; border: 0; }
	.pedido-conteudo .col-sm-8 { -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
	.img-detalhe .divlupa { background-position: top; }
	.pedido-conteudo { margin: 1rem 10px; padding: 2rem 0; max-width: 94%; }
	.monte-camisa { margin: 0 auto 2rem !important; }
	.tab-content .titulo-menu { margin: 0 auto; width: 100%; }
	.ordena .ord1 { order:1; }
	.ordena .ord2 { order:2; }
	.ordena .ord3 { order:3; }
	.img-padrao { width: 60%!important; }
	.produto .img-confeccao { min-height: 100px; margin: 0; }
	.ordena .ord1 .row.col-lg-12 { width: 110%; }
	#camisa { position:relative!important; }
	.monte-camisa #camisa, .monte-camisa #camisa_base img, .monte-camisa #gola_base img, .monte-camisa #bolso_base img, .monte-camisa #punho_base img { width: 170px!important; height: 190px!important; margin: auto!important; top: 0; }
	.form-radio label { line-height:1; }
	.form-radio .col-sm-12 label { width: 100%; border-top: 1px solid #ececec; padding-top: 15px; }
	.b-1 { width: 100%; padding-top: 15px; }
	.link-item.produto { width:100%; }
	.btn-black { font-size: 12px; min-height: 44px; }
}



@media screen and (max-width:600px) {

}

@media screen and (max-width:480px) {
	.redes-sociais li { margin-left: 10px; }
	iframe { max-height: 400px; }
}

@media screen and (max-width:420px) {
	h3 { white-space: normal; }
	h3:after { display: none; }
}

@media screen and (max-width:380px) {

}

@media screen and (max-width:320px) {

}

@media (max-width: 680px) {
	.confeccao .btns.hidden-sm-down {
		display: none!important;
	}
}

/* remover posteriormente */

/* remova ao remover a tarja vermelha */
/*.encolhe { margin-top: 40px; }
@media screen and (max-width: 680px) {
	header { margin-top: 20px; }
	.tarja-vermelha p { line-height: 1; padding: 0; font-size: 13px; }
}*/

