<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6 col-sm-12 br-1 mt-5">
                        <div id="sua-visita">
                            <div id="title-agende-sua-visita">
                                <p>Agende sua visita</p>
                            </div>
                            <div id="desc-agente-sua-visita" class="col-11 col-sm-12">
                                <p>Conte com ajuda da nossa equipe de especialistas para te atender pessoalmente!</p>
                                <p>Durante a visita nossos profissionais podem <a href="/confeccao" class="link-building">colher</a> as suas medidas e apresentar as opções de tecidos, cores, colarinhos, punhos e outros detalhes que podem ser melhor apresentados pessoalmente.</p>
                                <p>Além disso, nossos especialistas podem assessorar a sua escolha e indicar a melhor <a href="/confeccao" class="link-building">configuração de camisa</a>, de acordo com o seu perfil e biotipo. Agende já a sua visita!</p>

                                <div id="banner-visita">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-12 mt-5"> 
                        <div class="col-lg-12">
                            <form @submit.prevent="store()" class="row col-12 form-radius form-contato">
                                <div class="form-group col-6">
                                    <label for="nome" class="focus">Nome</label>
                                    <input type="text" class="form-control" id="nome" v-model="contatoForm.nome" required>
                                </div>
                                <div class="form-group col-6">
                                    <label for="sobrenome" class="focus">Sobrenome</label>
                                    <input type="text" class="form-control" id="sobrenome" v-model="contatoForm.sobrenome" required>
                                </div>
                                <div class="form-group col-12">
                                    <label for="email" class="focus">E-mail</label>
                                    <input type="email" class="form-control" id="email" v-model="contatoForm.email" required>
                                </div>
                                <div class="form-group col-6">
                                    <label for="telefone" class="focus">Telefone</label>
                                    <input type="text" class="form-control" id="telefone" v-model="contatoForm.telefone" v-mask="'(##) ####-####'">
                                </div>
                                <div class="form-group col-6">
                                    <label for="celular" class="focus">Celular</label>
                                    <input type="text" class="form-control" id="celular" v-model="contatoForm.celular" v-mask="'(##) #####-####'">
                                </div>
                                <div class="form-group col-12" style="display: none;">
                                    <label for="assunto" class="focus">Assunto</label>
                                    <select v-model="contatoForm.assunto" class="form-control select">
                                        <option value="agendar visita" selected>Agendar Visita</option>
                                    </select>
                                </div>
                                <div class="form-group col-12">
                                    <label for="mensagem" class="focus">Mensagem</label>
                                    <textarea v-model="contatoForm.mensagem" class="form-control" id="mensagem" rows="8"></textarea>
                                </div>
                                <button type="submit" class="btn-inverte">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            contatoForm: new Form({
                id: '',
                user_id: null,
                nome: '',
                sobrenome: '',
                email: '',
                telefone: '',
                celular: '',
                assunto: '',
                mensagem: '',
            })
        }
    },

    methods: {
        store() {
            this.contatoForm.post('/api/contato').then(res => {
                toast({
                    type: 'success',
                    title: 'Obrigado por entrar em contato, responderemos o mais breve possível',
                    timer: 6000
                })
                this.contatoForm.reset()  
            })
        }
    }
}
</script>

<style>

</style>
