<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                        <ul>
                            <li>
                            <a href="/minhaconta" disabled>Minha conta</a>
                            </li>
                        </ul>
                        <a href="/" class="link-small">Voltar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-menu text-center">
                            <h2>Preencha com as suas medidas</h2>
                            <p></p>
                        </div>
                        <form class="form-medidas" style="background-image:url(media/images/galeria/moldes/medidas.png);">
                            <div class="row col-12 lista-menu">
                                <div class="col-4 col-sm-12">
                                    <fieldset>
                                        <legend>Braços</legend>
                                        <div class="form-group">
                                            <label for="medida-contorno">Contorno</label>
                                            <input type="text" class="form-control medida" id="medida-contorno" name="medida-contorno" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>
                                        <div class="form-group">
                                            <label for="medida-comprimento">Comprimento</label>
                                            <input type="text" class="form-control medida" id="medida-comprimento" name="medida-comprimento" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <legend>Tórax</legend>
                                        <div class="form-group">
                                            <label for="medida-largura">Largura</label>
                                            <input type="text" class="form-control medida" id="medida-largura" name="medida-largura" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-4 col-sm-12">
                                    <span></span>
                                </div>
                                <div class="col-4 col-sm-12">
                                    <fieldset>
                                        <legend>Tronco</legend>
                                        <div class="form-group">
                                            <label for="medida-frente">Frente</label>
                                            <input type="text" class="form-control medida" id="medida-frente" name="medida-frente" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>                
                                        <div class="form-group">
                                            <label for="medida-costas">Costas</label>
                                            <input type="text" class="form-control medida" id="medida-costas" name="medida-costas" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <h4>Se necessário peça ajuda para alguém ou agende com um de nossos alfaiates clicando <a href="contato.php">aqui</a></h4>
                            <a class="btn-inverte" href="#">Salvar</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {

    
    }
</script>

<style>

</style>
