<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                        <ul>
                            <li>
                                <router-link to="/meusdados-enderecos">Editar endereço no bairro {{ endereco.bairro }}</router-link>
                            </li>
                        </ul>
                        <router-link to="/meusdados-enderecos" class="link-small">Voltar</router-link>
                    </div>
                </div>
                

                <div class="mt-5 container">
                    <div class="row mt-5">
                        <div class="col-8 offset-2">
                            <label for="cep">CEP</label>
                            <input @blur.prevent="cepCorreios()" class="inputForm form-control" type="text" id="cep" v-model="endereco.cep" placeholder="CEP" />
                        </div>
                        <div class="col-8 offset-2">
                            <label for="bairro">Bairro</label>
                            <input class="inputForm form-control" type="text" id="bairro" v-model="endereco.bairro" placeholder="Bairro" />
                        </div>
                        <div class="col-8 offset-2">
                            <label for="cidade">Cidade</label>
                            <input class="inputForm form-control" type="text" id="cidade" v-model="endereco.cidade" placeholder="Cidade" />
                        </div>
                        <div class="col-8 offset-2">
                            <label for="rua">Rua</label>
                            <input class="inputForm form-control" type="text" id="rua" v-model="endereco.rua" placeholder="Rua" />
                        </div>
                        <div class="col-8 offset-2">
                            <label for="numero">Numero</label>
                            <input class="inputForm form-control" type="text" id="numero" v-model="endereco.numero" placeholder="Numero" />
                        </div>
                        <div class="col-8 offset-2">
                            <label for="uf">UF</label>
                            <input class="inputForm form-control" type="text" id="uf" v-model="endereco.uf" placeholder="UF" />
                        </div>
                        <div class="col-8 offset-2">
                            <label for="observacoes">Observações</label>
                            <input class="inputForm form-control" type="text" id="observacoes" v-model="endereco.observacoes" placeholder="Observações" />
                        </div>
                        <div class="col-8 offset-2">
                            <label for="tipo">Tipo</label>
                            <select 
                                class="form-control select"  
                                id="tipo" 
                                v-model="endereco.tipo" 
                            >
                                <option value selected></option>
                            
                                <option value="1">Principal</option>
                                <option value="2">Secundário</option>
                            </select>
                        </div>
                    </div>
                    <a @click.prevent="update()" class="btn-inverte" href="#">Editar</a>
                </div>

            </div>

        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            endereco: {}
        }
    },
    methods: {
        show() {
            axios.get(`/api/endereco/${this.$route.params.id}`).then(res => {
                this.endereco = res.data
            })
        },

        update() {
            axios.put(`/api/endereco/${this.endereco.id}`, this.endereco).then(res => {
                this.$router.push({ path: '/meusdados-enderecos' })
                toast({type: 'success', title: 'Endereço salvo com sucesso.'})
            })
        },

        cepCorreios() {
            axios.get(`/api/endereco/cepcorreios/${this.endereco.cep}`).then(res=> {
                this.endereco.bairro = res.data.bairro;
                this.endereco.cidade = res.data.localidade;
                this.endereco.rua = res.data.logradouro;
                this.endereco.uf = res.data.uf;
            })
        }
    },

    created() {
        this.show()
    },
    mounted(){
        if(user === null) {
            window.location.href = "/login";
        }
    }
}
</script>

<style>
</style>
