<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                        <ul>
                            <li>
                                <router-link to="/minhaconta">Meus endereços</router-link>
                            </li>
                        </ul>
                        <router-link to="/minhaconta" class="link-small">Voltar</router-link>
                    </div>
                </div>

                <table class="table table-hover tabela-estilizada">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">bairro</th>
                            <th scope="col">cidade</th>
                            <th scope="col">rua</th>
                            <th scope="col">numero</th>
                            <th scope="col">cep</th>
                            <th scope="col">uf</th>
                            <th scope="col">tipo</th>
                            <th scope="col">observacoes</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(endereco, index) in enderecos.data" :key="endereco.id">
                            <td><span>{{ index + 1 }}</span></td>
                            <td><span>{{ endereco.bairro }}</span></td>
                            <td><span>{{ endereco.cidade }}</span></td>
                            <td><span>{{ endereco.rua }}</span></td>
                            <td><span>{{ endereco.numero }}</span></td>
                            <td><span>{{ endereco.cep }}</span></td>
                            <td><span>{{ endereco.uf }}</span></td>
                            <td><span>{{ endereco.tipo == 1 ? 'Principal' : 'Secundário' }}</span></td>
                            <td><span>{{ endereco.observacoes }}</span></td>
                            
                            <td>
                                <router-link :to="`/meusdados-enderecos/edit/${ endereco.id }`" class="ferramenta">
                                    <i class="fas fa-pencil-alt"></i>
                                </router-link>
                                <a v-on:click.prevent="deleteUser(endereco.id, endereco.bairro)" href="#" class="ferramenta">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            enderecos: {}
        }
    },
    methods: {
        index() {
            axios.get('/api/endereco').then(res => {
                this.enderecos = res.data
            })
        },

        deleteUser(id, bairro){
                swal({
                    title: `Deletar endereço no bairro ${bairro}?`,
                    text: "Você não será capaz de reverter isto!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim!'
                    }).then((result) => {
                        // Send request to the server
                        if (result.value) {
                            axios.delete('/api/endereco/'+id).then(()=>{
                                toast({
                                    type: 'success',
                                    title: `Seu endereco no bairro ${bairro} foi deletado com sucesso`
                                })
                                this.index()
                            }).catch(()=> {
                                swal("Failed!", "Ocorreu um erro em sua requisição, por favor contate o suporte.", "warning");
                            });
                        }
                    })
            },
    },

    created() {
        this.index()
    },
    mounted(){
        if(user === null) {
            window.location.href = "/login";
        }
    }
}
</script>

<style>

</style>
