
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import '~pc-bootstrap4-datetimepicker/src/sass/bootstrap-datetimepicker-build.css';
@import '~owl.carousel/src/scss/_core.scss';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@media print {
  .nav.nav-tabs li:not(.active){
      display: none;
  }
  .invoice{
    padding: 10px 20px;
  }

  .invoice{
    background-position: center center;
    background-repeat: no-repeat;
  }

  .table-responsive table{
    background-color: transparent !important;
  }

  .main-footer:not(.active){
    display: none;
  }

}

@page {
  margin: 0;
}