<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Siqueira Camisas</h4>
                            <h3>Como Comprar</h3>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="card-body" style="text-align: center;">

                            <h3>Monte sua Camisa</h3>
                            <p style="text-indent:1.33rem;">Nós da Siqueira Camisas, tratamos você de forma personalizada, desde o início, até o fim.</p>
                            <p style="text-indent:1.33rem;">Para facilitar a sua compra, preparamos uma experiência em várias etapas, onde você poderá selecionar e visualizar o máximo de detalhes de cada camisa.</p>

                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Suas Medidas:</span> A primeira etapa consiste em informar ou confirmar suas medidas (caso já tenha informado antes, o sistema irá alimentar estas informações, para que você não precise inserir novamente a cada compra). Caso tenha dificuldades em como tirar suas medidas, o site oferece um vídeo explicativo para cada etapa de medida, clicando no olho dentro do seu respectivo campo de informação.</p>

                            <p style="text-indent: 1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Colarinho:</span> Você deverá selecionar a sua opção de colarinho. Ao clicar em um colarinho, você poderá verificar a sua visualização aproximada, no manequim 3D localizado ao lado esquerdo da tela.</p>

                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Punho:</span> Assim como no colarinho, ao escolher um punho e clicar nele, você poderá verificar a sua visualização aproximada, no manequim 3D localizado ao lado esquerdo da tela.</p>

                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Detalhes:</span> Esta etapa consiste em dar os acabamentos finais a camisa, selecionando os seus detalhes, como se deseja ou não utilizar bolso, se a sua camisa será SLIM ou Normal e ainda optar por inserir ou não um Monograma (Iniciais).</p>
                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Fio:</span> O fio define a qualidade de sua camisa. Quanto maior o preço do fio, mais nobre ele é.</p>
                            
                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Tecidos:</span> A primeira etapa consiste em informar ou confirmar as suas medidas (caso já tenha informado antes, o sistema irá alimentar estas informações, para que você não precise inserir novamente a cada compra). Caso tenha dificuldades em como tirar suas medidas, o site oferece um vídeo explicativo para cada etapa de medida, clicando no olho dentro do seu respectivo campo de informação.</p>


                            <h3>Meu Carrinho</h3>
                            <p style="text-indent:1.33rem;">Você está no seu Carrinho de Compras.<br>Aqui você obtém diversas informações sobre a sua compra:</p>

                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Descrição:</span><br/> Indica qual produto você está comprando.</p>

                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Quantidade:</span><br/> Quantas unidades de cada produto.</p>

                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Atenção:</span><br/> Os produtos possuem quantidades limitadas de compra, que variam de produto a produto.</p>

                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Preço unitário:</span><br/> O valor do produto.</p>

                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Total:</span><br/> A soma da compra.</p>

                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">Valor prova:</span><br/> Para sua comodidade, nós encaminhamos a camisa pronta para que possa provar e avaliar as características do produto. Essa é uma sugestão para os clientes que compram pela primeira vez na Siqueira Camisas e/ou adquirem várias unidades, pois só finalizaremos seu pedido depois de feita a prova. É importante ressaltar que o envio da prova acrescenta um valor ao total da compra.</p>

                            <h3>Cadastro (identificação/login)</h3>
                            <p style="text-indent:1.33rem;">Você está na página de Identificação.</p>
                            <p style="text-indent:1.33rem;">Se você já é cliente da Siqueira Camisas, preencha seu endereço de e-mail no campo indicado e em seguida informe sua senha cadastrada no site.</p>
                            <p style="text-indent:1.33rem;">Se essa é sua primeira compra na Siqueira Camisas, é necessário realizar seu cadastro na opção: “ Não sou cadastrado” botão "Novo Usuário".</p>
                            <p style="text-indent:1.33rem;">Se essa é sua primeira compra, preencha os campos solicitados. Os campos marcados com * são de preenchimento obrigatório. Você deverá criar uma senha, que será utilizada em todas as suas compras na Siqueira Camisas. Guarde-a com cuidado.</p>
                            <p style="text-indent:1.33rem;">Clique no botão ""SALVAR CADASTRO"", para continuar.</p>


                            <h3>Finalizar Compra</h3>
                            <p style="text-indent:1.33rem;">Está é a última página antes de concluir seu pedido.</p>

                            <h3>Endereço de Entrega</h3>
                            <p style="text-indent:1.33rem;">Se você já é cliente da Siqueira Camisas, selecione o endereço de entrega do seu pedido ou “Cadastre um Novo endereço”, e clique em "Salvar".</p>
                            <p style="text-indent:1.33rem;">Após escolher o endereço de entrega, escolha o serviço de frete.</p>
                            <p style="text-indent:1.33rem;">Confira novamente os dados de sua compra: Descrição, Quantidade, Preço Unitário, Preço Total, e Prazo de Entrega.</p>
                            <p style="text-indent:1.33rem;">Escolha a forma de pagamento. Leia atentamente as informações descritas em cada forma de pagamento para saber como funciona. </p>
                            <p style="text-indent:1.33rem;">Após fechar seu pedido, não será possível nenhuma alteração. Após escolher a forma de pagamento, clique no botão "Fechar Pedido".</p>
                            <p style="text-indent:1.33rem;">Anote o número do seu pedido. Você receberá um e-mail informando todos os dados do seu pedido.</p>
                            <p style="text-indent:1.33rem;">A Siqueira Camisas respeita a privacidade dos seus dados e é um site 100% seguro.</p>


                            <h3>Problemas para acessar/comprar<br> na Siqueira Camisas</h3>
                            <p style="text-indent:1.33rem;">Primeiro, entre em contato com seu provedor e questione o ocorrido. Se mesmo após o contato não conseguir navegar pela página da Siqueira Camisas, tente alguns truques que ajudam a melhorar a velocidade da internet. Faça uma limpeza periódica nos arquivos Cookies e Off Line:</p>
                            <p style="text-indent:1.33rem;">Os arquivos Cookies são gerados automaticamente dentro de sua máquina, deixando informações sobre você, dentro de um arquivo (cookie). Normalmente este arquivo está do Drive C: com o nome "Cookies". Para limpar seus Cookies, selecione em seu browser Ferramentas, e a seguir Opções da Internet. Clique na Guia Geral e no botão Deletar Cookies.</p>
                            <p style="text-indent:1.33rem;">Se mesmo assim a conexão não melhorar, pressione simultaneamente as teclas CTRL e F5. Isso faz com que as informações sejam atualizadas.</p>
                            <p style="text-indent:1.33rem;">Se mesmo com estes procedimentos, você ainda não conseguir acessar e comprar na Siqueira Camisas solicite ajuda em seu provedor.</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
</script>

<style>

</style>
