<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Siqueira Camisas</h4>
                            <h3>Compra Segura</h3>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="card-body" style="text-align: center;">
                            <p style="text-indent: 1.33rem;">Em nosso site você compra com total tranquilidade, devido ao nosso certificado de segurança, que codifica as informações que trafegam entre você e nosso site, utilizando a mais alta tecnologia disponível.</p>
                            <p style="text-indent:1.33rem;">Assim que recebemos seus dados, logo os transferimos para nossa sede fora da Internet, através de um seguro sistema de transmissão. Este procedimento não permite que terceiros tenham acesso às suas informações pessoais e aos dados de seu cartão de crédito.</p>
                            <p style="text-indent:1.33rem;">Para garantir sua segurança, não guardamos as informações referentes ao seu cartão de crédito após finalizado o processo de sua compra.</p>
                            <p style="text-indent:1.33rem;">Tudo isto é feito para que você possa ter ainda mais conforto e tranquilidade ao comprar em nosso site.</p>
                            
                            <h3>Privacidade</h3>
                            <p style="text-indent:1.33rem;">Temos um enorme apreço pela individualidade e privacidade de   nossos clientes, tendo o máximo respeito e comprometimento pelo sigilo de suas informações.</p>

                            <h3>Uso das Informações</h3>
                            <p style="text-indent:1.33rem;">As informações fornecidas por você serão mantidas em sigilo e serão utilizadas apenas para agilizar sua relação de cliente com nossa loja. Entre outras coisas, desejamos ajudá-lo a encontrar as informações que você precisa mais rapidamente no nosso site e informá-lo sobre atualizações de produtos, ofertas especiais e novos serviços da loja.</p>
                            <p style="text-indent:1.33rem;">Todas as informações consideradas sigilosas, para efeito desta política, serão usadas exclusivamente por nós, objetivando o aprimoramento de nossa relação com você.</p>
                            <p style="text-indent:1.33rem;">Informações pessoais e individuais não serão vendidas ou repassadas por nossa loja a terceiros sob nenhuma hipótese!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
</script>

<style>

</style>
