<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Siqueira Camisas</h4>
                            <h3>Informações de Entrega</h3>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="card-body" style="text-align: center;">
                            <p style="text-indent:1.33rem;">Em caso de violação, recuse o recebimento do produto e entre em contato com a Siqueira Camisas através do nosso canal de atendimento pelo e-mail: <a href="mailto:contato@siqueiracamisas.com.br">contato@siqueiracamisas.com.br</a></p>

                            <h3>Envio para todo o território nacional:</h3>
                            <p style="text-indent:1.33rem;">A Siqueira Camisas envia produtos para todo o país, portanto, para que seu produto chegue com segurança, informe o endereço completo com todos os complementos necessários.</p>
                            <p style="text-indent:1.33rem;">A empresa não se responsabiliza por endereços incompletos ou informados de forma incorreta.</p>
                            <p style="text-indent:1.33rem;">Caso o produto retorne à empresa, será cobrado novo frete para despacho.</p>
                            <p style="text-indent:1.33rem;">Em caso de cancelamento do pedido, apenas o valor do produto será reembolsado.</p>
                            <p style="text-indent:1.33rem;">A Siqueira Camisas envia todos os seus produtos rigorosamente dentro do prazo. Porém, o cliente deve estar ciente de que, ao realizar suas compras em nosso site contrata também o serviço de entrega dos Correios, sendo que eventuais atrasos podem ocorrer. Nesses casos, a empresa   fará   o   acompanhamento   do   pedido   após   ser   notificada   pelo   site <b>www.siqueiracamisas.com.br</b>.</p>
                            <p style="text-indent:1.33rem;">Em  caso  de  extravio,   a  Siqueira  Camisas  se   responsabiliza   por  enviar  nova   encomenda, observando novo prazo dos Correios. A entrega dos produtos é realizada somente pelos Correios. A Siqueira Camisas possui contrato com os Correios e, por isso, oferece aos seus clientes menor preço e melhor prazo na entrega de seus produtos. O cliente pode consultar o andamento da entrega através do código de rastreamento fornecido ao cliente.</p>
                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">IMPORTANTE: </span> O prazo de entrega varia de acordo com a região do Brasil, o volume e peso do pedido.</p>
                            <h3>Serviços de Entrega Disponíveis: </h3>
                            <p style="text-indent:1.33rem;">A Siqueira Camisas oferece aos seus clientes os serviços de entrega PAC e SEDEX. Estes serviços são exibidos no ato do fechamento da compra. São considerados o peso, as dimensões e o valor do produto para calcular o frete.</p>

                            <h3>CORREIOS - ENTENDA OS PRAZOS DE ENTREGA </h3>
                            <p style="text-indent:1.33rem;">Os prazos de entrega informados pela loja virtual da Siqueira Camisas são baseados nos prazos de entrega do Correios e são contados unicamente em dias úteis, ou seja: de segunda a sexta e começa no dia seguinte a postagem.</p>
                            <p style="text-indent:1.33rem;text-decoration: underline;">Sábados, domingos e feriados não são dias úteis e não são contabilizados no prazo de entrega.</p>
                           
                            <h3>Exemplo: </h3>
                            <p style="text-indent:1.33rem;">O cliente faz a compra em uma quinta-feira e a loja virtual informa prazo de entrega de 4 dias úteis. O produto é postado em até 3 dias úteis após a aprovação de pagamento.</p>
                            <p style="text-indent:1.33rem;">Sábado e domingo não são dias úteis, portanto o prazo de entrega começa a ser contado na quarta-feira e somando-se os 4 dias úteis, o prazo de entrega será até sexta-feira.</p>
                            <p style="text-indent:1.33rem;">Se houver algum feriado dentro do prazo de entrega, seja nacional, estadual ou municipal, acrescentar mais um dia.</p>
                            <p style="text-indent:1.33rem;">O prazo de entrega neste caso seria até a sexta-feira. Pode haver atraso na entrega ocasionado por fenômenos naturais (chuvas, enchentes, etc), assim como restrição de entrega em locais com alto índice de assalto a veículos dos Correios, conforme expressamente descrito no Código Civil (Caso Fortuito e Força Maior).</p>
                            <p style="text-indent:1.33rem;">Ao realizar a compra em nosso site, verificar o prazo de entrega informado no simulador de frete no carrinho de compras.</p>
                            <p style="text-indent:1.33rem;">O código de rastreamento para acompanhar a entrega é enviado AUTOMATICAMENTE no e-mail cadastrado na compra em até 24 horas úteis após a postagem do produto.</p>
                            <p style="text-indent:1.33rem;"><span style="font-size: 1.067rem; text-transform: uppercase; letter-spacing: 2px; color: #222222;">IMPORTANTE: </span> Toda a logística de distribuição de encomendas é feita pelos Correios e não depende de nós. Assim, as reclamações por atraso na entrega só podem ser feitas nos Correios e os prazos de entrega do objeto estiverem expirados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
</script>

<style>

</style>
