<template>
    <div style="margin-top: 70px;">
        <section id="faq" class="faq pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Escolha os tecidos e as cores e muito mais!</h4>
                            <h3>Dúvidas Frequentes</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 offset-1 offset-sm-0">
                        <div class="accordion" id="ajuda">
                            <div class="card">
                                <div class="card-header" id="topo-pergunta01">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pergunta-01" aria-expanded="true" aria-controls="pergunta-01">
                                    Como funciona o atendimento? <i class="fa fa-plus"></i>
                                    </button>
                                </div>

                                <div id="pergunta-01" class="collapse show" aria-labelledby="topo-pergunta01" data-parent="#ajuda">
                                    <div class="card-body">
                                        <p>Você entra em contato conosco, via telefone ou site para a agendar uma visita. Pessoalmente conversamos sobre o projeto de suas camisas. Decidindo detalhes como tecido e tamanhos, começamos a produção.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="topo-pergunta02">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#pergunta-02" aria-expanded="false" aria-controls="pergunta02">
                                    Em quanto tempo recebo minha camisa? <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div id="pergunta-02" class="collapse" aria-labelledby="topo-pergunta02" data-parent="#ajuda">
                                    <div class="card-body">
                                        <p>A partir da aprovação e após tirarmos as medidas, começamos a produção. A camisa fica pronta em até 20 dias úteis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="topo-pergunta03">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#pergunta-03" aria-expanded="false" aria-controls="pergunta03">
                                    Qual o preço de uma camisa sob medida? <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div id="pergunta-03" class="collapse" aria-labelledby="topo-pergunta03" data-parent="#ajuda">
                                    <div class="card-body">
                                    <p>O valor de uma camisa sob medida depende de diversos fatores, principalmente do tecido escolhido. Para mais informações, solicite um orçamento conosco.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="topo-pergunta04">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#pergunta-04" aria-expanded="false" aria-controls="pergunta-04">
                                    Como entro em contato? <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div id="pergunta-04" class="collapse" aria-labelledby="topo-pergunta3" data-parent="#ajuda">
                                    <div class="card-body">
                                    <p>Telefone: (11) 2614-5574 (escritório)</p>
                                    <p>Celular/WhatsApp: (11) 98346-2226</p>
                                    <p>Site: www.siqueiracamisas.com.br</p>
                                    <p>E-mail: info@siqueiracamisas.com.br</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-full">
                            <h3>Ainda tem alguma dúvida?</h3>
                            <a @click="$router.push('contato')" href="" class="btn-inverte">Entre em contato</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    </div>
</template>

<script>
// import colarinhosComponent from './components/colarinhosComponent'
// import punhosComponent from './components/punhosComponent'
// import tecidosComponent from './components/tecidosComponent'

export default {
    components: {
        // colarinhosComponent,
        // punhosComponent,
        // tecidosComponent
    }
}
</script>

<style scoped>

</style>
