<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Siqueira Camisas</h4>
                            <h3>Formas de Pagamento</h3>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="card-body" style="text-align: center;">
                            <p style="text-indent:1.33rem;">
                                Para facilitar a sua compra, nosso sistema de pagamento aceita transações via cartão de crédito em até 3x sem juros.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
</script>

<style>

</style>
