<template>
    <div>
        <div id="video_banner">
            <video
                title="Teaser"
                id="banners"
                style="width: 100%; height: 100%!important;"
                class="carousel slide banner-principal parallax"
                data-speed="8"
                data-type="background"
                data-ride="carousel"
                src="video/teaser-siqueira.mp4"
                autoplay="true"
                muted="muted"
                loop="true">
            </video>

        </div>
        <!-- Banners

            <video id="banners" style="width: 100%" class="carousel slide banner-principal parallax" data-speed="8" data-type="background" data-ride="carousel" autoplay loop>
                <source src="video/teaser-siqueira.mp4" type="video/mp4">
            </video>

        <div id="banners" class="carousel slide banner-principal parallax" data-speed="8" data-type="background" data-ride="carousel" style="background-image:url(media/images/banners/banner_principal.png);">
            <div class="mascara"></div>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="col-md-6 offset-1">
                            <h2 class="titulo">Camisas masculinas sob medida.</h2>
                            <p class="descricao">Tecidos nacionais e importados, com foco na qualidade e resultado final do seu produto</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#quem-somos" class="ancora down bounce"><i class="fa fa-angle-down"></i></a>
        </div> -->

        <!-- Quem Somos -->
        <section id="quem-somos">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 offset-1 offset-sm-0 v-center">
                        <div class="dados-destaque">
                            <h4>Sobre</h4>
                            <h3>Porque a Siqueira é diferente das demais camisarias?</h3>
                            <p>Experiência é tudo quando valorizamos o resultado dos produtos. Por isso, a Siqueira trabalha com camiseiros profissionais.</p>
                            <p>Para confeccionar as camisas sob medida, agendamos uma visita em que o cliente pode escolher os tipos de tecido ou, se preferir, realizar a compra online, com toda a segurança e praticidade que só a Siqueira oferece. E o melhor: sem precisar abrir mão de um serviço personalizado.</p>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                        <div class="flip-card">
                            <!-- <div class="flip-card-inner"> -->
                                <div class="flip-card-front imagem-destaque">
                                    <img src="media/images/internas/cabide.png" alt="Destaque" />
                                </div>
                                <!-- <div class="flip-card-back imagem-destaque">
                                    <img src="media/images/internas/cabide_verso.png" alt="Destaque" />
                                </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="a-empresa">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Sobre</h4>
                            <h3>Nossa Trajetória</h3>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 offset-2 offset-sm-0">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="owl-carousel owl-sobre">
                                    <div class="item">
                                        <a href="javascript:void(0)">
                                            <figure>
                                                <img src="media/images/internas/alfaiate.jpg" alt="Sobre Nós" />
                                                <!--figcaption>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</figcaption-->
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="javascript:void(0)">
                                            <figure>
                                                <img src="media/images/internas/carla_02.jpg" alt="Sobre Nós" />
                                                <!--figcaption>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</figcaption-->
                                            </figure>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 offset-1 offset-sm-0">
                                <div class="dados-destaque empresa">
                                    <p>Tudo começou com a história de Carla Siqueira que, com 46 anos de idade, resolveu unir sonhos, aprendizado e inovação. Depois de trabalhar 25 anos no mercado financeiro, Carla iniciou estudos e pesquisas sobre costura, modelagem e tecidos.</p>
                                    <p>Hoje, ela comanda uma equipe de camiseiros profissionais, que possuem grande experiência na área e trabalham diariamente para que todo o trabalho manual saia perfeitamente. As palavras de ordem são qualidade e durabilidade.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Escala Destaque -->
        <section id="escala-destaque" class="scale pt-0 home-scale-banners-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 p-0">
                        <div class="img-meio">
                            <span class="img-scale" style="background-image:url(media/images/banners/monte_camisa.jpg);"></span>
                            <div class="img-conteudo">
                                <h3>Monte sua Camisa</h3>
                                <router-link to="/confeccao" class="btn btn-padrao">Monte sua camisa</router-link>
                                <!--a @click.prevent="$router.push('confeccao')" href="#" data-target="#confeccao" class="btn btn-padrao">Monte sua camisa</a-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 p-0">
                        <div class="img-meio">
                            <span class="img-scale" style="background-image:url(media/images/banners/agende_visita.jpg); background-position: 0 -10px"></span>
                            <div class="img-conteudo">
                                <h3>Agende sua Visita</h3>
                                <router-link to="/visita" class="btn btn-padrao">Agende sua visita</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Como funciona -->
        <section id="como-funciona" class="bg-pattern">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Como funciona</h4>
                            <h3>COMO FUNCIONA NOSSO PROCESSO DE CRIAÇÃO</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Passos -->
        <section id="passos" class="passos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 bg-cinza p-0 offset-lg-3 offset-md-3">
                        <div class="titulo-full">
                            <h3>Sua camisa em <span>4 passos (rápido e fácil)</span></h3>
                        </div>
                        <div class="contador">
                            <span class="dados">
                                <b class="num">1</b>
                                <img src="media/images/icones/ico_passo1.png" alt="Ícone Passos" />
                                <h5>Escolha o tecido</h5>
                                <p>Selecione o tecido que mais lhe agrade.</p>
                            </span>
                            <span class="dados">
                                <b class="num">2</b>
                                <img src="media/images/icones/ico_passo2.png" alt="Ícone Passos" />
                                <h5>Defina o modelo</h5>
                                <p>Escolha o modelo perfeito para você.</p>
                            </span>
                            <span class="dados">
                                <b class="num">3</b>
                                <img src="media/images/icones/ico_passo3.png" alt="Ícone Passos" />
                                <h5>Aguarde</h5>
                                <p>Aguarde a confecção do seu produto.</p>
                            </span>
                            <span class="dados">
                                <b class="num">4</b>
                                <img src="media/images/icones/ico_passo4.png" alt="Ícone Passos" />
                                <h5>Use</h5>
                                <p>O produto estará disponível para sua utilização.</p>
                            </span>
                        </div>
                        <a @click="$router.push('confeccao')" href="" class="btn-inverte">Monte sua camisa</a>
                    </div>
                    
                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                        <span class="img-passos" style="background-image:url(media/images/internas/quatro_passos.jpg);"></span>
                    </div> -->
                </div>
            </div>
        </section>

        <!-- Colarinhos -->
        <colarinhosComponent></colarinhosComponent>

        <!-- Punhos -->
        <punhosComponent></punhosComponent>

        <!-- Tecidos -->
        <tecidosComponent></tecidosComponent>

        <!-- Parallax -->
        <section id="parallax-meio" class="banner-meio parallax-meio v-center" data-speed="4" data-type="background" style="background-image:url(media/images/internas/20191004_150652.jpg); background-size: 100%; background-position: 0px -750px;">
            <div class="mascara"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="img-meio">
                            <div class="img-conteudo">
                                <h3>Monte sua Camisa</h3>
                                <a @click="$router.push('contato')" href="" class="btn btn-padrao">Agende sua visita</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FAQ -->
        <!-- <section id="faq" class="faq pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Escolha os tecidos e as cores e muito mais!</h4>
                            <h3>Dúvidas Frequentes</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="accordion" id="ajuda">
                            <div class="card">
                                <div class="card-header" id="topo-pergunta01">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pergunta-01" aria-expanded="true" aria-controls="pergunta-01">
                                    Como funciona o atendimento? <i class="fa fa-plus"></i>
                                    </button>
                                </div>

                                <div id="pergunta-01" class="collapse show" aria-labelledby="topo-pergunta01" data-parent="#ajuda">
                                    <div class="card-body">
                                    <p>Você entra em contato conosco, nós agendamos uma visita e conversamos sobre o projeto da sua camisa. Decidindo detalhes como tecido e tamanhos, começamos a produção.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="topo-pergunta02">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#pergunta-02" aria-expanded="false" aria-controls="pergunta02">
                                    Quanto tempo a camisa demora para ficar pronta? <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div id="pergunta-02" class="collapse" aria-labelledby="topo-pergunta02" data-parent="#ajuda">
                                    <div class="card-body">
                                        <p>A partir da aprovação e após tirarmos as medidas, começamos a produção. A camisa fica pronta em até 15 dias úteis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="topo-pergunta03">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#pergunta-03" aria-expanded="false" aria-controls="pergunta03">
                                    Qual o preço de uma camisa sob medida? <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div id="pergunta-03" class="collapse" aria-labelledby="topo-pergunta03" data-parent="#ajuda">
                                    <div class="card-body">
                                    <p>O valor de uma camisa sob medida depende de diversos fatores, principalmente do tecido escolhido. Para mais informações, solicite um orçamento conosco.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="topo-pergunta04">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#pergunta-04" aria-expanded="false" aria-controls="pergunta-04">
                                    Por onde posso entrar em contato? <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div id="pergunta-04" class="collapse" aria-labelledby="topo-pergunta3" data-parent="#ajuda">
                                    <div class="card-body">
                                    <p>Telefone: (11) 2614-5574 (escritório)</p>
                                    <p>Celular/WhatsApp: (11) 98346-2226</p>
                                    <p>E-mail: info@siqueiracamisas.com.br</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-full">
                            <h3>Ainda tem alguma dúvida?</h3>
                            <a @click="$router.push('contato')" href="" class="btn-inverte">Entre em contato</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <section id="galeria" class="galeria p-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-full">
                            <h6><i class="fab fa-instagram"></i> @siqueiracamisas</h6>
                        </div>
                        <div class="instagram-plugin-wrapper">
                            <div id="pixlee_container"></div>
                            <script type="application/javascript">
                                window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'GSp_puI-7gUQTxzyA-ny'});Pixlee.addSimpleWidget({widgetId:'27427'});};</script>
                            <script type="application/javascript" src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ri-grid" class="ri-grid ri-grid-size-2 ri-shadow">
                <!--img class="ri-loading-image" src="media/images/galeria/loading.gif" /-->
                <ul>
                    <li><a href="#"><img src="media/images/galeria/instagram/insta01.png" alt="Galeria" /></a></li>
                    <li><a href="#"><img src="media/images/galeria/instagram/insta02.png" alt="Galeria" /></a></li>
                    <li><a href="#"><img src="media/images/galeria/instagram/insta03.png" alt="Galeria" /></a></li>
                    <li><a href="#"><img src="media/images/galeria/instagram/insta04.png" alt="Galeria" /></a></li>
                    <li><a href="#"><img src="media/images/galeria/instagram/insta05.png" alt="Galeria" /></a></li>
                    <li><a href="#"><img src="media/images/galeria/produtos/colarinho.png" alt="Galeria" /></a></li>
                    <li><a href="#"><img src="media/images/galeria/produtos/punhos.png" alt="Galeria" /></a></li>
                    <li><a href="#"><img src="media/images/galeria/produtos/tecido-1.png" alt="Galeria" /></a></li>
                    <li><a href="#"><img src="media/images/galeria/produtos/tecido-2.png" alt="Galeria" /></a></li>
                    <li><a href="#"><img src="media/images/galeria/produtos/tecido-3.png" alt="Galeria" /></a></li>
                </ul>
            </div>
        </section>
    </div>
</template>

<script>
import colarinhosComponent from './components/colarinhosComponent'
import punhosComponent from './components/punhosComponent'
import tecidosComponent from './components/tecidosComponent'

export default {

    components: {
        colarinhosComponent,
        punhosComponent,
        tecidosComponent
    }

}

var adjustInstagramWidgetHeight = function () {
    if (document.querySelector('.instagram-plugin-wrapper')) {
        document.querySelector('.instagram-plugin-wrapper').style['maxHeight'] = Math.floor(document.querySelector('.instagram-plugin-wrapper').clientWidth / 2) + 'px';
    }
}

document.addEventListener('DOMContentLoaded', adjustInstagramWidgetHeight, false);

window.addEventListener('resize', adjustInstagramWidgetHeight, false);

</script>

<style scoped>

</style>
