<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Siqueira Camisas</h4>
                            <h3>Política de Privacidade</h3>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="card-body" style="text-align: center;">
                            <p style="text-indent:1.33rem;">Nós,   da   Siqueira   Camisas   levamos   sua   privacidade   a   sério.   Portanto,   solicitamos   suas informações pessoais apenas para garantir um atendimento personalizado e de qualidade.</p>
                            <p style="text-indent:1.33rem;">Você poderá adquirir  os  produtos  da  Siqueira  Camisas  através do agendamento do atendimento pessoal ou da compra on-line através do cadastro. Além disso, o cadastro permite que você aproveite outras vantagens como tirar dúvidas, participar de enquetes, acompanhar promoções e novidades periódicas do site.</p>

                            <h3>SEGURANÇA DOS DADOS</h3>
                            <p style="text-indent:1.33rem;">Garantimos   a   segurança   de   seus   dados   pessoais   com   o   mesmo   cuidado,   empenho   e profissionalismo que temos ao criar nossos produtos. Asseguramos jamais comercializar ou divulgar qualquer informação pessoal, ressaltando que, apenas funcionários credenciados tem acesso a estas informações e no caso de qualquer eventualidade, estarão sujeitos a punições legais.</p>
                            <p style="text-indent:1.33rem;">A equipe de tecnologia da Siqueira Camisas fará o possível para manter a privacidade dos dados pessoais dos usuários armazenados em sua base, comprometendo-se a utilizar tecnologia que seja suficientemente adequada para a proteção de tais dados, procurando manter o ambiente seguro com uso de ferramentas apropriadas e sempre observando o estado da técnica disponível.</p>
                            <p style="text-indent:1.33rem;">Nossa política respeita o sigilo de suas informações e garante que seus dados não serão disponibilizados, cedidos ou comercializados para terceiros.</p>
                            <p style="text-indent:1.33rem;">Todas as informações fornecidas em nosso site são de uso exclusivo para o procedimento de compra, personalização, facilitação e não são disponibilizadas a terceiros. Os dados fornecidos são registrados em nosso banco de dados de forma automatizada e armazenados com total segurança sem a intervenção humana.</p>
                            <p style="text-indent:1.33rem;">Os   e-mails   e   telefones   disponibilizados   são   utilizados   apenas   para   contatos   referentes   às compras realizadas em nosso site. Com prévia autorização dos clientes, enviamos e-mails informando as promoções vigentes em nossa loja, porém nossos clientes podem solicitar o não recebimento das ofertas.</p>
                            <p style="text-indent:1.33rem;">Não há o armazenamento de informações que não sejam necessárias para a efetivação da compra. O uso do CPF é exigido por lei para a emissão de notas fiscais e para o envio de mercadorias.</p>
                            <p style="text-indent:1.33rem;">As senhas fornecidas em nosso banco de dados são arquivadas de maneira criptografada, permitindo que apenas o dono do cadastro tenha conhecimento.</p>
                            <p style="text-indent:1.33rem;">Os números de cartões de crédito fornecidos são registrados diretamente no banco de dados das administradoras de cartão, não permitindo o acesso a essas informações por parte do lojista. Ao informar os dados para a administradora, essa realiza a verificação da transação on-line e retorna apenas se a compra está liberada ou não.</p>

                            <h3>CARTÕES DE CRÉDITO E INFORMAÇÕES BANCÁRIAS</h3>
                            <p style="text-indent:1.33rem;">Quaisquer tipos de informações bancárias ou de Cartões de Crédito são assegurados pela tecnologia criptografada do E-Rede que interage como mediador na negociação entre você enossa loja virtual. Ou seja, não temos acesso a essas informações em nosso site.</p>

                            <h3>CERTIFICADO DE SEGURANÇA SSL</h3>
                            <p style="text-indent:1.33rem;">Conforme pode-se verificar o HTTPS e o cadeado na barra de endereço, a loja virtual da Siqueira Camisas é um ambiente 100% seguro para realizar compras on-line. Isso quer dizer que somos homologados para efetuar qualquer tipo de transação via internet deforma criptografada e segura.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
</script>

<style>

</style>
