<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Siqueira Camisas</h4>
                            <h3>Quem Somos</h3>
                        </div>
                    </div>

                    <div class="col-10 col-sm-10 offset-md-1">
                        <div class="card-body row" style="text-align: center;">
                            <p style="text-align: center; text-indent:1.33rem;">A Siqueira camisaria é uma empresa que trabalha com camisas sob medida, atendendo as demandas e necessidades dos clientes com muita qualidade e cumprimento de prazos.</p>
                            <p style="text-align: center; text-indent:1.33rem;">Empresa é fruto de um grande sonho de Carla Siqueira que, depois de muito estudo e dedicação, resolveu unir sonhos, aprendizado e inovação.</p>
                            <div class="col-4">
                                <p style="text-align: center;">
                                    <span style="font-weight: bold; text-transform: uppercase;">Missão</span>
                                </p>
                                <p style="text-align: center;">Atuar no mercado de maneira íntegra, responsável e transparente, garantindo a melhor qualidade a nossos clientes.</p>
                            </div>
                            <div class="col-4">
                                <p style="text-align: center;">
                                    <span style="font-weight: bold; text-transform: uppercase;">Visão</span>
                                </p>
                                <p style="text-align: center;">Ser referência no mercado, atendendo os clientes com excelência e superando as expectativas.</p>
                            </div>
                            <div class="col-4">
                                <p style="text-align: center;">
                                    <span style="font-weight: bold; text-transform: uppercase;">Valores</span>
                                </p>
                                <p style="text-align: center;">Ética, compromisso, transparência, qualidade e responsabilidade.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
</script>

<style>

</style>
