<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Siqueira Camisas</h4>
                            <h3>Termos de Compra</h3>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="card-body" style="text-align: center;">
                            <p style="text-indent:1.33rem;">Termos e Condições de Compra e Venda de Siqueira Camisas, com sede na Rua Barão do Triunfo, 394 Brooklin Paulista, São Paulo/SP 04602-000, doravante denominada simplesmente Siqueira Camisas, e, de outro lado, o cliente Siqueira Camisas, qualificado no momento da compra dos produtos Siqueira Camisas, doravante denominado simplesmente Cliente.</p>

                            <p style="text-indent:1.33rem;">Considerando que a Siqueira Camisas realiza venda de produtos e serviços pela internet; Considerando o interesse do Cliente na compra dos produtos oferecidos pela Siqueira Camisas ("Produtos") em seus canais de venda; O presente contrato tem por finalidade estabelecer as condições gerais de uso e compra de produtos e serviços do cliente do site Siqueira Camisas.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">I. Confidencialidade:</span> é de responsabilidade da Siqueira Camisas a preservação da confidencialidade de todos os dados e informações fornecidos pelo Cliente no processo de compra. A segurança do site é auditada diariamente e garantida contra a ação de hackers, através do selo "Site Blindado".</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">II. Serviço de Atendimento ao Cliente (SAC):</span> O cliente dispõe desse serviço para sanar suas dúvidas, solucionar eventuais solicitações ou reclamações a respeito do seu pedido ou de qualquer conteúdo disponibilizado no site. O SAC poderá ser acionado por meio de telefone ou de formulário do site.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">III. Política de entrega:</span> o prazo para entrega dos Produtos é informado durante o procedimento de compra, contabilizado em dias úteis. As entregas dos Produtos são realizadas de segunda a sexta-feira, das 9h às 18h.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">III.I</span> - A conferência da adequação das dimensões do produto é de responsabilidade do Cliente, que deverá se assegurar de que estas estão de acordo com os limites espaciais dos elevadores, portas e corredores do local da entrega. Não será realizada a montagem ou desmontagem do produto, transporte pela escada e/ou portas e janelas, ou içamento das entregas.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">III.II</span> - Serão realizadas até três tentativas de entrega no local informado, em dias alternados, com intervalo de até 48h entre uma entrega e outra.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">III.III</span> - Após a finalização do pedido não é possível alterar a forma de pagamento e/ou endereço de entrega, solicitar adiantamento ou, ainda, prioridade da entrega.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">III.IV</span> - O prazo de entrega informado durante o procedimento de compra do Produto leva em consideração o estoque, a região, o processo de emissão da nota fiscal e o tempo de preparo do produto. A cada atualização no status de entrega do pedido, o sistema da Siqueira Camisas envia, automaticamente, e-mails de alerta para o Cliente.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">III.V</span> - O valor do frete da entrega é calculado com base no local de entrega, peso e dimensões do Produto.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">III.VI</span> - A Siqueira Camisas não se responsabiliza pela retenção de mercadorias na SEFAZ quando esta se dever exclusivamente a pendências do cliente, sendo, portanto, necessário seu comparecimento no posto fiscal para que a mercadoria seja liberada, tendo em vista que nestes casos as informações referentes a liberações e pagamentos só são passadas aos interessados.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">III.VII</span> - A Siqueira Camisas não se responsabiliza pela retenção de mercadorias na SEFAZ quando esta se dever exclusivamente a pendências do cliente, sendo, portanto, necessário seu comparecimento no posto fiscal para que a mercadoria seja liberada, tendo em vista que nestes casos as informações referentes a liberações e pagamentos só são passadas aos interessados.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">IV. Direito de arrependimento:</span> ao Cliente será facultado o exercício do direito de arrependimento da compra, com a finalidade de devolução do Produto, hipótese na qual deverão ser observadas as seguintes condições: o prazo de desistência da compra do produto é de até 7 (sete) dias corridos, a contar da data do recebimento; em caso de devolução, o produto deverá ser devolvido à Siqueira Camisas na embalagem original, acompanhado do DANFE (Documento Auxiliar da Nota Fiscal Eletrônica), do manual e de todos os seus acessórios.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">IV.I </span> - O Cliente deverá solicitar a devolução através do site: www.siqueiracamisas.com.br mediante o preenchimento do formulário localizado na página de contato. As despesas decorrentes de coleta ou postagem do Produto serão custeadas pela Siqueira Camisas.</p>

                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">IV.II </span> - Em compras com cartão de crédito a administradora do cartão será notificada e o estorno ocorrerá na fatura seguinte ou na posterior, de uma só vez, seja qual for o número de parcelas utilizado na compra. O prazo de ressarcimento e, ainda, a cobrança das parcelas remanescentes após o estorno integral do valor do Produto no cartão de crédito do Cliente realizado pela Siqueira Camisas, é de responsabilidade da administradora do cartão. Na hipótese de cobrança de parcelas futuras pela administradora do cartão, o Cliente não será onerado, vez que a Siqueira Camisas, conforme mencionado acima, realiza o estorno do valor integral do Produto em uma única vez, sendo o crédito referente ao estorno concedido integralmente pela administradora do cartão na fatura de cobrança subsequente ao mês do cancelamento.</p>
                            
                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">IV.III </span> - Em compras com cartão de crédito a administradora do cartão será notificada e o estorno ocorrerá na fatura seguinte ou na posterior, de uma só vez, seja qual for o número de parcelas utilizado na compra. O prazo de ressarcimento e, ainda, a cobrança das parcelas remanescentes após o estorno integral do valor do Produto no cartão de crédito do Cliente realizado pela Siqueira Camisas, é de responsabilidade da administradora do cartão. Na hipótese de cobrança de parcelas futuras pela administradora do cartão, o Cliente não será onerado, vez que a Siqueira Camisas, conforme mencionado acima, realiza o estorno do valor integral do Produto em uma única vez, sendo o crédito referente ao estorno concedido integralmente pela administradora do cartão na fatura de cobrança subsequente ao mês do cancelamento.</p>
                            <p style="text-indent:1.33rem;"><span style="font-weight: bold;">IV.IV </span> - Em compras pagas com boleto bancário ou débito em conta, a restituição será efetuada por meio de depósito bancário, em até 10 (dez) dias úteis, somente na conta corrente do(a) comprador(a), que deve ser individual. É necessário que o CPF do titular da conta corrente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
</script>

<style>

</style>
