<template>
    <div>
        <section id="fale-conosco">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs b-0">
                    <ul>
                        <li>
                        <a href="#" disabled></a>
                        </li>
                    </ul>
                    <a href="#" class="link-small"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-centralizado">
                            <h4>Siqueira Camisas</h4>
                            <h3>Política de Trocas e Devoluções</h3>
                        </div>
                    </div>

                    <div class="col-10 col-sm-12 offset-1 offset-sm-0">
                        <div class="card-body" style="text-align: center;">
                            <p style="text-indent:1.33rem;">Solicite agora sua troca ou devolução. Preencha corretamente, com todos os dados, no site <b>https://www.siqueiracamisas.com.br</b></p>
                            <p style="text-indent:1.33rem;">Para evitar trocas, recomendamos ao cliente checar todas as medidas conforme tutorial no formulário de medidas dentro da página Monte sua Camisa.</p>

                            <h3>PRODUTO COM DEFEITO DE FABRICAÇÃO</h3>
                            <p style="text-indent:1.33rem;">Dentro do prazo de até 90 (noventa) dias corridos contados do recebimento do produto, o procedimento de troca/devolução do produto contendo vício aparente seguirá o disposto no artigo 26 do Código de Defesa do Consumidor.</p>
                            <p style="text-indent:1.33rem;">Caso o produto não seja reparado no prazo de 30 (trinta) dias, ficará a critério do cliente escolher dentre as seguintes alternativas:</p>
                            <p style="text-indent:1.33rem;"><span style="font-weight: bold; color:#222;">a) </span> substituição do produto por outro igual ou, na falta de produto igual no estoque, por produto similar   ou   por   créditos   no   mesmo   valor   da   compra,   para   utilização   no   site <b>www.siqueiracamisas.com.br</b>;</p>
                            <p style="text-indent:1.33rem;"><span style="font-weight: bold; color:#222;">b) </span> restituição dos valores pagos pelo cliente conforme descrito no item “Ressarcimento de Valores” abaixo;</p>
                            <p style="text-indent:1.33rem;"><span style="font-weight: bold; color:#222;">c) </span> abatimento proporcional do preço.</p>
                            <p style="text-indent:1.33rem;">Caso se trate de produto essencial, ou seja, constatado desde logo que não há possibilidade de conserto do produto, o cliente poderá fazer uso de uma das alternativas acima tão logo seja recolhido o produto e constatado que se enquadra nessa situação.</p>
                            <p style="text-indent:1.33rem;">Assim que constatado o defeito, a Siqueira Camisas  providenciará o recolhimento do produto e dará andamento ao procedimento descrito acima.</p>
                            <p style="text-indent:1.33rem;">O produto com defeito deverá ser encaminhado para   Siqueira Camisas  pelos correios no endereço:   Rua   Barão   do   Triunfo,   394,   04602-000-   São   Paulo.   <br>Em   caso   de   dúvidas <b><a href="mailto:contato@siqueiracamisas.com.br">contato@siqueiracamisas.com.br</a></b></p>
                            <p style="text-indent:1.33rem;">A Siqueira Camisas se isenta da responsabilidade de aceitar a troca ou a devolução de qualquer produto em que o defeito tenha ocorrido por mau uso por parte do cliente ou em casos de reclamações efetuadas fora dos prazos estabelecidos nesta política.</p>

                            <h3>INFORMAÇÕES GERAIS</h3>
                            <p style="text-indent:1.33rem;">A Siqueira Camisas preza pela qualidade de seus produtos e acredita que todos os seus clientes devem ser cordialmente atendidos e suas compras finalizadas sem qualquer desarmonia. Baseado no Código de Defesa do Consumidor, criamos a Política de Troca e Devolução Siqueira Camisas, garantindo todos os seus direitos.</p>
                            <p style="text-indent:1.33rem;">Para evitar qualquer problema com a sua compra, ao realizar o pedido, fique atento a detalhes importantes, como:</p>
                            <p style="text-indent:1.33rem;">No ato do recebimento do produto, recuse o recebimento e entre em contato através do site <b>www.siqueiracamisas.com.br</b>, caso constate alguma das situações abaixo:</p>
                            <ul style="text-indent:1.33rem; color: #838383; font-size: 1.143rem;">
                                <li style="margin-top: 10px;"> - Produto avariado no transporte;</li>
                                <li style="margin-top: 10px;"> - Embalagem violada;</li>
                                <li style="margin-top: 10px;"> - Acessórios ou itens faltantes;</li>
                                <li style="margin-top: 10px;"> - Produto em desacordo com o pedido.</li>
                            </ul>

                            <h3>OUTROS MOTIVOS DE TROCA OU DEVOLUÇÃO</h3>
                            <p style="text-indent:1.33rem;">Para troca de produtos sem defeito de fabricação, pedimos que não seja utilizado. Esta pode ser feita no prazo de até 30 (trinta) dias após o recebimento do mesmo.</p>
                            <p style="text-indent:1.33rem;">Recuse o recebimento da mercadoria e comunique imediatamente nossa Central de Atendimento nas seguintes hipóteses: se ocorrer qualquer irregularidade no ato da entrega ou no caso de não integridade física do produto e/ou violação de embalagem.</p>
                            <p style="text-indent:1.33rem;">Caso o produto tenha sido recebido, siga os procedimentos indicados acima para desistência, estando atento para o prazo de 7 (sete) dias contados da data do recebimento. (direito de Arrependimento previsto Código de Defesa do Consumidor).</p>
                            <p style="text-indent:1.33rem;">Caso o produto tenha sido recebido, siga os procedimentos indicados acima para desistência, estando atento para o prazo de 7 (sete) dias contados da data do recebimento. (direito de Arrependimento previsto Código de Defesa do Consumidor).</p>

                            <h3>RESSARCIMENTO DE VALORES</h3>
                            <p style="text-indent:1.33rem;">O valor pago pelo cliente pelo produto será devolvido de acordo com a forma de pagamento utilizada na compra, como explicado abaixo, e desde que observadas as demais condições aplicáveis ao caso descritas nesta política. No caso de devolução parcial do pedido, o frete a ser devolvido será proporcional.</p>
                            <p style="text-indent:1.33rem;">No caso de pagamento com Cartão de Crédito:</p>
                            <p style="text-indent:1.33rem;">O estorno poderá ocorrer em até 2 (duas) faturas subsequentes. Este procedimento é de responsabilidade da administradora do cartão utilizado.</p>
                            <p style="text-indent:1.33rem;">No caso de pagamento de Débito online:</p>
                            <p style="text-indent:1.33rem;">A devolução dos valores será realizada por meio de transferência bancária para a conta corrente de titularidade do próprio cliente, no menor prazo possível, devendo ser efetuada em até 10(dez) dias úteis após a entrega dos produtos à empresa. Caso o cliente não seja titular de conta corrente, o Serviço de Atendimento ao Cliente acordará com o cliente a forma como será feita a devolução. Não será concedido crédito a terceiros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
</script>

<style>

</style>
