<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                        <ul>
                            <li>
                            <a href="/minhaconta" disabled>Minhas medidas</a>
                            </li>
                        </ul>
                        <a href="/" class="link-small">Voltar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="titulo-menu text-center">
                            <h2>Preencha com as suas medidas</h2>
                            <p></p>
                        </div>
                        <form class="form-medidas" style="background-image:url(media/images/galeria/moldes/medidas.png);">
                            <div class="row col-12 lista-menu">
                                <div class="col-4 col-sm-12">
                                    <fieldset>
                                        <legend>Braços</legend>
                                        <div class="form-group">
                                            <label for="medida-contorno">Contorno</label>
                                            <input v-model="minhasmedidasForm.bracos_contorno" type="text" class="form-control medida" id="medida-contorno" name="medida-contorno" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>
                                        <div class="form-group">
                                            <label for="medida-comprimento">Comprimento</label>
                                            <input v-model="minhasmedidasForm.bracos_comprimento" type="text" class="form-control medida" id="medida-comprimento" name="medida-comprimento" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <legend>Tórax</legend>
                                        <div class="form-group">
                                            <label for="medida-largura">Largura</label>
                                            <input v-model="minhasmedidasForm.tronco_frente" type="text" class="form-control medida" id="medida-largura" name="medida-largura" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-4 col-sm-12">
                                    <span></span>
                                </div>
                                <div class="col-4 col-sm-12">
                                    <fieldset>
                                        <legend>Tronco</legend>
                                        <div class="form-group">
                                            <label for="medida-frente">Frente</label>
                                            <input v-model="minhasmedidasForm.tronco_costas" type="text" class="form-control medida" id="medida-frente" name="medida-frente" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>                
                                        <div class="form-group">
                                            <label for="medida-costas">Costas</label>
                                            <input v-model="minhasmedidasForm.torax_largura" type="text" class="form-control medida" id="medida-costas" name="medida-costas" placeholder="0,00" required>
                                            <em>cm</em>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <h4>Se necessário peça ajuda para alguém ou agende com um de nossos alfaiates clicando <a href="contato.php">aqui</a></h4>
                            <a @click.prevent="store()" class="btn-inverte" href="#">Salvar</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            minhasmedidasForm: new Form({
                id: null,
                user_id: user.id,
                bracos_contorno: '',
                bracos_comprimento: '',
                tronco_frente: '',
                tronco_costas: '',
                torax_largura: '',
            })
        }
    },

    methods: {
        show() {
            axios.get(`/api/minhasmedida/${this.minhasmedidasForm.id}`).then(res => {
                console.log(res.data)
                this.minhasmedidasForm =res.data
            })
        },

        store() {
            swal({
                title: 'Salvando',
                allowEscapeKey: false,
                allowOutsideClick: false,
                onOpen: () => {
                    swal.showLoading();
                }
            }).then(
                axios.post('/api/minhasmedida', this.minhasmedidasForm).then(res => {
                    console.log(this.minhasmedidasForm);
                    toast({
                        type: 'success',
                        title: 'Salvo com sucesso'
                    })
                }).catch(
                    err => {
                        swal('', 'Erro ao salvar.', 'error')
                    },
                )
            )
        }
    },

    created() {
        this.show()
    }
}
</script>

<style>

</style>
