<template>
    <!-- Colarinhos -->
    <section id="colarinhos" class="carrossel-trio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <div class="titulo-centralizado">
                    <h4>Escolha os tecidos e as cores e muito mais!</h4>
                    <h3>COLARINHOS COM MAIS DURABILIDADE</h3>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="owl-carousel ">
                        <div class="item" v-for="colarinho in colarinhos" v-bind:key="colarinho.id">
                            <a href="javascript:void(0)" style="cursor: default;">
                                <figure>
                                    <img v-bind:src="colarinho.colarinho_foto" style="width: 410px; height: 350px;" alt="Imagem Destaque" />
                                    <figcaption>{{ colarinho.nome }}</figcaption>
                                </figure>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            colarinhos: {},
            loading: true
        }
    },

    methods: {
        colarinhoLista() {
            axios.get('/api/colarinho-lista').then(res => {
                this.colarinhos = res.data
            })

            setTimeout(() => {
                this.colarinhos
                this.loading = false;
                this.$nextTick(() => {
                    $(this.$el)
                    .find(".owl-carousel")
                    .owlCarousel({
                        items: 4,
                        loop: true,
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 2600,
                        autoplayHoverPause: true,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 3
                            },
                            1000: {
                                items: 3,
                                nav: true,
                                loop: true,
                                margin: 20
                            }
                        }
                    });
                });
            }, 2000);
        }
    },

    created() {
        this.colarinhoLista()
    },
}
</script>