<template>
    <section id="punhos" class="carrossel-trio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titulo-centralizado">
                        <h4>Escolha os tecidos e as cores e muito mais!</h4>
                        <h3>PUNHOS COM MAIS ADERÊNCIA</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="owl-carousel">
                        <div class="item" v-for="punho in punhos" v-bind:key="punho.id">
                            <a href="javascript:void(0)" style="cursor: default;">
                                <figure>
                                    <img v-bind:src="punho.punho_foto" style="width: 410px; height: 350px;" alt="Imagem Destaque" />
                                    <figcaption>{{ punho.nome }}</figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            punhos: {},
            loading: true
        }
    },

    methods: {
        punhoLista() {
            axios.get('/api/punho-lista').then(res => {
                this.punhos = res.data
            })

            setTimeout(() => {
                this.punhos
                this.loading = false;
                this.$nextTick(() => {
                    $(this.$el)
                    .find(".owl-carousel")
                    .owlCarousel({
                        items: 4,
                        loop: true,
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 2600,
                        autoplayHoverPause: true,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 3
                            },
                            1000: {
                                items: 3,
                                nav: true,
                                loop: true,
                                margin: 20
                            }
                        }
                    });
                });
            }, 2000);
        }
    },

    created() {
        this.punhoLista()
    },
}
</script>