<template>
    <section id="tecidos" class="carrossel-trio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <div class="titulo-centralizado">
                    <h4>Escolha os tecidos e as cores e muito mais!</h4>
                    <h3>TECIDOS NACIONAIS E IMPORTADOS</h3>
                </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="owl-carousel">
                        <div class="item" v-for="tecido in tecidos" v-bind:key="tecido.id">
                            <a href="javascript:void(0)">
                                <figure>
                                    <img v-bind:src="tecido.foto" style="width: 410px; height: 350px;" alt="Imagem Destaque" />
                                    <figcaption>{{ tecido.nome }}</figcaption>
                                </figure>
                            </a>
                        </div>
                    </div> --> 


<!--  APAGAR DEPOIS - MLKOTY -->
                    <div class="owl-carousel">
                        <div class="item">
                            <a href="javascript:void(0)" style="cursor: default;">
                                <figure>
                                <img src="media/images/galeria/produtos/tecido-1.jpg" alt="Imagem Destaque" />
                                <figcaption>Listrada</figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)" style="cursor: default;">
                                <figure>
                                <img src="media/images/galeria/produtos/tecido-2.jpg" alt="Imagem Destaque" />
                                <figcaption>Lisa</figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)" style="cursor: default;">
                                <figure>
                                <img src="media/images/galeria/produtos/tecido-3.jpg" alt="Imagem Destaque" />
                                <figcaption>Texturizado</figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:void(0)" style="cursor: default;">
                                <figure>
                                <img src="media/images/galeria/produtos/tecido-4.jpg" alt="Imagem Destaque" />
                                <figcaption>Quadriculado</figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
<!--  APAGAR DEPOIS - MLKOTY -->
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            tecidos: {},
            loading: true
        }
    },

    methods: {
        tecidosLista() {
            axios.get('/api/tecido-lista').then(res => {
                this.tecidos = res.data
            })

            setTimeout(() => {
                this.tecidos
                this.loading = false;
                this.$nextTick(() => {
                    $(this.$el)
                    .find(".owl-carousel")
                    .owlCarousel({
                        items: 4,
                        loop: true,
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 2600,
                        autoplayHoverPause: true,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 3
                            },
                            1000: {
                                items: 3,
                                nav: true,
                                loop: true,
                                margin: 20
                            }
                        }
                    });
                });
            }, 2000);
        }
    },

    created() {
        this.tecidosLista()
    },
}
</script>