/* Adicionais Publicados em Sistema - 27/04/2020 */
div#back-modl-white {
  width: 102%;
  height: 115%;
  z-index: 1000;
  background: $branco;
  opacity: 0.5;
}
 
 #modal-login-center {
  position: absolute;
  top: 0;
  margin-left: 35%;
 }

.btn-black {
  background-color: $corTitulo;
  color: $branco;
  width: 100%;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  line-height: 1;
  padding: 1em 0;
  letter-spacing: 2px;
}

.input-large {
  background-color: $branco;
  border: solid 1px $cinzaBorda;
  border-radius: 0;
  padding: 1.4em 0.7em;
  color: $corTitulo;
  font-size: 1rem;
}

.input-large::placeholder {
  font-style: italic;
  color: rgba($corParagrafo, .65);
  font-size: 1rem;
}

.width-full {
  width: 100%;
}

.section-title {
  font-size: 1.33rem;
  color: $corTitulo;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 30px;
}

.color-default {  
  color: $corParagrafo;
}

.margin-top-small {
  position: absolute;
  margin-top: -20px;
  right: 3px;
  font-size: 12px;
}

.form-checkout-wrapper input[type=radio] + label, 
.form-checkout-wrapper input[type=checkbox] + label{
  font-size: 1rem;
}

.form-checkout-wrapper {
  border: solid 1px #dfdfdf;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
}

.form-checkout-wrapper .list-group-item {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.img-checkout-preview-wrapper {
  width: 150px;
  height: 150px;
  margin-top: initial!important;
  border: solid 1px $cinzaBorda;
  position: relative;
}

.img-checkout-preview-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.product-options-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  border-top: solid 1px $cinzaBorda;
  padding-top: 30px;
  justify-content: space-between;
}

.cart-checkout .product-name {
  font-size: 14px;
  color: $corTitulo;
  line-height: 1;
}

.cart-checkout .product-price {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
}


.cart-product-single {
  margin-bottom: 30px;
  border-radius: 3px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.jumbotron.container-checkout {
  margin-top: 70px;
  background-color: $branco;
}

.product-amount {
  position: relative;
  width: 95px;
}

.btn-amount {
  position: absolute;
  width: 20px;
  text-align: center;
  padding: 0;
  cursor: pointer;
  color: rgba($corParagrafo, .88);
  top: 15px;
}

.btn-amount-down {
  left: 20px;
}

.btn-amount-up {
  right: 4px;
}

.product-amount-input.form-control[readonly] {
  background-color: $branco;
  font-size: 20px;
  margin-right: 24px;
  margin-left: 16px;
  margin-right: 0;
  text-align: center;
  width: 100%;
}

.product-remove {
    margin-top: 15px;
    opacity: .45;
}

.link-back-to-shop {
  font-size: 14px;
  color: $corParagrafo;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-checkout-wrapper .list-group-item.price-block {
  background-color: $cinzaBG;
  color: $corTitulo;
  padding: 25px 25px 10px;
  margin-bottom: 2rem;
}

.price-block-sub {
  font-size: 16px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.price-block-sub:first-child {
  padding-top: 5px;
}

.price-block-sub:not(:last-child) {
  border-bottom: solid 1px $cinzaBorda;
}

.price-block-sub:last-child {
  padding-bottom: 15px;
}

.no-padding-top {
  padding-top: 0 !important;
}

.discount-wrapper {
  margin: 0;
}

.form-cep {
    margin-bottom: 1rem;
    display: table;
    width: 100%;
}

.hr-invisible {
  visibility: hidden;
}

.credit-card-data {
  padding-top: 10px;
}

.confeccao-disabled, .confeccao-disabled * {
  opacity: .5;
  pointer-events: none;
  cursor: not-allowed;
}

a.selectedItem {
  overflow: hidden;
  border: solid 5px $cinzaBorda;
  background-color: $cinzaBG;
  margin-top: -15px;
}

.selectedItem h5 {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  background-color: transparent!important;
  outline: none!important;
}

.selectedItem p {
  width: 100%;
  margin: 0;
  position: relative;
  background-color: transparent!important;
  outline: none!important;
}

.selectedItem span {
  outline: none!important;
}

.selectedItem .product-text-info {
  background-color: $corTitulo;
  clear: both; 
  position: relative; 
  display: table; 
  width: 100%; 
  padding: 10px 0 0; 
}

.spacing-custon{
  padding: 40px 0;
}

.color-white{
  color: $branco!important;
}

.navbar-laravel {
  background-color: $branco;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active{ 
  background-color: $branco;
  color: $vermelho !important;
}

iframe.snapwidget-widget {
  height: 310px;
}


/**********************************************************/
/* Adicionais para Correções Pós Sistema - SM 28/04/2020 */

#btns-access {
  margin-top: 3rem;
  p {
    margin-bottom: 0;
    font-size: 1.067rem; /* 16px */
  }
  a {
    color: $corTitulo!important;
    i {
      font-size: 15px;
      margin-right: 4px;
      margin-top: -2px;
      transform: rotate(270deg);
      vertical-align: middle;
      color: $corParagrafo;
    }
    .key-refeito:before {
      content: "";
      @include imagem(transparent, $chave, cover, 50% 50%, repeat);
      display: block;
      width: 18.5px;
      height: 18.5px;
      font-size: 0;
      color: transparent;
      opacity: .85;
    }
    &:hover {
      color: $corParagrafo!important;
      text-decoration-color: $vermelho;
    }
  }

}

.modal-body {
  #login-box-msg {
    width: 100%;
    text-align: center; 
    color: $corTitulo; 
  }
  .btn.btn-outline-secondary.btn-block.btn-flat {
    background: $corTitulo;
    color: $branco;
    font-family: $fontePadrao;
    @include transicao(all .3s);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.067rem; /* 16px */
    line-height: 1.467rem; /* 22px */
    padding: 0.6667rem 2.2rem; /* 10px 33px */
    margin: 1rem auto;
    box-shadow: none;
    letter-spacing: 2px;
    clear: both;
    display: table;
    border: 0;
    border-radius: 0;
    position: relative;
    &:hover,
    &:focus,
    &:active {
      background: $corParagrafo;
      color: $corParagrafoInverte;
      text-decoration: none;
      cursor: pointer;
      outline: 0;
    }
  }
}

.not-found {
  display: table;
  margin: 2rem auto;
  text-align: center;
  max-width: 65%;
  h2 {
    font-size: 4rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  svg {
    margin-left: 30px;
    max-width: 60%;
  }
  p {
    font-size: 1.733rem; /* 26px */
    line-height: 1.33;
  }
  a {

  }
}

.menu-primario .router-link-exact-active {
    color: $vermelho!important;
}

#title-agende-sua-visita {
  p {
    color: $corTitulo;
    font-size: 1.333rem; /* 20px */
    font-weight: bold;
    text-indent: 1rem;
  }
}

.card-body {
  .col-4 {
      margin-top: 4rem;
  }
  p {
    span {
      color: $corTitulo;
    }
  }
}

a {
    cursor: pointer;
    color: $corTitulo;
    &:hover, 
    &:focus {
      color: $corParagrafo;
      text-decoration-color: $vermelho;
    }
}

.menu-logado {
  order: 3;
}

.icon-question-medida {
    width: 15px;
    height: 15px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgba($corParagrafo, 0.45);
    float: right;
    font-size: 9px;
    text-align: center;
    color: $branco;
    cursor: pointer;
    margin-top: -15%;
    margin-right: 8px;
    font-weight: 100;
    font-family: Helvetica;
    text-shadow: 0 0 2px rgba($corParagrafo, .65);
}

.user-refeito:before {
  content: "";
  @include imagem(transparent, $user, cover, 50% 50%, no-repeat);
  display: block;
  width: 21px;
  height: 21px;
  font-size: 0;
  color: transparent;
  opacity: .85;
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: $corTitulo!important;
}

.invoice-info .conteudo-invoice {
    width: 100%;
    margin: 3rem 0;
    justify-content: space-between;
    .invoice-col.col-xl-6 {
      -ms-flex: 0 0 48%;
      flex: 0 0 48%;
      max-width: 48%;
    }
    .img-confeccao {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
}

.btn-inverte-sm.float-right i {
    margin-left: 3px;
    vertical-align: middle;
    font-size: 10px;
    line-height: 13px;
}

h5.lead {
    margin-bottom: 20px;
    padding-left: 15px;
}

.pedido-conteudo {
  margin: 3rem 0;
}

.endereco {
  padding-left: 15px;
}

.img-detalhe {
  width: auto;
  display: block;
  height: 100%;
  .divlupa {
    display:block;
    width: auto;
    height: 100%;
    background-image: '';
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.conteudo-carrinho {
  width: 100%;
}

.form-check.form-check-inline {
  padding: 8px 0;
  .form-check-label { 
    font-size: 12px;
    line-height: 1rem;
    padding: 5px 0 0 30px;
  }
}

.div-resumo {
  .section-title {
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid $cinzaBorda;
  }
  .resumo-frete {
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form-cep {
  .input-large {
    float:left;
    width: 60%;
  }
  .btn-black {
    width: 40%;
    float: right;
    border: 0;
  }
}

.valor {
  width: 100%;
  li {
    background: transparent;
  }
}

.price-total {
  font-weight: bold;
  font-size: 18px;
}

.monte-camisa {
  margin: 8rem auto 4rem!important;
}

#minha-conta #nav-menuConfeccao #btn-two-routes.btns {
  margin: 5rem auto 2.5rem !important;
  width: 75%;
  .btn-inverte {
    min-width: 200px;
  }
}

.tab-content .titulo-menu {
    margin: 5rem auto 2.5rem;
    width: 80%;
}

.ord1 {
  .form-radio {
    margin: 2rem 0;
  }
  .confeccao p {
    margin: 0 0 2rem;
  }
}

.pagination {
    justify-content: flex-end;
    margin: 3rem 0 1rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $corTitulo;
    border-color: $corTitulo;
}

.card-body h3 { 
  font-size: 22px!important;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 26px;
}

#faq p {
  font-size: 18px;
}

.link-item.produto.selectedItem {
  margin-top: 0;
}

.page-link, .page-link:hover {
    color: $corParagrafo;
}