.btn-padrao {
  background: $branco;
  color: $corTitulo;
  font-family: $fontePadrao;
  @include transicao(all .3s);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.067rem; /* 16px */
  line-height: 1.467rem; /* 22px */
  padding: 0.6667rem 2.2rem; /* 10px 33px */
  margin: 1rem auto;
  box-shadow: none;
  letter-spacing: 3px;
  clear: both;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0;
  position: relative;
  &:hover,
  &:focus,
  &:active {
    background: $corParagrafo;
    border: 1px solid $corParagrafoInverte;
    color: $branco;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
  }
}

.btn-inverte,
.btn.btn-secondary {
  background: $corTitulo;
  color: $branco;
  font-family: $fontePadrao;
  @include transicao(all .3s);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.067rem; /* 16px */
  line-height: 1.467rem; /* 22px */
  padding: 0.6667rem 2.2rem; /* 10px 33px */
  margin: 3rem auto;
  box-shadow: none;
  letter-spacing: 2px;
  clear: both;
  display: table;
  border: 0;
  border-radius: 0;
  position: relative;
  &:hover,
  &:focus,
  &:active {
    background: $corParagrafo;
    color: $corParagrafoInverte;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
  }
}

.down,
.down:hover {
  background: $corTitulo;
  width: 40px;
  height: 40px;
  color: $cinzaBG;
  border-radius: 100%;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 20px);
  justify-content: center;
  z-index: 3;
  text-decoration: none;
}

.btn-link {
  font-family: $fonteBold;
  background: transparent;
  border: 0;
  font-size: 1.733rem; /* 26px */
  line-height: 2.933rem; /* 44px */
  margin: 0;
  text-transform: uppercase;
  color: $corTitulo;
  letter-spacing: 2.18px;
  text-decoration: none;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $corParagrafo;
  }
  i {
    font-size: 1.133rem; /* 17px */
  }
}

.link-small {
  font-size: 0.9333rem; /* 14px */
  line-height: 1.133rem; /* 17px */
  font-family: $fontePadrao;
  color: $corTitulo;
  margin: 1rem;
  background: transparent;
  text-decoration: none;
  float: right;
  &:hover,
  &:focus {
    color: $corParagrafo;
  }
}

.btns {
  display: table;
  width: 70%;
  margin: 3rem auto;
  position: relative;
  a:first-child {
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }
  a:last-child {
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
  }
}

#btn-login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  line-height: 2;
  letter-spacing: .85px;
  order: 3;
  i {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
  }
  .user-refeito:before {
    content: "";
    @include imagem(transparent, $user, cover, 50% 50%, no-repeat);
    display: block;
    width: 21px;
    height: 21px;
    font-size: 0;
    color: transparent;
    opacity: .85;
  }
  &:hover,
  &:focus {
    color: $branco;
    background-color: $corTitulo;
    .user-refeito:before {
      @include imagem(transparent, $userInverte, cover, 50% 50%, no-repeat);
      opacity: 1;
    }
  }
}

.close {
    font-size: 2rem;
    line-height: 1.25;
}

.link-building {
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: rgba($corLink, .65);
}