/* Parallax */
.parallax {
    min-height: auto;
    @include imagem($cinzaBG, $parallax, auto, 50% 50%, repeat);
    background-attachment: fixed;
    position: relative;
}
.parallax-meio {
    min-height: auto;
    @include imagem($cinzaBG, $parallax, contain, 50% 50%, no-repeat);
    background-attachment: scroll;
    position: relative;
}


/* Tools */
.v-center {
  display: flex;
  align-items: center;
}

.meio {
  display: table;
  margin: 2rem auto;
}

.upper {
  text-transform: uppercase;
}

.hidden {
    display: none!important;
}

.show {
    display: inline-block!important;
    opacity: 1!important;
}

.indexcity {
  z-index: 11;
}

.menu-mobile {
    right: 0!important;
    left: 0!important;
}

.top100 {
  top: 0;
  visibility: visible;
  transition: all 0.2s ease-in-out;
  transform: translate(0px, 0px);
}

.container-fluid {
  .container {
    position: relative;
  }
}

.texto-col2 {
  column-count: 2;
  column-gap: 20px;
  page-break-inside: avoid;
}

.bounce {
    @include efeito(bounce 2s infinite);
}

.b-0 {
  border-color: transparent;
}

.br-1 {
  position: relative;
  &:after {
    content:"";
    background: rgba($corLink, .36);
    width: 1px;
    height: 78%;
    display: block;
    position: absolute;
    top: 1rem;
    right: 0;
  }
}

.mh-100 {
  min-height: 100%!important;
}


/* Checkbox */
.form-check {
    position: relative;
    display: flex;
    padding: 1rem;
    align-items: center;
    white-space: nowrap;
}

input[type=radio], input[type=checkbox]{
    display:none;
}

input[type=radio] + label, input[type=checkbox] + label, .checkbox.icheck input[type=checkbox] {
    @include imagem(transparent, $input, auto, 0 0, no-repeat);
    display:inline-block;
    height: 25px;
    padding: 6px 0 0 40px;
    margin: 0 10px 0 0;
    color: $corParagrafo;
    text-transform: none;
}

input[type=checkbox] + label, .checkbox.icheck + input[type=checkbox] {
    background-position:0 -60px;
}

input[type=radio]:checked + label{
    background-position:0 -30px;
}

input[type=checkbox]:checked + label, .checkbox.icheck + input[type=checkbox]:checked {
    background-position:0 -90px;
}



/* Checkbox */
.checkbox.icheck {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  label {
    font-size: 1rem!important;
    color: $corTitulo;
  }
}

.checkbox.icheck input[type=checkbox] {
    @include imagem(transparent, $input, auto, 0 -60px, no-repeat);
    color: $corParagrafo;
    text-transform: none;
    display: inline-block;
    height: 25px;
    width: 25px;
    padding: 0 15px;
    margin: 10px 0 0 0;
    text-transform: none;
    -webkit-appearance: inherit;
    vertical-align: text-bottom;
}

.checkbox.icheck input[type=checkbox]:checked {
    background-position:0 -90px;
}



/* Máscara */
.mascara {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($preto, 0.6);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Pattern */
.bg-pattern {
  min-height: auto;
  @include imagem(transparent, $pattern, auto, 50% 50%, repeat);
  background-attachment: scroll;
  position: relative;
  height: 250px;
  margin: 40px 0 0;
  h3 {
    margin-bottom: 0;
  }
  .titulo-centralizado {
    width: 54%;
  }
}

.bg-cinza {
  background: $cinzaBG;
}

/* Flip */
.flip-card {
  background-color: transparent;
  min-height: 100%;
  max-height: 721px;
  height: uto;
  max-width: 100%;
  min-width: 80%;
  display: block;
  float: right;
  perspective: 1000px; /* efeito 3D */
  img {
    height: 100%;
    display: table;
    margin: 0 auto;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    @include transicao(transform 0.8s);
    transform-style: preserve-3d;
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: transparent;
    color: $corParagrafo;
  }
  .flip-card-back {
    transform: rotateY(-180deg);
  }
  &:hover {
    .flip-card-inner {
      transform: rotateY(-180deg);
    }
  }
}



/* Bounce */
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px) }
    60% {-webkit-transform: translateY(-20px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
}