/* Geral */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: $cinzaBG;
  overflow: hidden;
  overflow-y:auto;
  position: static;
  display: block;
	padding: 24px;
}

html,
body {
  font-size: $tamanhoFonte;
  font-family: $fontePadrao;
  max-width:100%;
  max-height: 100%;
  overflow-x:hidden;
}

body {
	background-color: $branco;
  position: inherit;
  height: auto;
  display: block;
	margin-bottom: 24px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

object {
  display: none;
}

a {
  display: inline-block;
	img {
  	border: none;
	}
}

a {
	:hover,
	:focus {
  	text-decoration: none;
  	outline: none;
  	outline-offset: 0;
	}
}

::-webkit-input-placeholder {
   color: rgba($corParagrafo, .75);
   font-size: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba($corParagrafo, .75);
   font-size: 1rem;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba($corParagrafo, .75);
   font-size: 1rem;
}

:-ms-input-placeholder {
   color: rgba($corParagrafo, .75);
   font-size: 1rem;
}

::-moz-selection { /* Code for Firefox */
  color: $branco;
  background: $corTitulo;
}

::selection {
  color: $branco;
  background: $corTitulo;
}

/* Menu */
.navbar-toggle {
  color: $preto;
  margin: 0;
  display: none;
}

.nav-principal {
	@include animacao(all .48s ease-in-out);
	width: 100%;
  padding: 0;
  float: none;
  height: auto;
  min-height: 84px;
  font-weight: 400;
	ul {
		margin-bottom: 0;
	}
  li {
    text-align: center;
    display: inline-block;
		border-right: 1px solid rgba(0,0,0, .1);
    a {
			@include animacao(all .48s ease-in-out);
      font-family: $fontePadrao;
      color: $corTitulo;
      font-size: 14px;
      font-size: 0.9333rem; /* 14px */
      line-height: 18px;
      line-height: 1.2rem; /* 18px */
			padding: 13px;
      &:focus, &:hover {
        background: transparent;
        text-decoration: none;
      }
			img {
				width: 28px;
				height: 28px;
				display: block;
				text-align: center;
				margin: auto;
				vertical-align: middle;
			  @include transicao(all .65s ease-in-out);
			}
    }
    &:focus, &:hover {
      text-decoration: none;
      a {
        color: $vermelho;
        i {
          color: $corParagrafo;
        }
      }
      ul {
        display:block;
        -webkit-transition: display 3s;
        transition: display 3s;
      }
    }
    &.active {
      a {
        color: $corTitulo;
      }
    }
    &:last-child {
      border-color: transparent;
      padding-right: 0;
    }
  }
  .dropdown-toggle {
    i {
      vertical-align: middle;
      font-size: 11px;
      font-size: 0.7333rem; /* 11px */
			color: $corParagrafo;
    }
    &::after {
      display:none;
    }
  }
  .dropdown-menu {
    min-width: 120px;
    width:auto;
    padding:0 10px;
    border-radius: 2px;
    background: $branco;
    margin: 0;
    border: 1px solid $cinzaBG;
    font-size: 0.8571rem; /* 12px */
    box-shadow: 10px 10px 10px 0 rgba($preto, 0.25);
    li {
      display: block;
      width: 100%;
      text-align: left;
      height: auto;
      border-radius: 0;
      border-bottom: 1px solid $cinzaBG;
			border-right: 0;
      a {
        font-family: $fontePadrao;
        font-size: 0.8571rem; /* 12px */
        font-weight: 400;
        color: $corTitulo;
        padding: 0;
        line-height: 29px;
        width: 100%;
        white-space: nowrap;
      }
      &:focus, &:hover {
        color: $vermelho;
        a {
          text-decoration: none;
          color: $vermelho;
        }
      }
      &:last-child {
        border:none;
      }
      &.active {
        a {
          font-weight: 700;
          color: $corTitulo;
        }
      }
    }
  }
}

.navbar-wrapper {
  padding: 0;
}

.navbar {
  display:none;
}



/* Topo */
header {
  position: fixed;
  background: $branco;
  display: inline-block;
  width: calc(100% - 48px);
  min-height: 134px;
  height: 110px;
  @include transicao(all .65s ease-in-out);
	top: 0;
  left: 24px;
  z-index: 9;
  border-top: 24px solid whitesmoke;
  box-shadow: 0 2px 5px $cinzaBG;
	.nav-principal {
		min-height: 110px;
	}
}


.logo {
  @include imagem(transparent, $logo, contain, 0 0, no-repeat);
	@include animacao(all .48s ease-in-out);
  width: 250px;
  height: 48px;
  float: left;
  font-size: 0;
  margin-top: 5px;
}

.encolhe {
  min-height: 60px;
  transform: translate(0, -30px);
  height: auto;
  width: 100%;
  left: 0;
  box-shadow: 0 -1px 8px rgba($corParagrafo, .24);
  .logo {
    width: 250px;
    margin: 0 auto;
  }
  .nav-principal {
    transform: translate(0, 3px);
    min-height: 60px;
  }
	a {
		img {
			display: inline-block!important;
			margin-right: 3px!important;
		}
	}
  #btn-login {
    line-height: 1.66;
    margin-right: -15px;
  }
}

.breadcumbs {
  margin-top: 40px;
  color: $corTitulo;
  padding: 1rem;
  border-bottom: 1px solid rgba($preto, .1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: inline-block;
    float: left;
    width: auto;
    li {
      font-family: $fonteBold;
      display: inline-block;
      font-size: 1.8rem; /* 27px */
      line-height: 2.4rem; /* 36px */
      margin: 0;
      color: $corTitulo;
      font-weight: 700;
      a {
        color: $corTitulo!important;
        text-decoration: none;
      }
    }
  }
}


/* Footer */
footer {
  position: relative;
  padding: 5.357rem 0 0; /* 75px */
  background: transparent;
  text-align: left;
  color:$branco;
  background: $corRodape;
  ul {
		b {
			font-family: $fonteBold;
    	text-transform: uppercase;
    	margin-bottom: 1.533rem; /* 23px */
			font-size: 1rem; /* 12px */
			line-height: 1.333rem; /* 20px */
			display: block;
			font-weight: 400;
      letter-spacing: 0.85px;
  	}
	  li {
			font-family: $fonteIntermediaria;
	    color: $branco;
	    font-size: 0.8667rem; /* 13px */
	    line-height: 1.533rem; /* 23px */
	    font-weight: 400;
			font-style: italic;
	  }
  	a {
    	color:$corParagrafoInverte;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
    	&:hover,
    	&:focus {
      	color: $branco;
        text-decoration-color: $vermelho;    
    	}
  	}
		i {
			font-family: 0.8667rem; /* 13px */
			margin-right: 3px;
		}
	}
}

.faixa {
	font-style: italic;
  font-size: 0.8rem; /* 12px */
  line-height: 1.133rem; /* 17px */
  margin-top: 4rem; /* 60px */
  border-top: 1px solid $corParagrafoInverte;
  color: $corParagrafoInverte;
  padding: 2rem 0;
	font-weight: 400;
  .superteia {
    float: right;
    a {
      color: $branco;
      &:hover,
      &:focus {
        color: $cinzaBG;
        text-decoration: underline;
      }
    }
  }
}


.redes-sociais {
  margin-bottom: 0;
  display: table;
  float: right;
  li {
    font-size: 1.429rem; /* 20px */
    line-height: 1.429rem; /* 20px */
    text-align: center;
    display: inline-block;
    margin-left: 1.286rem; /* 18px */
    a {
      color: $branco;
      -webkit-transition: all .3s;
      transition: all .3s;
      span {
        margin-left: 8px;
        vertical-align: bottom;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        i {
          color: $cinzaBG;
        }
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.menu-confeccao .nav-link:not(.confeccao-disabled):after {
    background: $corParagrafo;
}

.tarja-vermelha {
  position: fixed;
  width: 100%;
  text-align: center;
  color: $branco;
  padding: 6px;
  background: $vermelho;
  z-index: 9999;
  left: 0;
  top: 0;
  height: 40px;
  text-shadow: 0 0 1px $corLink;
  box-shado: 0 0 1px $preto;
  p {
    font-weight: 500;
    color: $branco;
    letter-spacing: 0.25px;
  }
}