@import url(//db.onlinewebfonts.com/c/91b4ef9c28324608b2bdddf7b8b7f0d4?family=CorantoW01-2Regular);
@import url(https://use.typekit.net/qdq5oxd.css);

/*
Fonte Desabilitada
---
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
       url('../fonts/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato-Regular.ttf') format('truetype'),
       url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
       url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
*/
