label {
  color: $corParagrafo;
  text-transform: uppercase;
  font-size: 0.7333rem; /* 11px */
  letter-spacing: 0.85px;
  line-height: 0.7333rem; /* 11px */
  display: inline-block;
  float: left;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 0;
  height: calc(2.25rem + 10px);
  border-radius: 0;
  background: $cinzaBG;
  border-color: $cinzaBorda;
  &:focus,
  &:hover {
    outline: none;
    box-shadow: none;
    color: $corTitulo;
    border: 1px solid $corTitulo;
    font-style: italic;
  }
  &::placeholder, 
  &::-webkit-input-placeholder,  
  &:-ms-input-placeholder {
    color: $corPlaceholder;
    font-size: 100;
  }

}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(3rem + 5px);
  padding: 10px!important;
  background-color: $branco;
  background-clip: padding-box;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  text-indent: 0.01px;
  text-overflow: '';
  -moz-appearance: none;
  select {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    background: transparent;
    border-radius: 0;
    z-index: 8;
    &:focus {
      background: transparent;
    }
  }
  &:focus {
    background: $branco;
    color: $corParagrafo;
    background-color: $branco;
    border-color: $cinzaBG;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($preto,.25);
  }
  i {
    position: absolute;
    right: 5px;
  }
}

.seletor {
  position: relative;
  &:after {
    content:'';
    @include imagem(transparent, $down, contain, right center, no-repeat);
    position: absolute;
    top: 20px;
    right: 34px;
    display: block;
    width: 14px;
    height: 14px;
    z-index: 0;
  }
}

.alert {
  width: 100%;
  strong {
    display: block;
  }
}

.form {
  width:100%;
  display: table;
  .lista-menu {
    border: 1px solid rgba($preto, .1);
    padding: 1.5rem 1.5rem .5rem;
  }
  .form-control {
    font-family: $fonteBold;
    width: 100%;
    background: $cinzaBG;
    border-radius: 0;
    border: 0;
    border: 1px solid transparent;
    padding: 1.5rem;
    margin:2rem 0;
    box-shadow: none;
    color: $corTitulo;
    font-size: 1.333rem; /* 20px */
    font-weight: 700;
    line-height: 1.733rem; /* 26px */
    &:focus {
      outline: 0;
      border-color: $corParagrafo;
    }
  }
  textarea {
    border: 2px solid $cinzaBG;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar-track{
	    background-color: $branco;
    }

    &::-webkit-scrollbar{
    	width: 6px;
    	background-color: $corParagrafo;
    }

    &::-webkit-scrollbar-thumb{
    	border-radius: 2px;
    	background-color: $corParagrafo;
    }
  }
  .btn-inverte {
    margin: 3rem auto;
    display: table;
  }
}

.form-radius {
  width:100%;
  border-top: 1px solid rgba($preto, .1);
  padding: 3rem 0;
  margin: 3rem 0;
  .form-group {
    position: relative;
  }
  .form-control {
    font-family: $fonteBold;
    width: 100%;
    font-style: italic;
    background: $branco;
    border-radius: 4px;
    border: 1px solid rgba($preto, .1);
    padding: 1.5rem 0.8rem;
    margin:0;
    box-shadow: none;
    color: $corTitulo;
    font-size: 1.333rem; /* 20px */
    font-weight: 700;
    line-height: 1.733rem; /* 26px */
    text-align: left;
    &:focus {
      outline: 0;
      border-color: $corParagrafo;
    }
  }
  label {
    @include transicao(all .35s);
    font-family: $fonteIntermediaria;
    font-weight: 100;
    color: rgba($corLink, .46);
    font-size: 1.333rem; /* 20px */
    font-weight: 700;
    line-height: 1.733rem; /* 26px */
    display: inline-block;
    text-transform: initial;
    position: absolute;
    top: 12px;
    background: $branco;
    left: 20px;
    letter-spacing: 0px;
    font-style: italic;
    z-index: 2;
    &.focus {
      font-size: 0.7333rem; /* 11px */
      letter-spacing: 0.41px;
      line-height: 0.8rem; /* 12px */
      top: -11px;
      padding: 5px 10px;
      color: $corLink;
    }
  }
}

.form-contato {
  border-top: 0;
  padding: 0;
  margin: 3rem;
  &.focus {
    font-size: 0.8rem; /* 10px */
  }
  .form-group {
    display: table;
    width: 100%;
    margin-bottom: 3rem;
  }
  textarea {
    border: 2px solid $cinzaBG;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar-track{
      background-color: $branco;
    }

    &::-webkit-scrollbar{
      width: 6px;
      background-color: $corParagrafo;
    }

    &::-webkit-scrollbar-thumb{
      border-radius: 2px;
      background-color: $corParagrafo;
    }
  }
}


.form-medidas {
  min-height: auto;
  @include imagem(transparent, '', 55%, 42% 35%, no-repeat);
  background-attachment: scroll;
  position: relative;
  display: table;
  width: 100%;
  h4 {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.8667rem; /* 13px */
    a {
      text-decoration: underline;
      color: $corParagrafo;
      &:hover,
      &:focus {
        color: $corTitulo;
      }
    }
  }
  .lista-menu {
    padding-bottom: 2rem;
  }
}


fieldset {
  width:100%;
  background: $branco;
  border: 1px solid rgba($preto, .1);
  border-radius: 4px;
  padding: 1rem;
  display: table;
  position: relative;
  margin: 5rem 0;
  + fieldset {
    margin-top: 10rem;
  }
  legend {
    background: $corTitulo;
    color: $branco;
    font-family: $fontePadrao;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    padding: 8px 16px;
    letter-spacing: 2px;
    display: table;
    width: auto;
    position: absolute;
    border-radius: 6px;
    top: -16px;
    left: 8px;
  }
  label {
    width: 40%;
    padding: 5%;
    text-align: right;
    font-style: italic;
    display: inline-block;
  }
  .form-control {
    width: 45%;
    background: $cinzaBG;
    font-size: 1.333rem; /* 20px */
    font-weight: 700;
    line-height: 1.733rem; /* 26px */
    color: $corTitulo;
    border: transparent;
    display: inline-block;
    &:focus {
      border: 1px solid $cinzaBG;
    }
  }
  em {
    width: 10%;
    text-align: center;
    color: $corLink;
    text-transform: lowercase;
    font-size: 0.8rem; /* 12px */
    letter-spacing: 0.41px;
    line-height: 1rem; /* 14px */
    display: inline-block;
  }
}

.form-radio {
  label {
    font-size: 1rem;
    font-style: italic;
    line-height: 50px;
    vertical-align: middle;
    display: inline-block;
  }

  .form-check {
      position: relative;
      display: flex;
      padding: 1rem;
      align-items: center;
      white-space: nowrap;
  }

  input[type=radio] {
      display:none;
  }

  input[type=radio] + label {
      display:inline-block;
      height: 50px;
      line-height: 50px;
      padding: 0px 0 0 50px;
      margin: 0 10px 0 0;
      color: $corParagrafo;
      @include imagem(transparent, $inputRadio, auto, 0 6px, no-repeat);
      text-transform: none;
  }

  input[type=radio]:checked + label{
      background-position:0 -55px;
  }

}
