/* Headings */
@for $i from 1 through 6 {
  h#{$i}{
    font-family: $fonteBold;
		font-weight: normal;
  }
}

h1 { font-size: 3.571rem; /* 50px */ line-height:4rem; /* 56px */ font-weight:700; }
h2 { font-size: 4.4rem; /* 66px */ line-height:4.467rem; /* 67px */  font-weight: bold; }
h3 { font-size: 2.467rem; /* 37px */ line-height: 2.933rem; /* 44px */ margin: 0 0 2rem 0; text-transform:uppercase; color: $corTitulo; letter-spacing: 3.1px; }
h4 { font-size: 1rem; /* 15px */ line-height: 1.333rem; /* 20px */ font-family: $fontePadrao; margin:0; color: $corParagrafo; }
h5 { font-size: 1.067rem; /* 16px */ line-height: 1.2rem; /* 18px */ text-transform: uppercase; font-weight: 400; letter-spacing: 2px; margin: 10px 0; color: $corTitulo; }
h6 { font-size: 1.333rem; /* 20px */ letter-spacing: 1.68px; line-height: 2.933rem; /* 44px */ text-align: left; color: $corTitulo; text-transform: uppercase; }


/* Topo */
.logo{ font-size:0; color:transparent; }


/* Miolo */
section {
  padding: 80px 0;
  display: table;
  width: 100%;
}

p {
  font-size: 1.143rem; /* 16px */
  line-height: 1.786rem; /* 25px */
  color: $corParagrafo;
  font-family: $fontePadrao;
  margin-bottom: 2rem;
}

.dados-destaque {
  background: transparent;
  color: $corParagrafo;
  padding: 0;
  p {
  	font-family: $fontePadrao;
  	font-size: 1rem;
  	line-height: 1.333rem;
    font-weight: 400;
  }
  &.empresa {
    width: 90%;
    margin: 50px auto;
  }
}

.passos {
  .btn-inverte {
    margin: 3rem auto;
    display: table;
    clear: both;
  }
}



/* Titulos */
.titulo-centralizado {
  width: 50%;
  margin: auto;
  text-align: center;
}

.titulo-full {
  margin: 2.5rem 0;
  width: 100%;
  text-align: center;
  h3 {
    span {
      clear: both;
      display: block;
    }
  }
}

h6 i {
  font-size: 2.267rem; /* 34px */
  vertical-align: middle;
  margin: 5px;
}

.titulo-menu {
  margin: 5rem 0 1rem;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.6px;
    line-height: 2.733rem; /* 41px; */
  }
}

.confeccao {
  h3 {
    width: 100%;
    text-align: center;
    font-size: 1.733rem; /* 26px */
    letter-spacing: 2.18px;
    line-height: 2.133rem; /* 32px */
    margin-bottom: 0;
  }
  h4 {
    font-style: italic;
    text-align: center;
    font-family: $fonteBold;
  }
  p {
    font-family: $fonteIntermediaria;
  	font-size: 1rem;
  	line-height: 1.333rem; /* 20px */
  	text-align: center;
    margin: 1rem auto;
    width: 90%;
    color: $corLink;
  }
  .btn-inverte {
    margin: 3rem auto;
    display: table;
  }
}


/* Banner */
.banner-principal,
.banner-meio {
  height: calc(94vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $cinzaBG;
  margin-top: 110px;
  .titulo {
    color: $branco;
    text-transform: uppercase;
    letter-spacing: 5.61px;
    font-weight: 400;
  	text-shadow: 0 2px 50px rgba($preto, .5);
    width: 84%;
    position: relative;
    b {
      font-weight: 400;
      width: 100%;
      position:relative;
      &:after {
        content:"";
        background:#FF5465;
        width:100%;
        height:8px;
        position:absolute;
        top:54px;
        left: 0;
      }
    }
  }
  .descricao {
    color: $branco;
  	color: $corParagrafoInverte;
  	font-family: $fontePadrao;
  	font-size: 1.333rem; /*20px*/
  	line-height: 1.667rem; /*25px*/
  	text-shadow: 0 2px 50px rgba($preto, .5);
    font-weight: 400;
    max-width: 90%;
  }
  .carousel-inner {
    z-index: 2;
  }
}

.banner-meio {
  height: 430px;
  h5 {
    text-align: center;
    b {
      color: $corTitulo;
    }
  }
}


/* Owl Carrossel */
.owl-carousel {
  margin: 3.571rem 0; /* 50px */
  width: 100%;
  img {
    width: 100%;
  }
  figure {
    @include imagem($branco, '', cover, 50% 50%, no-repeat);
    min-height: 300px;
    height: auto;
    min-width: 100%;
    display: block;
  }
  figcaption {
    color: $corParagrafo;
    font-family: $fontePadrao;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    max-width: 80%;
    margin: 20px auto 0;
    font-weight: 400;
  }
  &:hover {
    text-decoration: none;
    figcaption,
    figcaption:hover {
      text-decoration: none;
      color: rgba($corParagrafo, .6);
    }
  }
}

.item:hover a {
  text-decoration: none;
  figure img {
    filter: grayscale(40%);
  }
  figcaption,
  figcaption:hover {
    text-decoration: none;
    color: $corLink;
  }
}

.owl-dots {
  text-align: center;
  margin: 10px auto;
  width: auto;
  display: table;
  .owl-dot {
    background-color: $branco;
    box-shadow:0 0 0 1px $corParagrafo;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 3px;
    border:3px solid transparent;
    float: left;
    &.active,
    &:hover {
      background: $corParagrafo;
      border: 3px solid $branco;
      outline: 0;
    }
  }
}

.owl-trio {
  margin-top: 0;
  .owl-dots {
    margin: 4rem auto 0;
  }
}


/* Mapa */
.mapa {
  margin: 3rem 0;
  iframe {
    border: 0;
    width: 500px;
    height: 500px;
  }
}


/* Componentes */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  border: none;
  background-color: $cinzaBG;
  display: inline-block;
  clear:both;
  margin: 3rem auto;
  width: 100%;
}

.contador {
  background: transparent;
  color: $corParagrafo;
  padding: 2rem;
  position: relative;
  width: 100%;
  .dados {
    display: inline-block;
    text-align: center;
    width: 50%;
    float: left;
    position: relative;
    margin: 3rem 0;
    .num {
      font-size: 13.33rem; /* 200px */
      line-height: 6.667rem; /* 100px */
      letter-spacing: -8.33px;
      display: block;
      font-weight: 400;
      font-family: $fonteIntermediaria;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      color: rgba($corParagrafo, 0.095);
    }
    p {
      font-family: $fontePadrao;
      font-size: 0.8667rem; /* 13px */
      line-height: 1.133rem; /* 17px */
      float: right;
      font-style:italic;
      font-weight: 400;
      padding: 0 2rem;
      color: $corLink;
    }
  }
}

.dados-empresa {
  h5 {
    position: relative;
    width: auto;
    display: inline-block;
    padding: 5px;
    i {
      font-size: 1.133rem; /* 17px */
      width: 24px;
      text-align: center;
    }
    &:after {
      content: "";
      background: $corTitulo;
      width: calc(100% - 30px);
      height: 1px;
      bottom: 0;
      right: 0;
      display: block;
      position: absolute;
    }
  }
  p {
  	font-size: 1rem;
  	line-height: 1.333rem; /* 20px */
    padding-left: 2rem;
  }
}


.produto {
  margin: 1rem 0;
  text-align: center;
  &:hover,
  &:focus {
    img {
      opacity: .9;
      filter: grayscale(40%);
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: $corLink;
    }
  }
}

/* Imagens */
.img-round {
  @include imagem(transparent, '', contain, 50% 50%, no-repeat);
  width: 400px;
  height: 400px;
  display: table;
  border-radius: 100%;
  margin: auto;
}

.figura-destaque {
  height: 100%;
  width: 100%;
  min-height: 572px;
  @include imagem($cinzaBG, '', cover, 50% 50%, no-repeat);
  position: relative;
  figcaption {
    position: absolute;
    bottom:0;
    background:transparent;
    color:$branco;
    font-style: normal;
    font-size: 1.714rem; /* 24px*/
    line-height: 2.286rem; /* 32px */
    font-weight: 700;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
  }
}

.imagem-destaque {
  height: 721px;
  max-width: 100%;
  display: block;
  float: right;
  img {
    height: 100%;
    display: table;
    margin: 0 auto;
  }
}

.img-meio {
  height: 830px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  .img-scale {
    @include transicao(all .75s linear);
    @include imagem($cinzaBG, '', cover, center, no-repeat);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    &:hover {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .img-conteudo {
      color: $branco;
      z-index: 1;
      position: relative;
      width: 100%;
      text-align: center;
      p {
        color: $corParagrafoInverte;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 3rem;
      }
      h3 {
        color: $branco;
        margin-bottom: 5px;
      }
  }
}

.img-passos {
  @include imagem(transparent, '', cover, 50% 50%, no-repeat);
  width: 100%;
  height: 900px;
  display: block;
  margin: 0 auto;
}

.img-confeccao {
  @include imagem(transparent, '', cover, 50% 50%, no-repeat);
  width: 390px;
  height: 390px;
  display: block;
  margin: 2rem auto;
}

.img-medidas {
  @include imagem(transparent, '', cover, 50% 50%, no-repeat);
  width: 100%;
  height: 400px;;
  display: block;
  margin: 2rem auto;
}

.accordion {
  margin-top: 3rem;
}

.card {
  border: 0;
  border-bottom: 1px solid $cinzaBG;
  .card-header {
    background: transparent;
  }
  .card-body {
    border-bottom: 1px solid $cinzaBG;
    padding: 2rem;
    p {
      color: $corParagrafo;
      font-family: $fonteIntermediaria;
      font-size: 1rem;
      line-height: 1.6;
      max-width: 80%;
    }
  }
}

/* Listas */
.lista-menu {
  border: 1px solid rgba($preto, .1);
  li {
    color: $corTitulo;
    padding: 0 3rem;
    width: 100%;
    a {
      color: $corTitulo;
      text-decoration: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba($preto, .1);
      padding: 1.5rem 0;
    }
    small {
      color: $corLink;
      text-transform: uppercase;
      font-size: 0.7333rem; /* 11px */
      letter-spacing: 0.41px;
      line-height: 0.8rem; /* 12px */
      display: inline-block;
      float: left;
      margin-bottom: 5px;
    }
    b {
      font-size: 1.333rem; /* 20px */
      font-weight: 700;
      line-height: 1.733rem; /* 26px */
      clear: both;
      display: inline-block;
      float: left;
    }
    &:hover,
    &:focus {
      background: $corTitulo;
      * {
        color: $corParagrafoInverte;
      }
    }
  }
  .form-control {
    border: 1px solid $cinzaBorda;
    background: $cinzaBG;
    padding-left: 10px;
    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
      color: $corTitulo;
      border: 1px solid $corTitulo;
      font-style: italic;
    }
    &:focus {
      background: $branco;
    }
  }
}

.menu-confeccao {
  display: block;
  text-align: center;
  margin: 3rem 0;
  width: 100%;
  border-bottom: 1px solid $cinzaBG;
  .nav-tabs {
    border-bottom: 0;
    margin: 1rem auto;
    display: table;
  }
  .nav-link {
    color: $corParagrafo;
    font-family: $fontePadrao;
    font-size: 1rem;
    line-height: 1.333rem; /* 20px */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    padding: 0 1rem;
    border-radius: 0;
    position:relative;
    &:after {
      content: "";
      background: transparent;
      width: 40px;
      height: 3px;
      position: absolute;
      bottom: -17px;
      left: calc(50% - 20px);
    }
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-link:hover {
    color: $corTitulo;
    background-color: $branco;
    border-color: $branco $cinzaBG $branco $branco;
    &:after {
      background: $corTitulo!important;
    }
  }
}


.confeccaoFilter {
  padding: 1rem 0;
  border-top: 1px solid $corLink;
  border-bottom: 1px solid $corLink;
  font-style: italic;
  text-align: center;
  color: $corParagrafo;
  em {
    padding-right: 3rem;
  }
  li {
    margin-right: 1rem;
    color: $corTitulo;
    text-decoration: none;
    border: 0;
    padding: 1rem;
    display: inline-block;
    text-transform: lowercase;
    position: relative;
    &.current {
      color: $vermelho;
    }
    i {
      margin-left: 2px;
      vertical-align: middle;
    }
  }
  .sub-nav {
    display: none;
    opacity: 0;
    position: relative;
    @include transicao(all .75s);
    background: rgba($cinzaBG, .06);
    border: 1px solid rgba($corLink, .26);
    width: 100%;
    border-radius: 0;
  }
}

.confeccaoContainer {
  margin: 15px 0;
  img {
    max-width:100%;
  }
  .isotope-item {
    margin: 1.5%;
    width: 30%;
    min-height: 168px;
    min-width: 168px;
    float: left;
    z-index: 2;
    h5 {
    	text-align: center;
      letter-spacing: 0;
    }
    p {
      font-family: $fonteBold
    }
    &:hover,
    &:focus {
      opacity: .8;
    }
  }
  .isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
  }
}

.isotope {
  width: 100%;
  height: 100%;
  display: table;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}


/* Tabelas */
.tabela-medidas {
    margin: 3rem 0;
    padding: 3rem 0;
    width: 100%;
    border-top: 1px solid rgba($preto, .1);
    border-bottom: 1px solid rgba($preto, .1);
    display: block;
    tr {
      border: transparent;
      &.divisor {
        th,
        td {
          padding-top: 3rem;
        }
      }
      th,
      td {
        width: 50%;
        padding: 1rem 2rem 0;
        border: transparent;
      }
      th,
      td:first-child {
        text-align: right;
      }
      td:last-child {
        color: $corParagrafo;
        font-style: italic;
      }
    }
}
