/* Cores */
$branco              : #FFFFFF;
$preto               : #000000;
$vermelho            : #FF5465;
$cinzaBG             : #F5F5F5;
$cinzaBorda          : #E8E8E8;
$corTitulo           : #222222;
$corRodape           : #222222;
$corParagrafo        : #838383;
$corParagrafoInverte : #F7F7F7;
$corLink             : #878787;
$corPlaceholder      : #9fa5aa;

$azul                : #2980b9;
$verde               : #4bd02a;


/* Imagens */
/*$parallax       : url(//via.placeholder.com/1920x600);*/
$logo           : url(../images/logo.png);
$parallax       : url(../images/icones/pattern.png);
$input          : url(../images/icones/inputs.png);
$inputRadio     : url(../images/icones/input-radio.png);
$arrow          : url(../images/icones/arrow.png);
$pattern        : url(../images/icones/pattern.png);
$down           : url(../images/icones/ico_down.svg);
$chave          : url(../images/icones/key.svg);
$user           : url(../images/icones/avatar.svg);
$userInverte    : url(../images/icones/avatarH.svg);


/* Fontes */
$tamanhoFonte       : 15px;
$fontePadrao        : "coranto-2", "CorantoW01-2Regular", sans-serif; /* variações: 400, 700 - normal e italic */
$fonteBold          : "coranto-2-headline", "CorantoW01-2Regular", sans-serif; /* variações: 400, 700 - normal */
$fonteIntermediaria : "CorantoW01-2Regular", sans-serif;
$fonteIcone         : "Font Awesome 5 Free";


/* Mixins */
@mixin imagem($cor, $imagem, $tamanho, $posicao, $repeticao) {
  background-color: $cor;
  background-image: $imagem;
  background-size: $tamanho;
  background-position: $posicao;
  background-repeat: $repeticao;
}

@mixin filtro($tipo) {
  filter: $tipo;
  -webkit-filter: $tipo;
  -moz-filter: $tipo;
  -ms-filter: $tipo;
  -o-filter: $tipo;
}

@mixin animacao($tipo) {
  transform: $tipo;
  -webkit-transform: $tipo;
  -moz-transform: $tipo;
  -ms-transform: $tipo;
  -o-transform: $tipo;
}

@mixin transicao($tipo) {
  transition: $tipo;
  -webkit-transition: $tipo;
  -moz-transition: $tipo;
  -ms-transition: $tipo;
  -o-transition: $tipo;
}

@mixin efeito($tipo) {
  animation: $tipo;
  -webkit-animation: $tipo;
  -moz-animation: $tipo;
  -ms-animation: $tipo;
  -o-animation: $tipo;
}

@mixin gradiente($cor1, $cor2) {
  background: $cor1;
  background: -moz-linear-gradient(left, $cor1 0%, $cor2 100%);
  background: -webkit-linear-gradient(left, $cor1 0%, $cor2 100%);
  background: linear-gradient(to right, $cor1 0%, $cor2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=''$cor1'', endColorstr='$cor2',GradientType=1 );
}
