<template>
    
</template>

<script>
export default {
    messagesSweet(title = "titulo", text = "", type = "warning", showCancelButton = false) {
        swal({
            title: title,
            text: text,
            type: type,
            showCancelButton: showCancelButton,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ok'
            }).then((result) => {
                // Send request to the server
                if (result.value) {
                    this.form.delete('api/user/'+id).then(()=>{
                        swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                        
                    })
                }
            })
    },

    messageTime(title = 'algum titulo', html = null, timer = 2000) {
        let timerInterval = 500
        swal.fire({
        title: title,
        html: html,
        timer: timer,
        onBeforeOpen: () => {
            swal.showLoading()
        },
        onClose: () => {
            clearInterval(timerInterval)
        }
        }).then((result) => {
        if (
            result.dismiss === swal.DismissReason.timer
        ) {
            //alguma logica
        }
        })
    }
}
</script>

<style>

</style>
