<template>
    <section id="minha-conta" class="container">

        <div class="row">
            <div class="breadcumbs">
              <ul>
                  <li>
                  <a @click.prevent="$router.push('/minhaconta')" href="">Meus Pedidos</a>
                  </li>
              </ul>
              <a @click.prevent="$router.push('/minhaconta')" href="/" class="link-small">Voltar</a>
            </div>
        </div>

        <div class="col-12 invoice">

            <div class="row invoice-info">

                <div v-if="listCompras == null || !listCompras.length">
                    <div v-if="!listComprasResolved">
                        Carregando...
                    </div>
                    <div v-else>
                        <div class="alert alert-secondary" role="alert">
                            <p>Você não possui nenhum pedido. O que acha de confeccionar uma camisa agora?</p>
                                <router-link :to="'/confeccao'">
                                    <button type="button" class="btn btn-outline-dark">Clique aqui</button>
                                </router-link>
                        </div>
                    </div>
                </div>
                <div class="row conteudo-invoice" v-else>
                    
                    <div v-for="compra in listCompras" :key="compra.id" class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 invoice-col border mb-2 shadow-sm bg-white rounded">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div style="width: auto; height: 100%;" class="img-confeccao">
                                    <img :src="'../../media/images/galeria/moldes/mockup.png'" alt="">
                                </div>
                                <!--div style="width: 200px; height: 270px;" class="img-confeccao">
                                        <div id="camisa">
                                            <div id="camisa_base">
                                                <img :src="'../../media/images/galeria/moldes/confeccao_detalhes/camisa_' + compra.confeccaodetalhes.tipo + '.png'" alt="">
                                            </div>
                                            <div id="gola_base">
                                                <img :src="'../../media/images/galeria/moldes/confeccao_detalhes/g' + compra.produto_colarinho_id + '.png'" alt="">
                                            </div>
                                            <div id="bolso_base">
                                                <span v-if="compra.confeccaodetalhes.bolso == 'sim'">
                                                    <img :src="'../../media/images/galeria/moldes/confeccao_detalhes/bolso.png'" alt="">
                                                </span>
                                                <span v-else>
                                                    <img src="" alt="">
                                                </span>
                                            </div>
                                            <div id="punho_base">
                                                <img :src="'../../media/images/galeria/moldes/confeccao_detalhes/p' + compra.produto_punho_id + '.png'" alt="">
                                            </div>
                                        </div>
                                    </div-->
                            <!-- <div v-if="carregaImagens == true"> -->
                                <!-- <span v-else v-bind:style="{ backgroundImage: 'url(../' + compra.punho_colarinho_foto + ')' }" style="width: 150px; height: 200px;" class="img-confeccao divlupa"></span> -->
                            <!--</div>
                            <div v-else>
                                <span v-bind:style="{ backgroundImage: 'url(/media/images/icones/cuboloading.gif)' }" style="width: 150px; height: 200px;" class="img-confeccao divlupa"></span>
                            </div> -->
                            </div>
                            <div class="col-5 col-sm-8 col-md-5 col-lg-5 col-xl-5 mt-4">
                                <span style="font-size: 15px;"><strong>Tecido:</strong> {{ compra.nome }}</span>
                                <br>
                                <span style="font-size: 15px;"><strong>Preço:</strong> R$ {{ compra.valor_total.toFixed(2) }}</span>
                                <br>
                                <br>
                                <span><strong>Local de entrega:</strong><br/> {{ compra.rua }}</span>, <span><strong>Nº:</strong> {{ compra.numero }}</span>
                                <br>
                                <span><strong>Cep:</strong> {{ compra.cep }}</span>
                                <br>
                                <br>
                                <span><strong>Data da compra: </strong> {{ compra.created_at | myDate }}</span>
                                <br>
                                <br>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-4 coluna-botao">
                                <router-link :to="`/checkout-dadoscompra/${ compra.id }`" class="btn-inverte-sm float-right">
                                    Ver Detalhes <i class="fa fa-arrow-right"></i>
                                </router-link>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            listComprasResolved: false,
            listCompras: new Form({}),
            carregaImagens: false
        };
    },

    methods: {
        pedidosbyuserid() {
            axios.get(`/api/pedidosbyuserid/${user.id}`).then(res => {
                //if (res.data.length < 1) {
                    // toast({
                    //     type: 'warning',
                    //     title: 'Voce ainda não possui nenhum pedido'
                    // })
                    //this.$router.push({ path: '/confeccao' })
                //}
                if (res.data.length > 0) {
                    this.listCompras = res.data;
                } else {
                    this.listaCompras = null;
                }
                this.listComprasResolved = true;
            })
        },
        
        loadingImages() {
            setTimeout(() => {
                this.carregaImagens = true
            }, 3500);
        }
    },

    created() {
        this.pedidosbyuserid()
        this.loadingImages()
    },
    mounted(){
        if(user === null) {
            window.location.href = "/";
        }
    }
};
</script>
