<template>
    <section id="minha-conta">
        <div class="invoice p-3 mt-3 container">
            <!-- title row -->
            <div class="breadcumbs">
                <ul>
                    <li>
                        <!-- <a>Pedido #{{ idpedido }}</a> -->
                        <a>Pedido #{{ iden_pedido }}</a>
                    </li>
                </ul>
                <div class="link-small">
                    <a href="deslogar" class="link-navigate"></a>
                    <a href="/" class="link-navigate"></a>
                </div>
            </div>

            <div class="row" v-if="compras.length > 0">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row invoice-info">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 invoice-col">
                            <br>
                            <br>
                            
                            <address class="endereco">
                                <strong>Para: </strong>{{ name }}
                                <br>
                                <br>
                                <strong>Local de Entrega: </strong><br> {{ rua }}, {{ numero }}
                                <br>   
                                <strong>Cep: </strong> {{ cep }}
                                <br>
                                <br>
                                <!-- Telefone: (11) 11111-1111<br>
                                Celular: (11) 99999-9999<br> -->
                                <strong>Email: </strong>{{ email }}
                            </address>
                        </div>
                        <!-- /.col -->
                    </div>
                
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive" style="margin-top: 50px;">
                                <h5 class="lead">Valores</h5>
                                <div class="values-wrapper">
                                    <div class="value-single">
                                        <div class="value-label"><strong>Subtotal:</strong></div>
                                        <div class="value-number"><span class="price-wrapper">R$ {{ formataDinheiro( valor_total - frete ) }}</span></div>
                                    </div>
                                    <div class="value-single">
                                        <div class="value-label"><strong>Frete:</strong></div>
                                        <div class="value-number"><span class="price-wrapper">R$ {{ formataDinheiro( frete ) }}</span></div>
                                    </div>
                                    <div class="value-single">
                                        <div class="value-label"><strong>Serviço de Entrega:</strong></div>
                                        <div class="value-number">{{ tipo_frete }}</div>
                                    </div>
                                    <div class="value-single">
                                        <div class="value-label"><strong>Total:</strong></div>
                                        <div class="value-number"><span class="price-wrapper">R$ {{ formataDinheiro( valor_total) }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- <div class="row no-print">
                        <div class="col-12">
                            <a onclick="window.print()" target="_blank" class="btn btn-default">
                                <i class="fa fa-print"></i> Imprimir
                            </a>
                        </div>
                    </div> -->
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row invoice-info">
                        <div v-for="compra in compras" :key="compra.id" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 invoice-col border mb-2 shadow-sm bg-white rounded pedido-conteudo">
                            <div class="row">
                                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="img-detalhe" v-if="carregaImagens == true">
                                        <span v-if="compra.bolso == 'sim'" v-bind:style="{ backgroundImage: 'url(../../' + compra.punho_colarinho_foto_bolso + ')' }" style="width: auto; height: 100%;" class="divlupa"></span>
                                        <span v-else v-bind:style="{ backgroundImage: 'url(../../' + compra.punho_colarinho_foto + ')' }" style="width: auto; height:100%;" class="divlupa"></span>
                                    </div>
                                    <div v-else>                                        
                                        <span v-bind:style="{ backgroundImage: 'url(/media/images/icones/cuboloading.gif)' }" style="width: auto; height: 100%;" class="divlupa"></span>
                                    </div>
                                </div>
                                <div class="row col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 mt-5">
                                    <div class="col-8 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3">
                                        <span><strong class="tamanho-texto-strong">Tecido: </strong><br>{{ compra.tecidos_nome }}</span>
                                        <br>
                                        <br>
                                        <span><strong class="tamanho-texto-strong">Quantidade: </strong>{{ compra.qtd }}</span>
                                        <br>
                                        <br>
                                        <span><strong class="tamanho-texto-strong">Punho: </strong>{{ compra.punhos_nome }}</span>
                                        <br>
                                        <br>
                                        <span><strong class="tamanho-texto-strong">Bolso: </strong>{{ compra.bolso }}</span>
                                        <br>
                                        <br>
                                        <span><strong class="tamanho-texto-strong">Valor unitário: </strong><span class="price-wrapper">R$ {{ formataDinheiro(compra.tecidos_valor) }}</span></span>
                                        <br>
                                        <br>
                                        <span><strong class="tamanho-texto-strong">Valor total: </strong><span class="price-wrapper">R$ {{ formataDinheiro(compra.comp_total) }}</span></span>
                                        <br>
                                        <br>
                                        <span><strong class="tamanho-texto-strong">Colarinho: </strong>{{ compra.colarinhos_nome }}</span>
                                        <br>
                                        <br>
                                        <span><strong class="tamanho-texto-strong">Monograma: </strong>{{ compra.monograma }}</span>
                                    </div>
                                    <div class="col-4 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3 col-medidas">
                                        <ul>
                                            <li class="medidas-title"><strong class="tamanho-texto-strong">Medidas</strong></li>
                                            <li><strong class="tamanho-texto-strong">Colarinho: </strong> {{ compra.colarinho }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Tórax: </strong> {{ compra.torax }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Cintura</strong> {{ compra.cintura }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Quadril: </strong> {{ compra.quadril }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Comprimento Total: </strong> {{ compra.comp_total }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Costas: </strong> {{ compra.largura_costas }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Largura das Costas 2: </strong> {{ compra.largura_costas_dois }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Ombro: </strong> {{ compra.ombro }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Cava: </strong> {{ compra.cava }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Punho Direito: </strong> {{ compra.comp_mana_d }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Punho Esquerdo: </strong> {{ compra.punho }}cm</li>                                            
                                            <li><strong class="tamanho-texto-strong">Bíceps: </strong> {{ compra.biceps }}cm</li>
                                            <li><strong class="tamanho-texto-strong">Comp. Manga: </strong> {{ compra.comp_manga_e }}cm</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            idCompra: this.$route.params.id,
            compras: new Form({}),
            idpedido: null,
            name: null,
            rua: null,
            numero: null,
            cep: null,
            email: null,
            valor_total: null,
            frete: null,
            tipo_frete: null,
            qtd: null,
            carregaImagens: false,
            iden_pedido: null,
        }
    },

    methods: {
        formataDinheiro(string) {
            return parseFloat( string ).toFixed(2).replace('.', ',');
        },

        pedidobyid() {
            axios.get(`/api/pedidobyid/${user.id}/${this.idCompra}`).then(res => {
                this.compras = res.data

                if(this.compras.length > 0) {

                    this.idpedido = this.compras[0].id
                    this.name = this.compras[0].name
                    this.rua = this.compras[0].rua
                    this.numero = this.compras[0].numero
                    this.cep = this.compras[0].cep
                    this.email = this.compras[0].email
                    this.valor_total = this.compras[0].valor_total
                    this.frete = this.compras[0].frete
                    this.tipo_frete = this.compras[0].tipo_frete
                    this.qtd = this.compras[0].qtd
                    this.iden_pedido = this.compras[0].identificacao_pedido
                    console.log(this.compras);
                } else {
                    //window.history.back();
                }
            })
        },

        loadingImages() {
            setTimeout(() => {
                this.carregaImagens = true
            }, 3000);
        }
    },

    created() {
        this.pedidobyid()
        this.loadingImages()
    },
    mounted(){
        if(user === null) {
            window.location.href = "/";
        }
    }

}
</script>

<style scoped>
    .tamanho-texto-strong {
        font-size: 16px;
    }

    .col-medidas li {
        margin-bottom: 10px;
    }

    .col-medidas li.medidas-title {
        border-bottom: solid 1px #212529;
        margin-bottom: 20px;
    }

    .col-medidas li.medidas-title .tamanho-texto-strong {
        font-size: 20px;
    }

    .price-wrapper {
        display: inline-block;
    }

    .values-wrapper {
        width: 100%;
        max-width: 300px;
        padding-left: 15px;
    }

    .value-single {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


</style>