<template>
    <!-- 
    <div class="row">
        <div class="col-6 col-sm-12">
            <span style="background-image:url(../media/images/galeria/moldes/mockup.png);" class="img-confeccao"></span>
            <div class="btns">
                <a class="btn-inverte" @click.prevent="$router.push('/confeccao#confeccao')" href=""><i class="fa fa-arrow-left"></i> Tecido</a>
                <a class="btn-inverte" @click.prevent="$router.push('/colarinho#confeccao')" href="">Colarinho <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>-->
    <!---->
    <section id="carrinho" class="container container-checkout">
        
        <div class="row">
            <div class="breadcumbs">
              <ul>
                  <li>
                    <a href="">Carrinho</a>
                  </li>
              </ul>
              <a onClick="window.history.back()" class="link-small">Voltar</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-5">
                <div class="tab-content conteudo-carrinho">
                    <div class="tab-pane active" id="checkout-tab" aria-expanded="true" role="tablist" aria-labelledby="checkout">
                        <div class="row">
                            <div class="col-md-4 order-md-2 mb-4">
                                <div class="card">
                                    <div class="card-content form-checkout-wrapper">
                                        <ul class="list-group mb-3" id="checkout-detail">
                                            <span v-bind:style="{ backgroundImage: 'url(/media/images/icones/lodingChartStore.gif)' }" style="display: none;"></span>
                                            
                                            <!--<div v-if="calculatedFrete == true">
                                                
                                                <div v-if="carregaFrete == true">

                                                    <li class="list-group-item d-flex justify-content-between">
                                                        <span class="product-name">Valor do frete</span>
                                                        <span class="product-price">{{ frete.replace(',', '.') | currency }}</span>
                                                    </li>

                                                </div>
                                                <div v-else>
                                                    <span v-bind:style="{ backgroundImage: 'url(/media/images/icones/lodingChartStore.gif)' }" style="width: 50px; height: 70px;" class="img-confeccao divlupa"></span>
                                                </div>

                                            </div> -->
                                            
                                            <!-- <li class="list-group-item d-flex justify-content-between">
                                                <div class="text-success">
                                                    <h6 class="my-0">Código promoção</h6>
                                                    <small>EXAMPLECODE</small>
                                                </div>
                                                <span class="text-success">-$200</span>
                                            </li> -->


                                            <li class="list-group-item d-flex justify-content-between">
                                                <form method="POST" class="width-full div-resumo">
                                                    <h4 class="section-title">Resumo da compra</h4>
                                                    <div class="form-group form-cep">
                                                        <div class="text-center margin-top-small">
                                                            <a href="#" class="color-default">Não sei meu CEP</a>
                                                        </div>
                                                        <!--<label for="cep">Inclua o Frete</label>-->
                                                        <input type="text" class="form-control input-large" id="cep" name="cep" v-model="cep" v-mask="'#####-###'" placeholder="Insira o CEP">
                                                        <button type="submit" class="btn btn-black" @click.prevent="calcularFrete(true)" id="btnCalcularFrete">Calcular</button>
                                                        <!--<small id="calcFrete" class="text-muted">
                                                            Somente números
                                                        </small>-->
                                                    </div>
                                                    <div class="form-group resumo-frete">
                                                        <div class="form-check form-check-inline">
                                                            <input @click="calcularFrete(true)" class="form-check-input" type="radio" name="tipo_frete" id="tipo_frete_sedex" value="04014" checked>
                                                            <label class="form-check-label" for="tipo_frete_sedex">Sedex (prazo de 01 a 03 dias úteis)</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input @click="calcularFrete(true)" class="form-check-input" type="radio" name="tipo_frete" id="tipo_frete_pac" value="04510">
                                                            <label class="form-check-label" for="tipo_frete_pac">PAC (prazo de 03 a 10 dias úteis)</label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                    <span class="product-name">Valor adicional da prova</span>
                                                    <span class="product-price">{{ valorAmostra | currency }}</span>
                                                </li>
                                                <form method="POST">
                                                    <div class="form-group">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="amostra" id="amostra-sim" value="sim" @click="amostraUpdateValue('sim')">
                                                            <label class="form-check-label" for="amostra-sim">Sim</label>
                                                            <input class="form-check-input" type="radio" name="amostra" id="amostra-nao" value="não" @click="amostraUpdateValue('nao')" checked>
                                                            <label class="form-check-label" for="amostra-nao">Não</label>
                                                        </div>
                                                        



                                                        <small id="amostra-adicional" class="text-muted"> 
                                                            <div id="show-modal" @click.prevent="exibeVideo()">
                                                                Saiba o que este serviço significa. 
                                                                <span data-toggle="modal" data-target="#modal-info" data-title="Medida do colarinho">
                                                                    <i class="fas fa-question"></i>
                                                                </span>
                                                            </div>
                                                        </small>

                                                    </div>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="modal-titulo-medida">Saiba o que este serviço significa</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body" id="modal-corpo-info-medida" style="heigth: 400px;">
                                                                <p>A prova é uma opção de “avaliar” as características do produto fisicamente. Confeccionamos uma primeira camisa, mandamos para o cliente provar e verificar se está em conformidade com suas medidas e, somente depois do “de acordo” produzimos as demais camisas. O valor varia de acordo com o tipo de tecido e local de entrega.</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="far fa-thumbs-up"></i> Entendi</button>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            <li class="list-group-item d-flex justify-content-between discount-wrapper">
                                                <form method="POST" id="frmCupom" class="width-full form-cep">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-large" id="cupom" name="cupom" placeholder="Cupom de Desconto">
                                                        <button type="submit" class="btn btn-black" id="add_cupom" @click.prevent="aplicarCupom()">Aplicar</button>
                                                    </div>
                                                </form>
                                            </li>
                                            <li class="list-group-item price-block" id="priceBlock">
                                                <div class="price-block-sub">
                                                    <span class="product-name success">Subtotal</span>
                                                    <span class="product-price">{{ subtotal  | currency}}</span>
                                                </div>
                                                <div class="price-block-sub">
                                                    <span class="product-name success">Descontos</span>
                                                    <span class="product-price">{{ desconto | currency }}</span>
                                                </div>
                                                <div class="price-block-sub" v-if="calculatedFrete == true">
                                                
                                                    <div class="valor" v-if="carregaFrete == true">

                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <span class="product-name">Valor do frete</span>
                                                            <span class="product-price">R$ {{ frete }}</span>
                                                        </li>

                                                    </div>

                                                    <div class="valor" v-else>
                                                        <span v-bind:style="{ backgroundImage: 'url(/media/images/icones/lodingChartStore.gif)' }" style="width: 50px; height: 70px; background-color:transparent;" class="img-confeccao divlupa"></span>
                                                    </div>

                                                </div>
                                                <div class="price-block-sub">
                                                    <span class="product-name">Teste de prova</span>
                                                    <span class="product-price">{{ testeProva | currency}}</span>
                                                </div>
                                                <div class="price-block-sub price-total">
                                                    <span class="product-name"><strong>Total</strong></span>
                                                    <span class="product-price"><strong>{{ dadosClienteForm.totalComFrete | currency}}</strong></span>
                                                </div>
                                            </li>
                                            <li v-if="(textoBotaoFinalizar === 'Finalizar Compra' && frete == 0 && desconto == 0)">
                                                <p class="text-small text-danger">
                                                Preencha os dados de cartão de crédito para finalizar a compra. Caso não seja usado cupom de desconto, o frete também é obrigatório.
                                                </p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-start no-padding-top">
                                                <button v-bind:class="{'btn':true, 'btn-black':true, 'blocked':(textoBotaoFinalizar === 'Finalizar Compra' && frete == 0 && desconto == 0) }" type="submit" @click.prevent="salvar()" id="btnFinalizar">{{ textoBotaoFinalizar }}</button>
                                            </li>
                                            <li class="list-group-item text-center">
                                                <a href="/confeccao" class="link-back-to-shop">Continuar Comprando</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- <form class="card p-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Promo code">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-secondary">Redeem</button>
                                        </div>
                                    </div>
                                </form> -->
                            </div>
                            <div class="col-md-8 order-md-1">
                                <div class="card">
                                    <!--<div class="card-header">                            
                                        <h4 class="card-title">Seu carrinho ({{ countCarrinhoQtd }})</h4>
                                    </div>-->
                                    <div class="card-content" v-if="loading === true">
                                        Carregando o seu carrinho...
                                    </div>
                                    <div class="card-content" v-if="countCarrinhoQtd === 0 && loading === false">
                                        Não há nenhum item no carrinho
                                    </div>
                                    <div class="card-content cart-checkout" v-if="!cartConfirmed && countCarrinhoQtd > 0 && loading === false">
                                        <li v-for="(itemcarrinho, index) in itensCarrinho" :key="itemcarrinho.id" class="list-group-item d-flex justify-content-around lh-condensed cart-product-single" :id="itemcarrinho.id">
                                            <div class="container container-flex">
                                                <div class="row">
                                                    <div class="col-3 col-sm-4">
                                                        <div v-if="carregaImagens == true">
                                                            <div class="img-confeccao divlupa img-checkout-preview-wrapper" v-if="itemcarrinho.confeccaodetalhes">
                                                                <div class="img-checkout-preview-content" id="camisa">
                                                                    <div id="camisa_base">
                                                                        <img :src="'../../media/images/galeria/moldes/confeccao_detalhes/camisa_' + (itemcarrinho.confeccaodetalhes.tipo) + '.png'" alt="">
                                                                    </div>
                                                                    <div id="gola_base">
                                                                        <img :src="'../../media/images/galeria/moldes/confeccao_detalhes/g' + itemcarrinho.produto_colarinho_id + '.png'" alt="">
                                                                    </div>
                                                                    <div id="bolso_base">
                                                                        <span v-if="itemcarrinho.confeccaodetalhes.bolso == 'sim'">
                                                                            <img :src="'../../media/images/galeria/moldes/confeccao_detalhes/bolso.png'" alt="">
                                                                        </span>
                                                                        <span v-else>
                                                                            <img src="" alt="">
                                                                        </span>
                                                                    </div>
                                                                    <div id="punho_base">
                                                                        <img :src="'../../media/images/galeria/moldes/confeccao_detalhes/p' + itemcarrinho.produto_punho_id + '.png'" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div v-else>
                                                            <span v-bind:style="{ backgroundImage: 'url(/media/images/icones/cuboloading.gif)' }" style="width: 50px; height: 70px;" class="img-confeccao divlupa"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-9 col-sm-8">
                                                        <h6 class="product-name" v-if="itemcarrinho.tecido">{{ itemcarrinho.tecido.nome }}</h6>

                                                        <p class="product-price" v-if="itemcarrinho.fio">
                                                            <!-- R$ {{ (parseFloat(itemcarrinho.fio.valor.replace(',', '.')) * itemcarrinho.qtd).toFixed(2).replace('.', ',') }} -->
                                                            <!-- {{ itemcarrinho.fio.valor.replace('.', '').replace(',', '.')* itemcarrinho.qtd }} -->
                                                            R$ {{ (itemcarrinho.fio.valor.replace('.', '').replace(',', '.')* itemcarrinho.qtd).toFixed(2).replace('.', ',') }}
                                                        </p>
                                                        <div class="product-options-wrapper" v-if="itemcarrinho.tecido">
                                                            <div>
                                                                <div class="form-group row product-amount js-product-amount">
                                                                    <input class="form-control product-amount-input" type="text" v-model="itemcarrinho.qtd" readonly />
                                                                    <i class="btn-amount btn-amount-down fas fa-angle-down" @click.prevent="updateQtdItemCarrinho(itemcarrinho.id, 'less', index, itemcarrinho.tecido.nome)"></i>
                                                                    <i class="btn-amount btn-amount-up fas fa-angle-up" @click.prevent="updateQtdItemCarrinho(itemcarrinho.id, 'plus', index, itemcarrinho.tecido.nome)"></i>
                                                                </div>                                                        
                                                            </div>
                                                            <div>
                                                                <span @click.prevent="removeItemCarrinho(itemcarrinho.tecido.nome, itemcarrinho.id, index)" class="d-block product-remove"><i class="fa fa-trash red" style="cursor: pointer;"></i></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="card-content credit-card-data" v-if="cartConfirmed">
                                        <h4 class="section-title">Pagamento</h4>
                                        <form >
                                            <div class="row">

                                                <div class="cartao offset-1" v-if="dadosClienteForm.cvv">
                                                    <div class="row">
                                                        <div class="offset-8 col-3">
                                                            <span>Frente</span>
                                                        </div>
                                                        <div class="col-12 mt-5 ml-4">
                                                            <span id="numero-cartao" class="mt-5">{{ dadosClienteForm.codigoCartao }}</span>
                                                        </div>
                                                        <div class="col-12 ml-4 mb-4">
                                                            <span id="nome-cartao">{{ dadosClienteForm.nome }} <span class="ml-5">{{ dadosClienteForm.vencimento }}</span></span>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="offset-1 col-3">
                                                                    <span class="tamanhoagenciatexto">Agencia</span>
                                                                </div>
                                                                <div class="col-3">
                                                                    <span class="tamanhoagenciatexto">Tipo</span>
                                                                </div>
                                                                <div class="col-3">
                                                                    <span class="tamanhoagenciatexto">Numero</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="offset-1 col-3">
                                                                    <span class="tamanhoagenciatexto">xxxx</span>
                                                                </div>
                                                                <div class="col-3">
                                                                    <span class="tamanhoagenciatexto">xxxx</span>
                                                                </div>
                                                                <div class="col-3">
                                                                    <span class="tamanhoagenciatexto">xxxxxx</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="cartao offset-1" v-if="dadosClienteForm.cvv">
                                                    <div class="offset-8 col-3 mt-3">
                                                            <span class="text-white mt-5">Verso</span>
                                                        </div>
                                                    <div class="faixa-preta mb-4"></div>
                                                    
                                                    <div class="row">
                                                        
                                                        <div class="col-12">
                                                            <p class="offset-8 text-white" id="texto-tresdigitos">{{ dadosClienteForm.cvv }}</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="offset-1 col-3">
                                                                    <span class="tamanhoagenciatexto"></span>
                                                                </div>
                                                                <div class="col-3">
                                                                    <span class="tamanhoagenciatexto"></span>
                                                                </div>
                                                                <div class="col-3">
                                                                    <span class="tamanhoagenciatexto"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
 
                                                
                                                <h4 class="ml-3">Forma de Pagamento</h4>
                                                    <div class="custom-control custom-checkbox" @click="aparece = false">
                                                        <input v-model="dadosClienteForm.formaPagamento" type="radio" value="debito" class="d-none custom-control-input" id="debito-info">
                                                        <label class="" for="debito-info">Debito</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox" @click="aparece = true">
                                                        <input v-model="dadosClienteForm.formaPagamento" type="radio" value="credito" class="d-none custom-control-input" id="credito-info">
                                                        <label class="" for="credito-info">Crédito</label>
                                                    </div>
                                                <hr class="mt-2 mb-4">

                                                 <div class="col-md-6 mb-3">
                                                     <label for="lastName">Número do cartão</label>
                                                    <input v-model="dadosClienteForm.codigoCartao" type="text" class="form-control" id="lastName" placeholder="" value="" required="" v-mask="'####  ####  ####  ####'">
                                                    <div class="invalid-feedback">
                                                        Valid last name is required.
                                                    </div>
                                                </div>

                                                <div class="col-md-6 mb-3" v-show="aparece == true">
                                                    <label for="parcela">Parcelamento</label>
                                                    <select v-model="dadosClienteForm.parcela" class="form-control" id="parcela" placeholder="" value="" required="">
                                                        <option value="1">À vista</option>
                                                        <option value="2">2 vezes</option>
                                                        <option value="3">3 vezes</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Valid last name is required.
                                                    </div>
                                                </div>

                                                <div class="col-md-6 mb-3">
                                                    <label for="firstName">Nome</label>
                                                    <input v-model="dadosClienteForm.nome" type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>
                                               
                                                <div class="col-md-4 mb-4">
                                                    <label for="cc-expiration">Vencimento do cartão</label>
                                                    <input v-model="dadosClienteForm.vencimento" type="text" class="form-control" id="cc-expiration" placeholder="" required="" v-mask="'##/####'">
                                                    <div class="invalid-feedback">
                                                        Data de vencimento é obrigatório
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-4">
                                                    <label for="cc-expiration">CVV</label>
                                                    <input v-model="dadosClienteForm.cvv" v-mask="'###'" type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                                    <div class="invalid-feedback">
                                                        Código de segurança do cartão é obrigatório
                                                    </div>
                                                </div>
                                            
                                            </div>

                                            <hr class="mb-2">

                                             <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="zip">CEP</label>
                                                    <input @blur.prevent="cepCorreios(); calcularFrete()" v-model="dadosClienteForm.cep" type="text" v-mask="'#####-###'" class="form-control" id="zip" placeholder="" required="">
                                                    <div class="invalid-feedback">
                                                        Zip code required.
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-4 mb-4">
                                                    <label for="cidade">Cidade</label>
                                                    <input v-model="dadosClienteForm.cidade" type="text" class="form-control" id="cidade" placeholder="" required="">
                                                </div>

                                                <div class="col-md-5 mb-5">
                                                    <label for="bairro">Bairro</label>
                                                    <input v-model="dadosClienteForm.bairro" type="text" class="form-control" id="bairro" placeholder="" required="">
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label for="address">Endereço</label>
                                                        <input v-model="dadosClienteForm.rua" type="text" class="form-control" id="address" placeholder="" required="">
                                                        <div class="invalid-feedback">
                                                            Por favor insira seu endereço.
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-3">
                                                        <label for="numero-endereco">Numero</label>
                                                        <input v-model="dadosClienteForm.numero" type="text" class="form-control" id="numero-endereco" placeholder="" required="">
                                                        <div class="invalid-feedback">
                                                            Please enter your shipping address.
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <label for="complemento">Complemento</label>
                                                        <input v-model="dadosClienteForm.complemento" type="text" class="form-control" id="complemento" placeholder="" required="">
                                                        <div class="invalid-feedback">
                                                            Por favor insira seu complemento.
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                           
                                            <hr class="mb-2">

                                            <!-- <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="d-none custom-control-input" id="save-info" checked="">
                                                <label class="" for="save-info">Salvar os dados do cartão para próxima compra</label>
                                            </div> -->
                                            <hr class="mt-2 mb-4">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="modal fade" id="modal-info-prova" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Valor da Prova</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>A prova é uma opção de “avaliar” as características do produto fisicamente. Confeccionamos um primeira camisa, mandamos para o cliente provar e verificar se está em conformidade com suas medidas e, somente depois do “de acordo” produzimos as demais camisas. O valor varia de acordo com o tipo de tecido e local de entrega.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Entendi</button>
                </div>
                </div>
            </div>
        </div>-->

    </section>
</template>

<script>
export default {
    data() {
        return {
            textoBotaoFinalizar: 'Realizar Pagamento',
            aparece: true,
            dadosClienteForm: new Form({
                user_id: user.id,
                codigoCartao: '',
                nome: '',
                vencimento: '',
                cvv: '',
                parcela: '1',
                rua: '',
                numero: '',
                bairro: '',
                cidade: '',
                cep: '',
                complemento: '',
                formaPagamento: 'credito',
                totalComFrete: 0,
                itensCarrinho: [],
            }),
            cepCliente: 0,
            cepClientePreFormated: 0,
            peso: 0,
            calculatedFrete: false,
            carregaFrete: false,
            fieldAmostra: false,
            valorAmostra: 0,
            addAmostra: 0,
            tipo_frete: '',
            cep: '',

            testeProva: 0,
            largura: 0,
            comprimento: 0,
            altura: 0,
            qtdOfId: 0,
            loading: true,

            itensCarrinho: [],

            countCarrinhoQtd: 0,

            subtotal: 0,
            frete: 0,
            statusFrete: 0,
            desconto: 0,
            
            amostra: 0,

            carregaImagens: false,

            cartConfirmed: false
        }
    },

    methods: {
        
        enderecobyuserid() {

            axios.get('/api/profile').then(res => {

                this.dadosClienteForm.rua = res.data.rua == null ? '' : res.data.rua
                this.dadosClienteForm.numero = res.data.numero == null ? '' : res.data.numero
                this.dadosClienteForm.cep = res.data.cep == null ? '' : res.data.cep
                this.dadosClienteForm.cidade = res.data.cidade == null ? '' : res.data.cidade
                this.dadosClienteForm.bairro = res.data.bairro == null ? '' : res.data.bairro
                this.dadosClienteForm.complemento = res.data.complemento == null ? '' : res.data.complemento
                this.cep = res.data.cep == null ? '' : res.data.cep.replace("-", "")
                
            })
        },

        async exibeVideo() {

            $('#modal-info-medida').on('show.bs.modal', function (event) {

                var buttonAction = $(event.relatedTarget);
                var title = buttonAction.data('title');
                var bodyInfo = buttonAction.data('info');

                var modal = $(this);

                modal.find('.modal-title').html(title);
                modal.find('#modal-corpo-info-medida').html(bodyInfo);
                
            });
        },
        /*limpaConfeccao() {
            axios.get('/api/confeccaoLimpa/', {
                //"user_id": ,
                "id_tecido": '', 
                "id_colarinho": '',
                "id_punho": '', 
                "id_fio": '', 
                "produto_colarinhos_punhos_id": '', 
                "bolso": '',
                "monograma": '',
                "tipo": '',
                "biceps": '',
                "ombro": '',
                "cava": '',
                "cintura": '',
                "colarinho": '',
                "comp_mana_d": '',
                "comp_manga_e": '',
                "comp_total": '',
                "largura_costas": '',
                "largura_costas_dois": '',
                "punho": '',
                "quadril": '',
                "torax": '',
                //"qtd": 1,
                "local_monograma": '',
                "texto_monograma": ''
            }).then(res => {
                console.log('___');
                console.log(res.data);
                console.log('___');
                //this.$router.push({ path: '/confeccao' });
            }).catch(err => {
                console.log(err);
            });
        },*/

        aplicarCupom(){

            var cupom = $('#cupom').val();

            axios.post('/api/cupom/consulta', { code: cupom }).then(res => {
                //console.log(res.data)
                if(res.data['status'] == 0){
                    if(res.data['desconto'] >= 0) {
                    
                    var valorDesconto = 0;

                    if(res.data['tipo'] == 0){

                        var valorDesconto = parseInt(this.subtotal) * (parseInt(res.data['desconto']) / 100);

                    } else {

                        var valorDesconto = parseInt(res.data['desconto']);

                    }
                    
                    //valorDesconto = 50;

                    //this.subtotal = 200;

                    //this.subtotal = parseFloat(this.subtotal);
                    
                    this.desconto = parseFloat(valorDesconto);
                    this.statusFrete = res.data['frete']
                    if(res.data['frete'] == 1){
                        let zero = '0,00'
                       
                        let calculo = this.dadosClienteForm.totalComFrete - this.desconto - parseFloat(this.frete.replace(',', '.'));
                        
                        this.dadosClienteForm.totalComFrete = calculo; // + parseFloat(this.valorAmostra)
                        this.frete = zero
                       
                    } else {
                        this.dadosClienteForm.totalComFrete = this.dadosClienteForm.totalComFrete - valorDesconto;
                    }
                    
                    $('#add_cupom').remove();
                    $('#cupom').attr('readonly', true);

                    $('#frmCupom').append('<p>Desconto aplicado na compra</p>');
                    this.dadosClienteForm.cupom = res.data['id']
                    //console.log(this.desconto, 666)
                    this.dadosClienteForm.frete = this.frete
                    } else {
                        //console.log(this.frete, 2)
                        this.dadosClienteForm.cupom = null
                        let timerInterval = 1000
                        swal.fire({
                            title: 'Atenção',
                            html: 'Cupom não encontrado ou não esta ativo.',
                            timer: timerInterval,
                            onBeforeOpen: () => {
                                swal.showLoading()
                            },
                            onClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            if (
                                result.dismiss === swal.DismissReason.timer
                            ) {}
                        })
                    }

                } else {
                    //console.log(this.frete, 2)
                    this.dadosClienteForm.cupom = null
                    let timerInterval = 1000
                    swal.fire({
                        title: 'Atenção',
                        html: 'Cupom não encontrado ou não esta ativo.',
                        timer: timerInterval,
                        onBeforeOpen: () => {
                            swal.showLoading()
                        },
                        onClose: () => {
                            clearInterval(timerInterval)
                        }
                        }).then((result) => {
                            if (
                                result.dismiss === swal.DismissReason.timer
                            ) {}
                    })
                }                
            })

        },

        setMedidasEnvio() {
            // axios.get(`/api/enderecobyuserid/${user.id}`).then(res => {
            //     this.dadosClienteForm.rua = res.data.rua == null ? '' : res.data.rua
            //     this.dadosClienteForm.numero = res.data.numero == null ? '' : res.data.numero
            //     this.dadosClienteForm.cep = res.data.cep == null ? '' : res.data.cep
            // })

            axios.get('/api/medidas/pacote').then(res => {

                this.largura = res.data.largura
                this.comprimento = res.data.comprimento
                this.altura = res.data.altura
                
            })
        },

        updateQtdItemCarrinho(id, action, index, nome){
            $(`#${id} .js-product-amount`).addClass('confeccao-disabled');

            axios.get('/api/quantidadeCamisa/' + id).then(res => {
                
                this.qtdOfId = res.data[0].qtd;
                //console.log(res.data[0].qtd)

                if(action == 'less') {

                    //console.log("Inicio da exlusao " + this.qtdOfId)

                    if(this.qtdOfId == 1) {

                        this.removeItemCarrinho(nome, id, index);
                        
                    } else {

                        //console.log("Quando exclui " + this.qtdOfId)

                        axios.get('/api/quantidadeCamisa/reduzir/' + id).then(res => {//reduzir
                            this.carrinhoByUserId(id);
                            $(`#${id} .js-product-amount`).removeClass('confeccao-disabled');
                        })

                    }

                } else {
                    
                    //console.log("Quando adiciona " + this.qtdOfId)
                    axios.get('/api/quantidadeCamisa/aumentar/' + id).then(res => {//reduzir
                        this.carrinhoByUserId(id);
                        setTimeout(function(){
                            $(`#${id} .js-product-amount`).removeClass('confeccao-disabled');
                        },1000);
                    })
                }
            })


        },

        amostraUpdateValue(type) {

            if(type == 'sim' && this.addAmostra == 0) {
                var totalAtual = this.dadosClienteForm.totalComFrete
                this.dadosClienteForm.totalComFrete = parseFloat(totalAtual) + parseFloat(this.valorAmostra)
                this.dadosClienteForm.amostra = 'Sim'
                this.addAmostra = 1
                this.testeProva = this.valorAmostra

            } else {
                if(type == 'nao' && this.addAmostra == 1) {
                    var totalAtual = this.dadosClienteForm.totalComFrete
                    this.dadosClienteForm.totalComFrete = parseFloat(totalAtual) - parseFloat(this.valorAmostra)
                    this.dadosClienteForm.amostra = 'Não'
                    this.addAmostra = 0
                    this.testeProva = 0
                }

            }

        },

        calcularFrete(campoFreteCima = false) {

            if(campoFreteCima) {
                this.cepCliente = $('#cep').val();
            } else {
                this.cepCliente = $('#zip').val();
            }

            var objER = /^[0-9]{8}$/;

            if (this.cepCliente) {
 
                var strCEP = this.cepCliente.replace('-', '');

                var tipo = $("input[name='tipo_frete']:checked").val();
                if(tipo == 0){
                    this.tipo_frete = 'SEDEX';
                } else {
                    this.tipo_frete = 'PAC';
                }
                
                if(strCEP.length > 0)
                    {
                        if(objER.test(strCEP)){

                            this.calculatedFrete = true;
                            this.carregaFrete = false;
                            console.log(strCEP);
                            axios.post('/api/calcFrete', { cep: this.cepCliente, peso: this.peso, comprimento: this.comprimento, largura: this.largura, altura: this.altura, tipo: tipo}).then(res => {
                                if(this.statusFrete == 1){
                                    this.frete = '0,00'
                                } else{
                                    this.frete = res.data[0]
                                }
                                //console.log(this.frete, 'data com frete')

                                var total = parseFloat(this.frete.replace(',', '.')) + parseFloat(this.subtotal) - this.desconto
                                this.dadosClienteForm.totalComFrete = total
                                this.dadosClienteForm.frete = parseFloat(this.frete.replace(',', '.'))//Frete
                                this.dadosClienteForm.tipo_frete = this.tipo_frete//tipo
                                this.dadosClienteForm = this.dadosClienteForm
                                this.carregaFrete = true

                                this.fieldAmostra = true
                                this.valorAmostra = parseFloat(this.frete.replace(',', '.')) * 2

                                if ($('input[name="amostra"]:checked').val() === 'sim') {
                                    this.addAmostra = 0;
                                    this.amostraUpdateValue('sim');
                                }

                            });
                        }
                        else{
                            let timerInterval = 1000;
                            swal.fire({
                                title: 'Atenção',
                                html: 'Por favor, preencha corretamente o CEP',
                                timer: timerInterval,
                                onBeforeOpen: () => {
                                    swal.showLoading()
                                },
                                onClose: () => {
                                    clearInterval(timerInterval)
                                }
                                }).then((result) => {
                                    if (
                                        result.dismiss === swal.DismissReason.timer
                                    ) {}
                            })
                        }
                    }
                else 
                {
                    let timerInterval = 1000
                    swal.fire({
                        title: 'Atenção',
                        html: 'Por favor, preencha corretamente o CEP',
                        timer: timerInterval,
                        onBeforeOpen: () => {
                            swal.showLoading()
                        },
                        onClose: () => {
                            clearInterval(timerInterval)
                        }
                        }).then((result) => {
                            if (
                                result.dismiss === swal.DismissReason.timer
                            ) {}
                    })
                }
            }

        },

        carrinhoByUserId(productId = null) {
            axios.get(`/api/confeccao/carrinhobyuserid/${user.id}`).then(res => {
                if (res.data['confeccao'].length < 1) {
                    swal({
                        title: 'Atenção',
                        text: 'Não há itens no carrinho!',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Montar sua camisa!',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        this.$router.push({ path: '/confeccao' })
                    });
                }
               
                this.itensCarrinho = res.data['confeccao']
                
                var compras = this.itensCarrinho

                compras.forEach(f => {
                    
                    this.peso += parseInt(f.fio.peso) * parseInt(f.qtd);

                });

                this.dadosClienteForm.itensCarrinho = this.itensCarrinho
                this.countCarrinhoQtd = res.data['confeccao'].length
                console.log('carrinho carregou');
                this.loading = false;

                if(this.countCarrinhoQtd == 0) {
                    this.frete = 0
                }
            
                this.subtotal = res.data['subtotal']
                this.dadosClienteForm.totalComFrete = parseFloat(res.data['subtotal']) + parseFloat(this.frete) + parseFloat(this.testeProva);

                $(`#${productId} .js-product-amount`).removeClass('confeccao-disabled');
            });
        },

        salvar() {
            if(this.cartConfirmed) {

                if(this.frete == 0 && this.desconto == 0){
                    let timerInterval = 1000
                    swal.fire({
                        title: 'Atenção',
                        html: 'Por favor, calcule o frete',
                        timer: timerInterval,
                        onBeforeOpen: () => {
                            swal.showLoading()
                        },
                        onClose: () => {
                            clearInterval(timerInterval)
                        }
                        }).then((result) => {
                            if (
                                result.dismiss === swal.DismissReason.timer
                            ) {}
                    })
                } else {

                    swal({
                        title: 'Processando pagamento',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        onOpen: () => {
                            swal.showLoading();
                        }
                    }).then(
                        axios.post('/api/pagamentos', this.dadosClienteForm).then(res => {//aqui atualizar o cupom para status zero qaundo for utilizado
                            /*console.log('DADOS  VVVV');
                            console.log(data[1]);
                            console.log(data[2]);*/

                            this.$router.push({ path: '/checkout-dadoscompra/' + res.data[1] })
                            // swal('', 'Salvo com sucesso!', 'success')
                            toast({
                                type: 'success',
                                title: 'Salvo com sucesso'
                            })
                        }).catch(
                            err => {
                                swal('', 'Erro ao concluir compra. Por favor verifique os dados e tente novamente', 'error')
                            },
                        )
                    )

                }
            } else {
                this.cartConfirmed = true;
                this.textoBotaoFinalizar = 'Finalizar Compra';
            }
            
        },

        removeItemCarrinho(nome, id, indexArray) {
            swal({
                title: 'Atenção',
                text: `Remover ${nome} do carrinho?`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Sim!',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        axios.delete(`/api/confeccao/${id}`).then(res => {
                            Fire.$emit('AfterCreate');
                            $(`#${id}`).fadeOut(300,function() { $(`#${id}`).remove(); });
                        }).catch(()=> {
                            swal("Atenção!", "Erro ao remover produto do carrinho.", "warning");
                        });
                    } else {
                        $(`#${id} .js-product-amount`).removeClass('confeccao-disabled');
                    }
                });
        },

        loadingImages() {
            setTimeout(() => {
                this.carregaImagens = true
            }, 4000);
        },

        cepCorreios() {
            axios.get(`/api/endereco/cepcorreios/${this.dadosClienteForm.cep}`).then(res=> {
                this.dadosClienteForm.rua = res.data.logradouro;
                this.dadosClienteForm.cidade = res.data.localidade;
                this.dadosClienteForm.bairro = res.data.bairro;
            })
        }
    },

    created() {
        this.enderecobyuserid() 
        this.carrinhoByUserId()
        this.loadingImages()
        this.setMedidasEnvio()
        this.dadosClienteForm.amostra = 'Não'

        Fire.$on('AfterCreate', () => {
            this.carrinhoByUserId()
        });
    },
    mounted(){
        if(user === null) {
            window.location.href = "/";
        }
    }
};
</script>

<style scoped>
.cartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: #0073D3;
    color: white;
    border-radius: 8px;
}
#amostra-adicional span:hover{
    cursor:pointer;
}
#amostra-adicional span{
    border-radius: 50%;
    background-color: #aaa;
    padding: 2px;
    text-align: center;
    color: #fff;
}
#amostra-adicional span i{
    font-size: 9px!important;
    width: 16px;
    height: 20px;
}
.faixa-preta {
    height: 40px;
    width: 100%;
    margin-bottom: 45px;
    background-color: black;
}

#numero-cartao {
    color: white;
    font-size: 25px;
    margin-top: 45px;
    position: relative;
}

#nome-cartao {
    color: white;
    font-size: 23;
}

#amostra-adicional{
    margin-left: 20px;
}

.tamanhoagenciatexto {
    font-size: 12px;
}

#texto-tresdigitos {
    font-size: 25px;
}
    #camisa{
        position: absolute;
        overflow: hidden;
    }

    #camisa_base img,
    #camisa{
        width: 80px; height: 90px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        z-index: 6;
        position: absolute;
        width: 80px; height: 90px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        margin-top: -90px;
    }

    .blocked {
        opacity: .5!important;
        cursor: not-allowed!important;
        pointer-events: none!important;
    }

    .text-small {
        font-size: 12px;
        line-height: normal;
    }
</style>