<template>
    <div class="row ordena">
        <div class="col-6 col-sm-12 ord2">
            
            <div class="img-confeccao monte-camisa" id="confeccao" style="width: 350px; height: 390px;">
                <div id="camisa">
                    <div id="camisa_base">
                        <span v-if="this.confeccaoForm.tipo">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/camisa_' + this.confeccaoForm.tipo + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="media/images/galeria/moldes/confeccao_detalhes/camisa_normal.png" alt="">
                        </span>
                    </div>
                    <div id="gola_base">
                        <span v-if="this.confeccaoForm.colarinhoId">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/g' + this.confeccaoForm.colarinhoId + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                    <div id="bolso_base">
                        <span v-if="this.confeccaoForm.temBolso == 'sim'">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/bolso.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                    <div id="punho_base">
                        <span v-if="this.confeccaoForm.punhoId">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/p' + this.confeccaoForm.punhoId + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                </div>
            </div>

            <div class="btns hidden-sm-down" id="btn-two-routes-checkout">
                <a class="btn-inverte" @click.prevent="$router.push('/detalhes#confeccao')" href="#"><i class="fa fa-arrow-left"></i> Detalhes</a>
                <a @click.prevent="store()" class="btn-inverte" href="checkout-pagamento">Carrinho</a>
            </div>
        </div>

        <div class="col-6 col-sm-12 ord1">
            <div class="titulo-menu">
                <h3>Checklist</h3>
                <h4>Confira as informações abaixo</h4>
            </div>
            <div class="col-lg-12">
                <table class="table tabela-medidas">
                    <tr>
                        <th>Fio</th>
                        <td v-if="confeccaoForm.fio ? id_fio = confeccaoForm.fio.id : '' ">{{ confeccaoForm.fio.nome }}</td>
                    </tr>
                    <tr>
                        <th>Tecido</th>
                        <td v-if="confeccaoForm.tecido ? id_tecido = confeccaoForm.tecido.id : '' ">{{ confeccaoForm.tecido.nome }}</td>
                    </tr>
                    <tr class="divisor">
                        <th>Suas medidas</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Colarinho</td>
                        <td>{{ confeccaoForm.colarinho }}cm</td>
                    </tr>
                    <tr>
                        <td>Tórax</td>
                        <td>{{ confeccaoForm.torax }}cm</td>
                    </tr>
                    <tr>
                        <td>Cintura</td>
                        <td>{{ confeccaoForm.cintura }}cm</td>
                    </tr>
                    <tr>
                        <td>Quadril</td>
                        <td>{{ confeccaoForm.quadril }}cm</td>
                    </tr>
                    <tr>
                        <td>Comprimento Total</td>
                        <td>{{ confeccaoForm.comp_total }}cm</td>
                    </tr>
                    <tr>
                        <td>Largura das costas</td>
                        <td>{{ confeccaoForm.largura_costas }}cm</td>
                    </tr>
                    <tr>
                        <td>Largura das costas 2</td>
                        <td>{{ confeccaoForm.largura_costas_dois }}cm</td>
                    </tr>
                    <tr>
                        <td>Ombro</td>
                        <td>{{ confeccaoForm.ombro }}cm</td>
                    </tr>
                    <tr>
                        <td>Cava</td>
                        <td>{{ confeccaoForm.cava }}cm</td>
                    </tr>
                    <tr>
                        <td>Punho Esquerdo</td>
                        <td>{{ confeccaoForm.punho }}cm</td>
                    </tr>
                    <tr>
                        <td>Punho Direito</td>
                        <td>{{ confeccaoForm.comp_mana_d }}cm</td>
                    </tr>                    
                    <tr>
                        <td>Bíceps</td>
                        <td>{{ confeccaoForm.biceps }}cm</td>
                    </tr>
                    <tr>
                        <td>Comprimento Manga</td>
                        <td>{{ confeccaoForm.comp_manga_e }}cm</td>
                    </tr>
                    <tr class="divisor">
                        <th>Colarinho</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Modelo</td>
                        <td v-if="confeccaoForm.colarinhoTipo ? id_colarinho = confeccaoForm.colarinhoTipo.id : '' ">{{ confeccaoForm.colarinhoTipo.nome }}</td>
                    </tr>
                    <tr class="divisor">
                        <th>Punhos</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Modelo</td>
                        <td v-if="confeccaoForm.punhoTipo ? id_punho = confeccaoForm.punhoTipo.id : '' ">{{ confeccaoForm.punhoTipo.nome }}</td>
                    </tr>
                    <tr class="divisor">
                        <th>Bolso</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>(Padrão: Esquerdo)</td>
                        <td>{{ confeccaoForm.bolso }}</td>
                    </tr>
                    <tr class="divisor">
                        <th>Monograma</th>
                        <td>{{ confeccaoForm.monograma }}</td>
                    </tr>
                    <tr v-if="confeccaoForm.textoMonograma">
                        <th>Texto</th>
                        <td>{{ confeccaoForm.textoMonograma }}</td>
                    </tr>
                    <tr v-if="confeccaoForm.localMonograma">
                        <td>Local</td>
                        <td>{{ confeccaoForm.localMonograma }}</td>
                    </tr>
                    <tr class="divisor">
                        <th>Características</th>
                        <td>{{ confeccaoForm.tipo }}</td>
                    </tr>

                </table>
            </div>
        </div>

        <div class="col-12 ord3">
            <div class="btns hidden-sm-up" id="btn-two-routes-checkout">
                <a class="btn-inverte" @click.prevent="$router.push('/detalhes#confeccao')" href="#"><i class="fa fa-arrow-left"></i> Detalhes</a>
                <a @click.prevent="store()" class="btn-inverte" href="checkout-pagamento">Carrinho</a>
            </div>
        </div>

    </div>
</template>

<script>



export default {
    data() {
        return {
            formCheck: {},
            id_tecido: null,
            id_colarinho: null,
            id_punho: null,
            id_fio: null,
            tecido: [],
        }
    },

    methods: {

        store() {
            // axios.post('/api/pagamento', {})
            //     .then(response => {
            //         console.log(response)
            //     })
            //     .catch(error => {
            //         console.log(error)
            //     })

            this.formCheck = this.$store.state.confeccao.confeccaoForm
            console.log(this.formCheck)

            // if ((this.formCheck.localMonograma == null && this.formCheck.monograma == 'sim') || 
            //     (this.formCheck.textoMonograma == null && this.formCheck.monograma == 'sim'))
            // {
                    
            //     let timerInterval = 1000

            //     swal.fire({
            //         title: 'Atenção',
            //         html: 'Por favor, preencha todos os campos',
            //         timer: timerInterval,
            //         onBeforeOpen: () => {
            //             swal.showLoading()
            //         },
            //         onClose: () => {
            //             clearInterval(timerInterval)
            //         }
            //         }).then((result) => {
            //             if (
            //                 result.dismiss === swal.DismissReason.timer
            //             ) {}
            //     })

            // } else { 
                //console.log('objeto de estado do historico');
                //console.log(window.history.state.adicionado);
                if(!window.history.state.adicionado) {
                    window.history.pushState({adicionado: true},'adicionado');
                    $('#btn-two-routes-checkout').css({ 'display' : 'none'}); 
                    axios.post('/api/confeccao', {
                        "user_id": user.id,
                        "id_tecido": this.id_tecido, 
                        "id_colarinho": this.id_colarinho,
                        "id_punho": this.id_punho, 
                        "id_fio": this.id_fio, 
                        "produto_colarinhos_punhos_id": this.formCheck.idFotoCamisa, 
                        "bolso": this.formCheck.bolso,
                        "monograma": this.formCheck.monograma,
                        "tipo": this.formCheck.tipo,
                        "biceps": this.formCheck.biceps,
                        "cava": this.formCheck.cava,
                        "cintura": this.formCheck.cintura,
                        "colarinho": this.formCheck.colarinho,
                        "comp_mana_d": this.formCheck.comp_mana_d,
                        "comp_manga_e": this.formCheck.comp_manga_e,
                        "ombro": this.formCheck.ombro,
                        "comp_total": this.formCheck.comp_total,
                        "largura_costas": this.formCheck.largura_costas,
                        "largura_costas_dois": this.formCheck.largura_costas_dois,
                        "punho": this.formCheck.punho,
                        "quadril": this.formCheck.quadril,
                        "torax": this.formCheck.torax,
                        "ombro": this.formCheck.ombro,
                        "qtd": 1,
                        "local_monograma": (this.formCheck.localMonograma) ? this.formCheck.localMonograma : null,
                        "texto_monograma": (this.formCheck.textoMonograma) ? this.formCheck.textoMonograma : null
                    }).then(res => {
                        console.log(res.data)
                        // toast({
                        //     type: 'success',
                        //     title: 'Confecção salva com sucesso'
                        // })
                        this.$router.push({ path: '/checkout-pagamento' })
                    }).catch(err => {
                        $('#btn-two-routes-checkout').css({ 'display' : 'block'}); 
                        let timerInterval = 1000
                        swal.fire({
                            title: 'Atenção',
                            html: 'Por favor, preencha todos os campos',
                            timer: timerInterval,
                            onBeforeOpen: () => {
                                swal.showLoading()
                            },
                            onClose: () => {
                                clearInterval(timerInterval)
                            }
                            }).then((result) => {
                                if (
                                    result.dismiss === swal.DismissReason.timer
                                ) {}
                        })
                    });
                } else {
                    this.$router.push({ path: '/checkout-pagamento' })
                }
            
            
        },
    },

    computed: {

        confeccaoForm: {
            get() {
                return this.$store.state.confeccao.confeccaoForm
            },
            set(valor) {
                this.$store.commit('setConfeccao', valor)
            }
        }
    },

    created: function(){
        this.id_tecido = this.confeccaoForm.tecido.id;
        this.tecido = this.confeccaoForm.tecido;

        
        // if(this.confeccaoForm.textoMonograma == ''){
        //     document.getElementById('textomonograma').style.display = "none";
        // }
    },  

    beforeUpdate: function() {
        this.id_tecido = this.confeccaoForm.tecido.id;
        this.tecido = this.confeccaoForm.tecido;
    },
    mounted(){
        if (!this.confeccaoForm.tecido) {
            window.location.href = "/confeccao#confeccao";
        }

        this.id_tecido = this.confeccaoForm.tecido.id;
        this.tecido = this.confeccaoForm.tecido;
        
        if(user === null) {
            $('ul.menu-deslogado button.btn.btn-outline-secondary').trigger("click");
        }
    }

}
</script>

<style>

    #camisa{
        width: 350px;
        height: 390px;
        position: absolute;
        overflow: hidden;
    }

    #camisa_base img{
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        z-index: 2;
        position: absolute;
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        margin-top: -390px;
    }
</style>
