<template>
    <div class="row ordena">
        <div class="col-6 col-sm-12 ord2">
            <!-- <span v-bind:style="{ backgroundImage: 'url(' + confeccaoForm.fotoCamisa + ')' }" class="img-confeccao" style="width: 350px; height: 390px; cursor: pointer;" @click.prevent="exibeColarinho(foto)"></span>-->

            <!-- <div id="confeccao" class="img-confeccao" style="width: 350px; height: 390px; cursor: pointer;" @click.prevent="exibeColarinho(foto)"> -->

            <div class="img-confeccao monte-camisa" style="width: 350px; height: 390px; cursor: pointer;" @click.prevent="exibeColarinho(foto)">
                <div id="camisa">
                    <div id="camisa_base">
                        <span v-if="this.confeccaoForm.tipo">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/camisa_' + this.confeccaoForm.tipo + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="media/images/galeria/moldes/confeccao_detalhes/camisa_normal.png" alt="">
                        </span>
                    </div>
                    <div id="gola_base">
                        <span v-if="this.confeccaoForm.colarinhoId">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/g' + this.confeccaoForm.colarinhoId + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                    <div id="bolso_base">
                        <span v-if="this.confeccaoForm.temBolso == 'sim'">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/bolso.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                    <div id="punho_base">
                        <span v-if="this.confeccaoForm.punhoId">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/p' + this.confeccaoForm.punhoId + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                </div>
            </div>

            <div id="infoConfig">
                <h3>{{ colarinhoExibir.nome || '' }}</h3>
                <p>{{ colarinhoExibir.descricao || '' }}.</p>
            </div>

            <div class="btns hidden-sm-down" id="btn-two-routes">
                <a class="btn-inverte" @click.prevent="$router.push('/confeccao#confeccao')" href=""><i class="fa fa-arrow-left"></i> Medidas</a>
                <a class="btn-inverte" @click.prevent="goToPunho()" href="">Punho <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-6 col-sm-12 mh-100 ord1">
            <div class="titulo-menu">
                <h3>DEFINA UM MODELO PARA COMBINAR COM A SUA CAMISA</h3>
                <h4>Defina um modelo para poder escolher o próximo detalhe</h4>
            </div>
            <div class="row col-lg-12" js-colarinhos-wrapper>
                <div v-for="colarinho in colarinhosList.data" :key="colarinho.id" class="col-4 col-sm-6 produto">
                    <a href="#" @click.prevent="exibeColarinho(colarinho)" :class="{selectedItem:colarinho.id == selected}">
                        <span v-bind:style="{ backgroundImage: 'url(' + colarinho.colarinho_foto + ')' }" @click="selected = colarinho.id" class="img-confeccao" style="width: 100px; height: 100px; cursor: pointer;"></span>
                        <div class="product-text-info">
                            <h5 @click="selected = colarinho.id">{{ colarinho.nome }}</h5>
                            <p></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 ord3">
            <div class="btns hidden-sm-up" id="btn-two-routes">
                <a class="btn-inverte" @click.prevent="$router.push('/confeccao#confeccao')" href=""><i class="fa fa-arrow-left"></i> Medidas</a>
                <a class="btn-inverte" @click.prevent="goToPunho()" href="">Punho <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</template>

<script>

/* conteúdo alert oculto por soliciação em 29/04
window.onbeforeunload = function(event) {
    var s = "Deseja sair da página?";

    event = event || window.event;
    if (event) {
        event.returnValue = s;
    }

    return s;
}

window.onunload = function() {
    window.onbeforeunload = function() {};
}*/

export default {
    data() {
        return {
            colarinhosList: {},
            colarinho: {},
            colarinhoExibir: '',
            foto: '',
            selected: undefined
        }
    },
    methods: {
        goToPunho() {
            if (!$('[js-colarinhos-wrapper] .selectedItem').length) {
                swal.fire({
                    title: 'Atenção',
                    html: 'Escolha um tipo de colarinho.',
                });
            } else {
                $('#nav-punho-tab').removeClass('confeccao-disabled');
                this.$router.push('/punho#confeccao');
            }
        },

        index() {
            axios.get('/api/colarinho').then(res => {
                this.colarinhosList = res.data
                this.colarinho = this.colarinhosList.data[0]
                this.confeccaoForm.fotoCamisa = this.colarinhosList.data[0].colarinho_foto_camisa

                if(this.confeccaoForm.colarinhoTipo !== null) {
                    this.colarinhoExibir = this.confeccaoForm.colarinhoTipo;
                }
                
            })
        },

        async exibeColarinho(colarinho) {
            this.colarinho = colarinho
            this.colarinhoExibir = colarinho
            this.confeccaoForm.colarinhoTipo = colarinho
            this.confeccaoForm.colarinhoId = colarinho.id

            if (typeof this.confeccaoForm.temBolso != 'undefined') {
                axios.get(`/api/produtoscolarinhospunhos/${this.confeccaoForm.punhoTipo.id}/${colarinho.id}`)
                    .then(res => {
                        if (this.confeccaoForm.temBolso == 'sim') {
                            this.foto = res.data.punho_colarinho_foto_bolso
                        } else {
                            this.foto = res.data.punho_colarinho_foto
                        }
                    })
            } else {
                this.foto = colarinho.colarinho_foto_camisa
            }

            this.confeccaoForm.fotoCamisa = this.foto
            this.confeccaoForm = colarinho
        },
    },

    computed: {
        confeccaoForm: {
            get() {
                return this.$store.state.confeccao.confeccaoForm
            },
            set(valor) {
                this.$store.commit('setConfeccao', valor)
            }
        },
    },

    created() {
        this.index()
    },
    mounted(){
        if(
            this.confeccaoForm.colarinho == null ||
            this.confeccaoForm.largura_costas == null ||
            this.confeccaoForm.punho == null ||
            this.confeccaoForm.torax == null ||
            this.confeccaoForm.largura_costas_dois == null ||
            this.confeccaoForm.cintura == null ||
            this.confeccaoForm.cava == null ||
            this.confeccaoForm.quadril == null ||
            this.confeccaoForm.comp_manga_e == null ||
            this.confeccaoForm.comp_total == null ||
            this.confeccaoForm.comp_mana_d == null ||
            this.confeccaoForm.biceps == null || 
            this.confeccaoForm.ombro == null
        ) {
            window.location.href = "/confeccao#confeccao";
        }
        if(user === null) {
            $('ul.menu-deslogado button.btn.btn-outline-secondary').trigger("click");
        }
    }
}
</script>

<style scoped>
    h5:hover {
        color: red;
    }
    .selectedItem{
        width: 100%;
    }

    .selectedItem span{
        outline: 5px solid #222222;
        border-collapse: separate;
        border-spacing: 15px;
    }

    .selectedItem h5{
        background-color: #222222;
        outline: 2px solid #222222;
        color: #ffffff !important;
        margin-top: 0;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    #camisa{
        width: 350px;
        height: 390px;
        position: relative;
        overflow: hidden;
        display: table;
        margin: auto;
    }

    #camisa_base img{
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        z-index: 2;
        position: absolute;
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        margin-top: -390px;
    }
</style>
