<template>
    <div class="row ordena">
        <div class="col-6 col-sm-12 ord2">
            <!-- <span v-bind:style="{ backgroundImage: 'url(' + confeccaoForm.fotoCamisa + ')' }" class="img-confeccao" style="width: 350px; height: 390px; cursor: pointer;"></span> -->
            
            <div class="img-confeccao monte-camisa" style="width: 350px; height: 390px;">
                <div id="camisa">
                    <div id="camisa_base">
                        <span v-if="this.confeccaoForm.tipo">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/camisa_' + this.confeccaoForm.tipo + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="media/images/galeria/moldes/confeccao_detalhes/camisa_normal.png" alt="">
                        </span>
                    </div>
                    <div id="gola_base">
                        <span v-if="this.confeccaoForm.colarinhoId">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/g' + this.confeccaoForm.colarinhoId + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                    <div id="bolso_base">
                        <span v-if="this.confeccaoForm.temBolso == 'sim'">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/bolso.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                    <div id="punho_base">
                        <span v-if="this.confeccaoForm.punhoId">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/p' + this.confeccaoForm.punhoId + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                </div>
            </div>

            <div class="btns hidden-sm-down" id="btn-two-routes">
                <a class="btn-inverte" @click.prevent="$router.push('/punho#confeccao')" href="#"><i class="fa fa-arrow-left"></i> Punho</a>
                <a class="btn-inverte" @click.prevent="goToFios()" href="#">Fios <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-6 col-sm-12 ord1">
            <div class="titulo-menu">
                <h3>Os detalhes fazem toda a diferença</h3>
                <h4>Defina as melhores opções para finalizar</h4>
            </div>
            <div class="col-lg-12">
                <form class="row col-12 form-radio">
                    <div class="form-group col-4 col-sm-12">
                        <label for="bolso">Bolso</label>
                    </div>
                    <div class="form-group col-4 col-sm-6">
                        <input type="radio" class="form-control" @click="modificaCamisa(confeccaoForm, 'sim'); bolsoMonograma = true" v-model="confeccaoForm.bolso" value="sim" id="com-bolso" name="bolso">
                        <label for="com-bolso">Sim</label>
                    </div>
                    <div class="form-group col-4 col-sm-6">
                        <input type="radio" class="form-control" checked @click="modificaCamisa(confeccaoForm, 'nao'); bolsoMonograma = false" v-model="confeccaoForm.bolso" value="nao" id="sem-bolso" name="bolso">
                        <label for="sem-bolso" id="labelBolso">Não</label>
                    </div>

                    <div class="form-group col-4 col-sm-12">
                        <label for="monograma">Monograma</label>
                    </div>
                    <div class="form-group col-4 col-sm-6">
                        <input @click="temMonograma = true; modificaMonograma('simm')" type="radio" class="form-control" v-model="confeccaoForm.monograma" value="sim" id="com-monograma" name="monograma">
                        <label for="com-monograma">Sim</label>
                    </div>
                    <div class="form-group col-4 col-sm-6">
                        <input checked @click="temMonograma = false; modificaMonograma('naoo')" type="radio" class="form-control" v-model="confeccaoForm.monograma" value="nao" id="sem-monograma" name="monograma">
                        <label for="sem-monograma" id="labelMonograma">Não</label>
                    </div>

                    <div class="form-group col-4 col-sm-12">
                        <label for="bolso">Características</label>
                    </div>
                    <div class="form-group col-4 col-sm-6">
                        <input type="radio" class="form-control" checked @click="modificaTipo(confeccaoForm, 'normal'); normal = true" v-model="confeccaoForm.tipo" value="normal" id="normal" name="tipo">
                        <label for="normal" id="labelNormal">Normal</label>
                    </div>
                    <div class="form-group col-4 col-sm-6">
                        <input type="radio" class="form-control" @click="modificaTipo(confeccaoForm, 'slim'); slim = true" v-model="confeccaoForm.tipo" value="slim" id="slim" name="tipo">
                        <label for="slim" >Slim</label>
                    </div>

                    <div class="col-lg-6 col-sm-12 b-1 js-tem-monograma" v-show="temMonograma == true">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="texto">Texto</label>
                                <input type="text" @change="textoMonograma(confeccaoForm, message)" v-model="message" class="form-control" id="texto" name="texto" maxlength="5">
                            </div>
                            <div class="form-group col-12 col-sm-6">
                                <input type="radio" @click="localMonograma('Punho')" class="form-control" value="punho" id="punho" name="opcao" v-model="pickedNames" checked>
                                <label for="punho">Punho</label>
                            </div>
                            <div class="form-group col-12 col-sm-6">
                                <input type="radio" @click="localMonograma('Peito')" class="form-control" value="peito" id="peito" name="opcao" v-model="pickedNames">
                                <label for="peito">Peito</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12 ord3">
            <div class="btns hidden-sm-up" id="btn-two-routes">
                <a class="btn-inverte" @click.prevent="$router.push('/punho#confeccao')" href="#"><i class="fa fa-arrow-left"></i> Punho</a>
                <a class="btn-inverte" @click.prevent="goToFios()" href="#">Fios <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            temMonograma: false,
            pickedNames: [],
            message: '',
            bolsoMonograma: false
        }
    },

    methods: {

        goToFios() {
            let monograma = document.querySelectorAll('[name=monograma]:checked');
            let opcao = document.querySelectorAll('[name=opcao]:checked');

            if (monograma[0].value === 'sim' && ($('.js-tem-monograma input[name="texto"]').val() == '' || opcao.length == '') ) {
                swal.fire({
                    title: 'Atenção',
                    html: 'Preencha os campos de monograma.',
                });
            } else {
                $('#nav-fios-tab').removeClass('confeccao-disabled');
                this.$router.push('/fios#confeccao');
            }
        },

        setDetalhes(){
            this.confeccaoForm.temBolso = '';
            this.confeccaoForm.tipo = 'normal';
            this.message = null;
            this.pickedNames = [];
            this.confeccaoForm.textoMonograma = '';
            this.confeccaoForm.localMonograma = null;
            this.confeccaoForm = this.confeccaoForm;
        },
        modificaCamisa(confForm, simNao) {
            let tembolso = ''
            // let res = await axios.get(`/api/produtoscolarinhospunhos/${confForm.punhoTipo.id}/${confForm.colarinhoTipo.id}`)
            //     this.confeccaoForm.idFotoCamisa = res.data.id
            // if(simNao == 'sim') {
            //     this.confeccaoForm.fotoCamisa = res.data.punho_colarinho_foto_bolso
            // } else {
            //     this.confeccaoForm.fotoCamisa = res.data.punho_colarinho_foto
            // }

            if (simNao == 'sim') {
                //this.confeccaoForm.fotoCamisa = this.confeccaoForm.fotoCamisa.replace('.png', '_bolso.png');
                tembolso = 'sim'
            } else {
                //this.confeccaoForm.fotoCamisa = this.confeccaoForm.fotoCamisa.replace('_bolso.png', '.png');
                tembolso = 'nao'
            }
           this.confeccaoForm.temBolso = tembolso
           this.confeccaoForm = confForm
        },

        modificaMonograma(Naosim) {
            if(Naosim == 'naoo') {
                this.message = null
                this.pickedNames = []
                this.confeccaoForm.textoMonograma = ''
                this.confeccaoForm.localMonograma = null
            }
        },

        modificaTipo(confForm, normalSlim) {
            let tipo = ''
            // let res = await axios.get(`/api/produtoscolarinhospunhos/${confForm.punhoTipo.id}/${confForm.colarinhoTipo.id}`)
            //     this.confeccaoForm.idFotoCamisa = res.data.id
            // if(simNao == 'sim') {
            //     this.confeccaoForm.fotoCamisa = res.data.punho_colarinho_foto_bolso
            // } else {
            //     this.confeccaoForm.fotoCamisa = res.data.punho_colarinho_foto
            // }

            if (normalSlim == 'normal') {
                //this.confeccaoForm.fotoCamisa = this.confeccaoForm.fotoCamisa.replace('.png', '_bolso.png');
                tipo = 'normal'
            } else {
                //this.confeccaoForm.fotoCamisa = this.confeccaoForm.fotoCamisa.replace('_bolso.png', '.png');
                tipo = 'slim'
            }
           this.confeccaoForm.tipo = tipo
           this.confeccaoForm = confForm
        },

        localMonograma(local) {
            this.confeccaoForm.localMonograma = local
        },
        textoMonograma(confeccaoForm, message) {
            this.confeccaoForm = confeccaoForm
            this.confeccaoForm.textoMonograma = message

            console.log(this.message, 88);
            console.log(this.confeccaoForm.textoMonograma , 899);
        }
    },

    computed: {
        confeccaoForm: {
            get() {
                return this.$store.state.confeccao.confeccaoForm
            },
            set(valor) {
                this.$store.commit('setConfeccao', valor)
            }
        },
    },
    mounted(){

        var normal = $('#labelNormal');
        normal.trigger('click');
        var monograma = $('#labelMonograma');
        monograma.trigger('click');
        var bolso = $('#labelBolso');
        bolso.trigger('click');

        if(this.confeccaoForm.punhoId == null) {
            window.location.href = "/confeccao#confeccao";
        }

        if(user === null) {
            $('ul.menu-deslogado button.btn.btn-outline-secondary').trigger("click");
        }
    }
}
</script>

<style>


    #camisa{
        width: 350px;
        height: 390px;
        position: absolute;
        overflow: hidden;
    }

    #camisa_base img{
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        z-index: 2;
        position: absolute;
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        margin-top: -390px;
    }
</style>
