<template>
    <!-- <div class="tab-pane fade show" id="nav-tecido"> -->     
        <div class="row ordena">
            <div class="col-6 col-sm-12 ord2">
                <!-- <span v-bind:style="{ backgroundImage: 'url(' + tecido.foto + ')' }" class="img-confeccao divlupa"></span> -->
                <div class="img-confeccao monte-camisa" id="confeccao" style="width: 350px; height: 390px;">
                    <div id="camisa">
                        <div id="camisa_base">
                            <span v-if="this.confeccaoForm.tipo">
                                <img :src="'media/images/galeria/moldes/confeccao_detalhes/camisa_' + this.confeccaoForm.tipo + '.png'" alt="">
                            </span>
                            <span v-else>
                                <img src="media/images/galeria/moldes/confeccao_detalhes/camisa_normal.png" alt="">
                            </span>
                        </div>
                        <div id="gola_base">
                            <span v-if="this.confeccaoForm.colarinhoId">
                                <img :src="'media/images/galeria/moldes/confeccao_detalhes/g' + this.confeccaoForm.colarinhoId + '.png'" alt="">
                            </span>
                            <span v-else>
                                <img src="" alt="">
                            </span>
                        </div>
                        <div id="bolso_base">
                            <span v-if="this.confeccaoForm.temBolso == 'sim'">
                                <img :src="'media/images/galeria/moldes/confeccao_detalhes/bolso.png'" alt="">
                            </span>
                            <span v-else>
                                <img src="" alt="">
                            </span>
                        </div>
                        <div id="punho_base">
                            <span v-if="this.confeccaoForm.punhoId">
                                <img :src="'media/images/galeria/moldes/confeccao_detalhes/p' + this.confeccaoForm.punhoId + '.png'" alt="">
                            </span>
                            <span v-else>
                                <img src="" alt="">
                            </span>
                        </div>
                    </div>
                </div>
                <div id="infoConfig">
                    <h3>{{ fio['nome'] }}</h3>
                </div>
                <div class="btns hidden-sm-down" id="btn-two-routes">
                    <a class="btn-inverte" @click.prevent="$router.push('/detalhes#confeccao')" href=""><i class="fa fa-arrow-left"></i> Detalhes</a>
                    <a class="btn-inverte" @click.prevent="goToTecido()" href=""> Tecido <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-6 col-sm-12 ord1">
                <div class="titulo-menu">
                    <h3>Escolha o fio</h3>
                    <h4>Defina o fio para poder escolher o próximo detalhe</h4>
                </div>

                <div class="col-lg-12" js-fios-wrapper>

                    <div class="container">
                        <div class="row">
                            <div v-for="fio in fios.data" :key="fio.id" class="col-4 col-sm-6">
                                <a href="#" :class="{selectedItem:fio.id == selected}" class="link-item produto">
                                    <span @click="selected = fio.id" class="img-confeccao" style="background-image:url(../media/images/galeria/moldes/fio_base.jpg); width: 100px; height: 100px; cursor: pointer;" @click.prevent="exibeFio(fio)"></span>
                                    <div class="product-text-info">
                                        <h5>{{ fio.nome }}</h5>
                                        <p>R$ {{ fio.valor }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 ord3">
                <div class="btns hidden-sm-up" id="btn-two-routes">
                    <a class="btn-inverte" @click.prevent="$router.push('/detalhes#confeccao')" href=""><i class="fa fa-arrow-left"></i> Detalhes</a>
                    <a class="btn-inverte" @click.prevent="goToTecido()" href=""> Tecido <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    <!-- </div> -->
</template>

<script>
export default {
    data() {
        return {
            fios: {},
            fio: [],
            selected: undefined,
        }
    },
    methods: {
        goToTecido() {
            if (!$('[js-fios-wrapper] .selectedItem').length) {
                swal.fire({
                    title: 'Atenção',
                    html: 'Escolha um tipo de fio.',
                });
            } else {
                this.jaAvancou = true;
                this.id_fio = this.selected;
                $('#nav-tecido-tab').removeClass('confeccao-disabled');
                this.$router.push('/tecidos#confeccao');
            }
        },
        fioList() {
            axios.get('/api/fio').then(res => {
                this.fios = res.data
                this.fio = this.fios.data[0]
            })
        },

        async exibeFio(fio) {
            this.fio = fio
            console.log(this.fio)
            this.confeccaoForm.fio = fio
            this.confeccaoForm = fio
        },
    },

    computed: {
        confeccaoForm: {
            get() {
                return this.$store.state.confeccao.confeccaoForm
            },
            set(valor) {
                this.$store.commit('setConfeccao', valor)
            }
        },
    },

    created() {
        this.fioList()
    },
    mounted(){
        if(
            this.confeccaoForm.tipo == null ||
            this.confeccaoForm.temBolso == null
        ) {
            window.location.href = "/confeccao#confeccao";
        }
        if(user === null) {
            $('ul.menu-deslogado button.btn.btn-outline-secondary').trigger("click");
        }
    }
}
</script>

<style scoped>
    .nav_borda {
        border: 1px solid lightgray;
    }

    div a h5{
        text-align: center !important;
    }
    
    .divlupa:hover {
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        transform: scale(1.7);
        -webkit-transform: scale(1.7);
    }

    h5:hover {
        color: red;
    }

    .link-item,
    .selectedItem{
        text-decoration: none;
        text-align: center;
    }

    .selectedItem{
        width: 100%;
    }

    .selectedItem span{
        outline: 5px solid #222222;
        border-collapse: separate;
        border-spacing: 15px;
    }

    .selectedItem h5{
        background-color: #222222;
        outline: 2px solid #222222;
        color: #ffffff !important;
        margin-top: -30px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .selectedItem p{
        background-color: #222222;
        outline: 10px solid #222222;
        color: #ffffff !important;
        margin-top: -20px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    #camisa{
        width: 350px;
        height: 390px;
        position: absolute;
        overflow: hidden;
    }

    #camisa_base img{
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        z-index: 2;
        position: absolute;
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        margin-top: -390px;
    }

</style>
