<template>
    <div class="row ordena">
        <div class="col-6 col-sm-12 ord2">
            <!-- <span v-bind:style="{ backgroundImage: 'url(' + confeccaoForm.fotoCamisa + ')' }" class="img-confeccao" style="width: 350px; height: 390px; cursor: pointer;"></span> -->
            
            
            <div class="img-confeccao monte-camisa" style="width: 350px; height: 390px;">
                <div id="camisa">
                    <div id="camisa_base">
                        <span v-if="this.confeccaoForm.tipo">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/camisa_' + this.confeccaoForm.tipo + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="media/images/galeria/moldes/confeccao_detalhes/camisa_normal.png" alt="">
                        </span>
                    </div>
                    <div id="gola_base">
                        <span v-if="this.confeccaoForm.colarinhoId">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/g' + this.confeccaoForm.colarinhoId + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                    <div id="bolso_base">
                        <span v-if="this.confeccaoForm.temBolso == 'sim'">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/bolso.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                    <div id="punho_base">
                        <span v-if="this.confeccaoForm.punhoId">
                            <img :src="'media/images/galeria/moldes/confeccao_detalhes/p' + this.confeccaoForm.punhoId + '.png'" alt="">
                        </span>
                        <span v-else>
                            <img src="" alt="">
                        </span>
                    </div>
                </div>
            </div>

            <div  id="infoConfig">
                <h3>{{ punhoExibir.nome }}</h3>
                <p>{{ punhoExibir.descricao }}.</p>
            </div>

            <div class="btns hidden-sm-down" id="btn-two-routes">
                <a class="btn-inverte" @click.prevent="$router.push('/colarinho#confeccao')" href="#"><i class="fa fa-arrow-left"></i> Colarinho</a>
                <a class="btn-inverte" @click.prevent="goToDetalhes()" href="#">Detalhes <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-6 col-sm-12 ord1">
            <div class="titulo-menu">
                <h3>DEFINA UM MODELO PARA COMBINAR COM A SUA CAMISA</h3>
                <h4>Defina um modelo para poder escolher o próximo detalhe</h4>
            </div>
            <div class="row col-lg-12" js-punhos-wrapper>
                <div v-for="punho in punhosList.data" :key="punho.id" class="col-4 col-sm-6 produto">
                    <a href="#" :class="{selectedItem:punho.id == selected}">
                        <span v-bind:style="{ backgroundImage: 'url(' + punho.punho_foto + ')' }" @click="selected = punho.id" class="img-confeccao" style="width: 100px; height: 100px; cursor: pointer;" @click.prevent="exibePunho(punho)"></span>
                        <div class="product-text-info">
                            <h5>{{ punho.nome }}</h5>
                            <p></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 ord3">
            <div class="btns hidden-sm-up" id="btn-two-routes">
                <a class="btn-inverte" @click.prevent="$router.push('/colarinho#confeccao')" href="#"><i class="fa fa-arrow-left"></i> Colarinho</a>
                <a class="btn-inverte" @click.prevent="goToDetalhes()" href="#">Detalhes <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            punhosList: {},
            punho: {},
            punhoExibir: '',
            fotopunho: '',
            selected: undefined
        }
    },
    methods: {
        goToDetalhes() {
            if (!$('[js-punhos-wrapper] .selectedItem').length) {
                swal.fire({
                    title: 'Atenção',
                    html: 'Escolha um tipo de punho.',
                });
            } else {
                $('#nav-detalhes-tab').removeClass('confeccao-disabled');
                this.$router.push('/detalhes#confeccao');
            }
        },
        index() {
            axios.get('/api/punho').then(res => {
                this.punhosList = res.data
                this.punho = this.punhosList.data[0]

                if(this.confeccaoForm.punhoTipo !== null) {
                    this.punhoExibir = this.confeccaoForm.punhoTipo;
                }
            })
        },

        async exibePunho(punho) {
            this.punho = punho
            this.punhoExibir = punho
            this.confeccaoForm.punhoTipo = punho
            this.confeccaoForm = punho
            this.confeccaoForm.punhoId = punho.id
            
            axios.get(`/api/produtoscolarinhospunhos/${punho.id}/${this.confeccaoForm.colarinhoTipo.id}`)
                .then(res => {
                    this.confeccaoForm.idFotoCamisa = res.data.id
                    this.confeccaoForm.fotoCamisa = res.data.punho_colarinho_foto
                    this.confeccaoForm.fotoCamisaBolso = res.data.punho_colarinho_foto_bolso

                    if (this.confeccaoForm.temBolso == 'sim') {
                        this.fotopunho = res.data.punho_colarinho_foto_bolso
                    } else {
                        this.fotopunho = res.data.punho_colarinho_foto
                    }
                })

            this.confeccaoForm.fotoCamisa = this.fotopunho
        },
    },

    computed: {
        confeccaoForm: {
            get() {
                return this.$store.state.confeccao.confeccaoForm
            },
            set(valor) {
                this.$store.commit('setConfeccao', valor)
            }
        },
    },

    created() {
        this.index()
    },
    mounted(){
        if( this.confeccaoForm.colarinhoId == null ) {
            window.location.href = "/confeccao#confeccao";
        }
        if(user === null) {
            $('ul.menu-deslogado button.btn.btn-outline-secondary').trigger("click");
        }
    }
}
</script>

<style>
    h5:hover {
        color: red;
    }

    .selectedItem{
        width: 100%;
    }

    .selectedItem span{
        outline: 5px solid #222222;
        border-collapse: separate;
        border-spacing: 15px;
    }

    .selectedItem h5{
        background-color: #222222;
        outline: 2px solid #222222;
        color: #ffffff !important;
        margin-top: -30px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    #camisa{
        width: 350px;
        height: 390px;
        position: absolute;
        overflow: hidden;
    }

    #camisa_base img{
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        z-index: 2;
        position: absolute;
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        margin-top: -390px;
    }
</style>
