<template>
    <div class="row ordena">
        <div class="col-6 col-sm-12 ord1">
            <!-- <span v-if="confeccaoForm.fotoCamisa" v-bind:style="{ backgroundImage: 'url(' + confeccaoForm.fotoCamisa + ')' }" class="img-confeccao" style="width: 350px; height: 390px; cursor: pointer;"></span>
            <span v-else style="background-image:url(../media/images/galeria/moldes/mockup.png);" class="img-confeccao"></span> -->
            
            <div class="img-confeccao img-padrao" style="width: 400px; height: 500px;">
                <img :src="'media/images/galeria/moldes/20191004_145312.jpg'" alt="" srcset="">
            </div>

            <div class="btns hidden-sm-down" id="btn-two-routes" style="margin: 2.5rem auto 5rem !important;">
                <a class="btn-inverte btn-goto-colarinho" @click.prevent="goToColarinho()" href="">Colarinho <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-6 col-sm-12 ord2">
            <div class="titulo-menu">
                <h3>Preencha com suas medidas (CM)</h3>
                <h4>Defina as medidas para poder escolher o próximo detalhe</h4>
            </div>
            <div class="col-lg-12">
                <form class="row col-12">
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper video">
                        <label for="medida-colarinho" v-bind:class="{ 'focus': focus }"><b>Colarinho</b></label>
                        <input v-model="confeccaoForm.colarinho" type="text" class="form-control medida js-medida-colarinho" name="medida-colarinho" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas do colarinho?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida do colarinho" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Pescoço.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-torax" v-bind:class="{ 'focus': focus }"><b>Tórax</b></label>
                        <input v-model="confeccaoForm.torax" type="text" class="form-control medida" name="medida-torax" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas do tórax?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida do tórax" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Torax.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-cintura" v-bind:class="{ 'focus': focus }"><b>Cintura</b></label>
                        <input v-model="confeccaoForm.cintura" type="text" class="form-control medida" name="medida-cintura" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas da cintura?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida da cintura" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Cintura.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-quadril" v-bind:class="{ 'focus': focus }"><b>Quadril</b></label>
                        <input v-model="confeccaoForm.quadril" type="text" class="form-control medida" name="medida-quadril" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas do quadril?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida do quadril" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Quadril.mp4'>
                            </video>"><i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-compTotal" v-bind:class="{ 'focus': focus }"><b>Comp. Total</b></label>
                        <input v-model="confeccaoForm.comp_total" type="text" class="form-control medida" name="medida-compTotal" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas do comprimento total?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida do comprimento total" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Comprimento.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-costas" v-bind:class="{ 'focus': focus }"><b>Largura Costas</b></label>
                        <input v-model="confeccaoForm.largura_costas" type="text" class="form-control medida" name="medida-costas" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas da largura das costas?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida da largura das costas" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Largura_Costas.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-costas2" v-bind:class="{ 'focus': focus }"><b>Largura Costas 2</b></label>
                        <input v-model="confeccaoForm.largura_costas_dois" type="text" class="form-control medida" name="medida-costas2" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas da largura das costas 2?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida da segunda largura das costas" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Costas.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-ombro" v-bind:class="{ 'focus': focus }"><b>Ombro</b></label>
                        <input v-model="confeccaoForm.ombro" type="text" class="form-control medida" name="medida-ombro" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas do bíceps?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida do bíceps" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Ombro.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-cava" v-bind:class="{ 'focus': focus }"><b>Cava</b></label>
                        <input v-model="confeccaoForm.cava" type="text" class="form-control medida" name="medida-cava" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas da cava?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida da cava" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Cava.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-punho" v-bind:class="{ 'focus': focus }"><b>Punho esquerdo</b></label>
                        <input v-model="confeccaoForm.punho" type="text" class="form-control medida" name="medida-punho" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas do punho?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida do punho" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Punho.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-mangaD" v-bind:class="{ 'focus': focus }"><b>Punho direito</b></label>
                        <input v-model="confeccaoForm.comp_mana_d" type="text" class="form-control medida" name="medida-mangaD" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas do comprimento da manga direita?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida do comprimento da manga D" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Punho.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-biceps" v-bind:class="{ 'focus': focus }"><b>Bíceps</b></label>
                        <input v-model="confeccaoForm.biceps" type="text" class="form-control medida" name="medida-biceps" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas do bíceps?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida do bíceps" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Biceps.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-xl-4 js-medida-wrapper">
                        <label for="medida-mangaE" v-bind:class="{ 'focus': focus }"><b>Comp. Manga</b></label>
                        <input v-model="confeccaoForm.comp_manga_e" type="text" class="form-control medida" name="medida-mangaE" v-mask="['#,#', '##,#', '###,#']" required>
                        <div class="icon-question-medida" title="Como tirar as medidas do comprimento da manga esquerda?" @click.prevent="exibeVideo()">
                            <span data-toggle="modal" data-target="#modal-info-medida" data-title="Medida do comprimento da manga E" data-info="<video id='banners' style='width: 100%' class='carousel slide' data-speed='8' data-type='background' data-ride='carousel' controls>
                            <source id='video-medida' type='video/mp4' src='video/SIQUEIRA_CAMISAS_TUTORIAL_1_Manga.mp4'>
                            </video>">
                                <i class="fas fa-question"></i>
                            </span>
                        </div>
                    </div>
                    
                </form>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-info-medida" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-titulo-medida">Título do modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" @click.prevent="pausaVideo()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-corpo-info-medida" style="heigth: 400px;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="fechar" data-dismiss="modal" @click.prevent="pausaVideo()"><i class="far fa-thumbs-up"></i> Entendi</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 ord3">
            <div class="btns  hidden-sm-up" id="btn-two-routes" style="margin-top:0!important;">
                <a class="btn-inverte" @click.prevent="goToColarinho()" href="">Colarinho <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</template>


<script>

export default {
    data() {
        return {
            focus: false,
            medidas: {},
            ultimasMedidas: {},
        }
    },

    methods: {

        formatarMedida(medida) {
            let newMedida = medida;

            if (!newMedida || newMedida === ',') return '';

            newMedida.replace('.', ',');

            let virgulaPos = newMedida.indexOf(',');

            if (virgulaPos === -1) {
                return newMedida + ',0';
            }

            if (virgulaPos === 0) {
                newMedida = '0' + newMedida;
            }

            if (newMedida.split(',').length === 2 && newMedida.split(',')[1].length > 1) {
                newMedida = newMedida.split(',')[0] + ',' + newMedida.split(',')[1].charAt(0);
            }
            if (newMedida.split(',').length === 1) newMedida = newMedida + '0';

            return newMedida;
        },

        goToColarinho() {
            let emptyNo = 0;
            $('.medida').each((index, element) => {
                if (!element.value) {
                    emptyNo = 1;
                    return false;
                }
            });

            if (emptyNo) {
                swal.fire({
                    title: 'Atenção',
                    html: 'Preencha todos os campos',
                });
            } else {
                this.confeccaoForm.colarinho = this.formatarMedida(this.confeccaoForm.colarinho);
                this.confeccaoForm.largura_costas = this.formatarMedida(this.confeccaoForm.largura_costas);
                this.confeccaoForm.punho = this.formatarMedida(this.confeccaoForm.punho);
                this.confeccaoForm.torax = this.formatarMedida(this.confeccaoForm.torax);
                this.confeccaoForm.largura_costas_dois = this.formatarMedida(this.confeccaoForm.largura_costas_dois);
                this.confeccaoForm.cintura = this.formatarMedida(this.confeccaoForm.cintura);
                this.confeccaoForm.cava = this.formatarMedida(this.confeccaoForm.cava);
                this.confeccaoForm.quadril = this.formatarMedida(this.confeccaoForm.quadril);
                this.confeccaoForm.comp_manga_e = this.formatarMedida(this.confeccaoForm.comp_manga_e);
                this.confeccaoForm.comp_total = this.formatarMedida(this.confeccaoForm.comp_total);
                this.confeccaoForm.comp_mana_d = this.formatarMedida(this.confeccaoForm.comp_mana_d);
                this.confeccaoForm.biceps = this.formatarMedida(this.confeccaoForm.biceps);
                this.confeccaoForm.ombro = this.formatarMedida(this.confeccaoForm.ombro);
                console.log(this.confeccaoForm);
                $('#nav-colarinho-tab').removeClass('confeccao-disabled');
                this.$router.push('/colarinho#tecidos');
            }
        },
        
        async medidasShow() {
            axios.get('api/confeccaomedida').then(res => {

              /*var arrayMedidas = [];
              for (var i=0; i < res.data.length; i++) {
                for (var j=0; j < res.data[i].length; j++) {
                  arrayMedidas.push(res.data[i][j]);
                }
              }
              
              this.medidas = arrayMedidas;*/
              this.medidas = res.data;
              this.ultimasMedidas = this.medidas[this.medidas.length - 1]
              //console.log(res.data)
              console.log('ultimas medidias')
              console.log(this.ultimasMedidas)
              this.confeccaoForm.colarinho = this.formatarMedida(this.ultimasMedidas.colarinho)
              //console.log("TCL: medidasShow -> this.ultimasMedidas.colarinho", this.ultimasMedidas.colarinho)
              
              this.confeccaoForm.largura_costas = this.formatarMedida(this.ultimasMedidas.largura_costas)
              this.confeccaoForm.punho = this.formatarMedida(this.ultimasMedidas.punho)
              this.confeccaoForm.torax = this.formatarMedida(this.ultimasMedidas.torax)
              this.confeccaoForm.largura_costas_dois = this.formatarMedida(this.ultimasMedidas.largura_costas_dois)
              this.confeccaoForm.cintura = this.formatarMedida(this.ultimasMedidas.cintura)
              this.confeccaoForm.cava = this.formatarMedida(this.ultimasMedidas.cava)
              this.confeccaoForm.quadril = this.formatarMedida(this.ultimasMedidas.quadril)
              this.confeccaoForm.comp_manga_e = this.formatarMedida(this.ultimasMedidas.comp_manga_e)
              this.confeccaoForm.comp_total = this.formatarMedida(this.ultimasMedidas.comp_total)
              this.confeccaoForm.comp_mana_d = this.formatarMedida(this.ultimasMedidas.comp_mana_d)
              this.confeccaoForm.biceps = this.formatarMedida(this.ultimasMedidas.biceps)
              this.confeccaoForm.ombro = this.formatarMedida(this.ultimasMedidas.ombro)

              //coloca os valores das medidas nos campos
              if (this.ultimasMedidas) {
                setTimeout(() => {
                  $('input[name="medida-colarinho"]').val(this.formatarMedida(this.ultimasMedidas.colarinho))
                  //console.log("TCL: medidasShow -> this.ultimasMedidas.colarinho", this.ultimasMedidas.colarinho)
                  
                  $('input[name="medida-costas"]').val(this.formatarMedida(this.ultimasMedidas.largura_costas))
                  $('input[name="medida-punho"]').val(this.formatarMedida(this.ultimasMedidas.punho))
                  $('input[name="medida-torax"]').val(this.formatarMedida(this.ultimasMedidas.torax))
                  $('input[name="medida-costas2"]').val(this.formatarMedida(this.ultimasMedidas.largura_costas_dois))
                  $('input[name="medida-cintura"]').val(this.formatarMedida(this.ultimasMedidas.cintura))
                  $('input[name="medida-cava"]').val(this.formatarMedida(this.ultimasMedidas.cava))
                  $('input[name="medida-quadril"]').val(this.formatarMedida(this.ultimasMedidas.quadril))
                  $('input[name="medida-mangaE"]').val(this.formatarMedida(this.ultimasMedidas.comp_manga_e))
                  $('input[name="medida-compTotal"]').val(this.formatarMedida(this.ultimasMedidas.comp_total))
                  $('input[name="medida-mangaD"]').val(this.formatarMedida(this.ultimasMedidas.comp_mana_d))
                  $('input[name="medida-biceps"]').val(this.formatarMedida(this.ultimasMedidas.biceps))
                  $('input[name="medida-ombro"]').val(this.formatarMedida(this.ultimasMedidas.ombro))
                }, 50);
              }
            })
        },
        
        preMountColarinhoPunho() {

            axios.get('/api/colarinho/punho/search/2/7')
                .then(res => {

                    this.confeccaoForm.punhoTipo = res.data.punho
                    this.confeccaoForm = res.data.punho
                    this.confeccaoForm.punhoId = 2

                    this.confeccaoForm.colarinhoTipo = res.data.colarinho
                    this.confeccaoForm.colarinhoId = 7

                })

        },

        async exibeVideo() {

            $('#modal-info-medida').on('show.bs.modal', function (event) {

                var buttonAction = $(event.relatedTarget);
                var title = buttonAction.data('title');
                var bodyInfo = buttonAction.data('info');

                var modal = $(this);

                modal.find('.modal-title').html(title);
                modal.find('#modal-corpo-info-medida').html(bodyInfo);
                
            });
        },

        pausaVideo() {
            console.log('chegou qui')
            $.each($('video'), function () {
                this.pause();
            });
        }

        
    },

    computed: {
        confeccaoForm: {
            get() {
                return this.$store.state.confeccao.confeccaoForm
            },
            set(valor) {
                this.$store.commit('setConfeccao', valor)
            }
        },
    },

    created() {
        this.preMountColarinhoPunho()
    },
    
    mounted(){
        let that = this;
        $('.js-medida-wrapper input').on('blur', function(){
            $(this).val(that.formatarMedida($(this).val()));
        });

        that.medidasShow()
        if(user === null) {
            $('ul.menu-deslogado button.btn.btn-outline-secondary').trigger("click");
        }
    }
}

</script>

<style>

    .modal-backdrop {
        background-color: rgb(45, 52, 54, 0.7);
    }

    .icon-question-medida{
        width: 9%;
        padding: 2px;
        border-radius: 50%;
        background-color: #b2bec3;
        float: right;
        font-size: 9px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        margin-top: -20%;
        margin-right: 10px;
    }

    #camisa{
        width: 350px;
        height: 390px;
        position: absolute;
        overflow: hidden;
    }

    #camisa_base img{
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        z-index: 2;
        position: absolute;
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        margin-top: -390px;
    }

    @media (max-width: 1200px) 
    {
        
        .icon-question-medida{
            width: 15px;
            position: absolute;
            margin-top: 0;
            top: 50%;
            right: 22px;
            bottom: unset;
            margin-right: 0;
        }
    }

    /*@media (max-width: 900px) 
    {
        
        .icon-question-medida{
            width: 30%;
            margin-top: 13px;
            margin-right: 35%;
        }
    }*/
    
    .img-confeccao {
        max-width: 100%;
        object-fit: contain;
    }

    @media (max-width: 720px) 
    {
        
        .icon-question-medida{
            margin-top: 0!important;
            margin-right:0!important;
        }
    }

    @media (max-width: 480px) {
        form.row.col-12 {
            margin-right: 0;
            margin-left: 0;
        }
    }

    #minha-conta #nav-menuConfeccao #btn-two-routes.btns .btn-inverte {
        position: static!important;
        margin-left: 10px!important;
        margin-right: 10px!important;
    }

     #minha-conta #nav-menuConfeccao #btn-two-routes.btns .btn-inverte.btn-goto-colarinho {
        margin-right: auto!important;
        margin-left: auto!important;
    }

    .tab-content .ord2 #btn-two-routes.btns  {
      display: flex;
      justify-content: center;
    }

    .modal-content video {
        max-height: calc(100vh - 329px);
    }

</style>
