<template>
    <div class="tab-pane fade show col-12" id="nav-tecido">  
        <div class="row ordena">
            <div class="col-6 col-sm-12 ord2">
                <!-- <span v-bind:style="{ backgroundImage: 'url(' + tecido.foto + ')' }" class="img-confeccao divlupa"></span> -->
                <div class="img-confeccao monte-camisa" id="confeccao" style="width: 350px; height: 390px;">
                    <div id="camisa">
                        <div id="camisa_base">
                            <span v-if="this.confeccaoForm.tipo">
                                <img :src="'media/images/galeria/moldes/confeccao_detalhes/camisa_' + this.confeccaoForm.tipo + '.png'" alt="">
                            </span>
                            <span v-else>
                                <img src="media/images/galeria/moldes/confeccao_detalhes/camisa_normal.png" alt="">
                            </span>
                        </div>
                        <div id="gola_base">
                            <span v-if="this.confeccaoForm.colarinhoId">
                                <img :src="'media/images/galeria/moldes/confeccao_detalhes/g' + this.confeccaoForm.colarinhoId + '.png'" alt="">
                            </span>
                            <span v-else>
                                <img src="" alt="">
                            </span>
                        </div>
                        <div id="bolso_base">
                            <span v-if="this.confeccaoForm.temBolso == 'sim'">
                                <img :src="'media/images/galeria/moldes/confeccao_detalhes/bolso.png'" alt="">
                            </span>
                            <span v-else>
                                <img src="" alt="">
                            </span>
                        </div>
                        <div id="punho_base">
                            <span v-if="this.confeccaoForm.punhoId">
                                <img :src="'media/images/galeria/moldes/confeccao_detalhes/p' + this.confeccaoForm.punhoId + '.png'" alt="">
                            </span>
                            <span v-else>
                                <img src="" alt="">
                            </span>
                        </div>
                    </div>
                </div>

                <div id="infoConfig">
                    <span v-if="confeccaoForm.fio ? id_fio = confeccaoForm.fio.id : '' " style="display: none;">{{ id_fio }}</span>
                    <h3>{{ tecido.nome }} {{ tecido.cor }} {{ tecido.marca }}</h3>
                    <p>{{ tecido.descricao }}.</p>
                </div>

                <div class="btns hidden-sm-down" id="btn-two-routes">
                    <a class="btn-inverte" @click.prevent="goBackToFios()" href=""><i class="fa fa-arrow-left"></i> Fio</a>
                    <a class="btn-inverte" @click.prevent="goToChecklist()" href=""> Checklist <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-6 col-sm-12 ord1">
                <div class="titulo-menu">
                    <h3>Escolha o tecido</h3>
                    <h4>Defina o tecido para poder escolher o próximo detalhe</h4>
                </div>

                <div class="col-lg-12">
                    <ul class="confeccaoFilter clearfix" hidden>
                        <em>Filtrar por: </em>
                        <li class="current hidden"><a>Nenhum</a></li>
                        <li class="drop-nav">
                            <a @click.prevent="abreMenu('cor')">Cor <i class="fa fa-angle-down"></i></a>
                        </li>
                        <li class="drop-nav">
                            <a @click.prevent="abreMenu('padrao')">Padrão <i class="fa fa-angle-down"></i></a>
                        </li>
                        <ul v-if="navCor == true" class="nav_borda">
                            <li><a @click="tecidoCorTexturaPadrao(cor = 2, padrao = null)">Azul</a></li>
                            <li><a @click="tecidoCorTexturaPadrao(cor = 3, padrao = null)">Pastel</a></li>
                            <li><a @click="tecidoCorTexturaPadrao(cor = 1, padrao = null)">Branco</a></li>
                        </ul>
                        <ul v-if="navPadrao == true" class="nav_borda">
                            <li><a @click="tecidoCorTexturaPadrao(cor = null, padrao = 'liso')">Liso</a></li>
                            <li><a @click="tecidoCorTexturaPadrao(cor = null, padrao = 'padrao')">Padrão</a></li>
                            <li><a @click="tecidoCorTexturaPadrao(cor = null, padrao = 'estampa')">Estampa</a></li>
                        </ul>
                    </ul>

                    <div class="container" js-tecido-wrapper>
                        <div class="row" v-show="idCarregado === id_fio">
                            <div v-for="tecido in tecidos.data" :key="tecido.id" class="col-4 col-sm-6">
                                <a href="#" :class="{selectedItem:tecido.id == selected}" class="link-item produto">
                                    <span v-bind:style="{ backgroundImage: 'url(' + tecido.foto + ')' }" @click="selected = tecido.id" class="img-confeccao" style="width: 100px; height: 100px; cursor: pointer;" @click.prevent="exibeTecido(tecido)"></span>
                                    <div class="product-text-info">
                                        <h5 @click.prevent="selected = tecido.id">{{ tecido.nome }} {{ tecido.marca }}</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <pagination :data="tecidos" @pagination-change-page="paginatetecidoCorTexturaPadrao"></pagination>
            </div>

            <div class="col-12 ord3">
                <div class="btns hidden-sm-up" id="btn-two-routes">
                    <a class="btn-inverte" @click.prevent="goBackToFios()" href=""><i class="fa fa-arrow-left"></i> Fio</a>
                    <a class="btn-inverte" @click.prevent="goToChecklist()" href=""> Checklist <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            tecidos: {},
            tecido: [],
            cor: null,
            padrao: null,
            navCor: false,
            navPadrao: false,
            selected: undefined,
            id_fio: 0,
            idCarregado: 0,
        }
    },
    methods: {
        goBackToFios() {
            this.$router.push('/fios#confeccao');
        },
        goToChecklist() {
            if (!$('[js-tecido-wrapper] .selectedItem').length) {
                swal.fire({
                    title: 'Atenção',
                    html: 'Escolha um tipo de tecido.',
                });
            } else {
                $('#nav-checklist-tab').removeClass('confeccao-disabled');
                this.$router.push('/checklist#confeccao');
            }
        },

        paginatetecidoCorTexturaPadrao(page = 1){

            axios.post('/api/tecidocortexturapadrao?page=' + page, {"cor": this.cor, "padrao": this.padrao, "fio": parseInt(this.id_fio)}).then(res => {
                this.tecidos = res.data;
            });

        },

        tecidoList() {
            this.id_fio = this.confeccaoForm.fio ? this.confeccaoForm.fio.id : 0

            axios.get('/api/tecido/fio/' + parseInt(this.id_fio)).then(res => {

                this.tecidos = res.data
                this.tecido = this.tecidos.data[0]
                this.idCarregado = this.id_fio

                //this.confeccaoForm.tecido = this.tecidos.data[0].nome

            })

        },

        tecidoCorTexturaPadrao() {

            axios.post('/api/tecidocortexturapadrao', {"cor": this.cor, "padrao": this.padrao, "fio": parseInt(this.id_fio)}).then(res => {
                this.tecidos = res.data
            })
            
        },

        async exibeTecido(tecido) {
            this.tecido = tecido
            this.confeccaoForm.tecido = tecido
            this.confeccaoForm = tecido
        },

        abreMenu(menu) {
            if (menu == 'cor'){
                this.navCor = true
                this.navPadrao = false
            } else if (menu == 'padrao') {
                this.navPadrao = true
                this.navCor = false
            }
        }
    },

    computed: {
        confeccaoForm: {
            get() {
                return this.$store.state.confeccao.confeccaoForm
            },
            set(valor) {
                this.$store.commit('setConfeccao', valor)
            }
        },
    },

    created: function(){
        this.tecidoList()
    },

    beforeUpdate: function() {
        if(this.id_fio !== this.confeccaoForm.fio.id) this.tecidoList();
    },
    mounted(){
        this.tecidoList()
        if(this.confeccaoForm.fio == null) {
            window.location.href = "/confeccao#confeccao";
        }
        
        if(user === null) {
            $('ul.menu-deslogado button.btn.btn-outline-secondary').trigger("click");
        }
    }

}
</script>

<style scoped>
    .nav_borda {
        border: 1px solid lightgray;
    }

    .divlupa:hover {
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        transform: scale(1.7);
        -webkit-transform: scale(1.7);
    }

    h5:hover {
        color: red;
    }
    
    .selectedItem{
        width: 100%;
    }

    .link-item,
    .selectedItem{
        text-decoration: none;
        text-align: center;
    }

    .selectedItem span{
        outline: 5px solid #222222;
        border-collapse: separate;
        border-spacing: 15px;
    }

    .selectedItem h5{
        background-color: #222222;
        outline: 2px solid #222222;
        color: #ffffff !important;
        margin-top: -30px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .selectedItem p{
        background-color: #222222;
        outline: 10px solid #222222;
        color: #ffffff !important;
        margin-top: -20px;
        padding-top: 15px;
        padding-bottom: 10px;

    }

    #camisa{
        width: 350px;
        height: 390px;
        position: absolute;
        overflow: hidden;
    }

    #camisa_base img{
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        z-index: 2;
        position: absolute;
        width: 350px;
        height: 390px;
    }

    #gola_base img,
    #bolso_base img,
    #punho_base img{
        margin-top: -390px;
    }
</style>
