<template>
  <div v-if="$gate.isAdmin()" class="dashboard">
    <header class="header">
      <div class="navbar-wrapper" role="navigation" id="menu-principal">
        <div class="container">
          <ul class="nav-principal pull-right" role="navigation">
            <li class="nav-item">
              <a class="nav-link" href="/deslogar">
                  Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
  
        <div class="dados-topo">
          <a href="/" class="logo ml-2"></a>
          <div class="interacao-admin">
            <span class="limite campo-busca" data-aos="zoom-in" data-aos-offset="100" data-aos-delay="1" data-aos-duration="200" data-aos-anchor-placement="top-center" data-aos-easing="ease-in-out">
              <a href="#search" class="btn-pesquisar">
                <input type="search" />
                <i class="fas fa-search"></i>
              </a>
            </span>
  
            <span class="limite badges">
              <div class="btn-group dropleft">
                <a href="#" v-on:click.prevent="alertassininho += 1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i><span class="badge">12</span></a>
              
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#"></a>
                  <a class="dropdown-item" href="#"></a>
                  <a class="dropdown-item" href="#"></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"></a>
                </div>
              </div>
            </span>
  
            <span class="limite dados-user">
              <div class="btn-group dropbottom">
                <a href="#" v-bind:style="{ backgroundImage: 'url(' + usuario.photo + ')' }" class="img-rounded foto-user dropdown-toggle"  title="Nome do Usuário"  data-aos="zoom-in" data-aos-offset="100" data-aos-delay="3" data-aos-duration="200" data-aos-anchor-placement="top-center" data-aos-easing="ease-in-out" role="button" id="dadosUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="dadosUser">
                  <router-link to="/admin/perfil" class="dropdown-item">Perfil</router-link>
                  <a class="dropdown-item" href="/coworking">Coworking</a>
                    <a class="dropdown-item" href="/deslogar">
                        Sair
                    </a>
        
                </div>
              </div>
            </span>
          </div>
        </div>
    </header>

    <!-- Search -->
    <div class="search">
      <button type="button" class="close">×</button>
      <form class="form-busca">
          <input type="search" value="" placeholder="O que você procura?" />
          <button type="submit" class="btn btn-padrao"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <!-- Conteúdo -->
    <section id="miolo" class="miolo">
      <div class="">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-1 pr-0">
                <nav class="nav flex-column nav-pills menu-vertical" id="menuVertical" role="tablist" aria-orientation="vertical">
                    <router-link to="/admin/dashboard" id="menu-painel" aria-controls="painel" aria-selected="true"><i class="fas fa-home"></i></router-link>
                    <router-link to="/admin/usuarios" id="menu-painel" aria-controls="painel" aria-selected="true"><i class="fas fa-signature"></i></router-link>                    
                    <router-link to="/home" id="menu-mensagens" aria-controls="mensagens" aria-selected="false"><i class="far fa-comments"></i></router-link>
                    <router-link to="/busca" id="menu-configuracoes" aria-controls="configuracoes" aria-selected="false"><i class="fas fa-cog"></i></router-link>                 
                </nav>
              </div>
                <div class="col-11 pl-0">
                  <router-view></router-view>
                  <vue-progress-bar></vue-progress-bar>
                </div>
            </div>
          </div> 
        </div> 
      </div> 
    </section>


    <!-- Footer -->
    <footer class="footer-dashboard">
      <div class="container">
        <div class="faixa row">
          <div class="col-lg-12">
            <span class="copy">&copy; 2019 Scale Work.</span>
            <span class="termos"><a href="#" alt="Leia nossos termos">Termos de privacidade</a></span>
          </div>
        </div>
      </div>
    </footer>

  </div>
</template>

<script>
export default {
  data() {
      return {
          usuario: {},
          alertassininho: 0
      }
  },

  created(){
    this.usuario = user
    this.alertassininho += 1
  },

  watch: {
    alertassininho(novo, antigo) {
       
        //axios.get('/api/menuadmin/pushsininho').then(res => {
        //  console.log(res)
        //})
      
    }
  }
}
</script>