<template>
  <div>
    <!-- remova o margin-top do rquivo crs.css ao remover a tarja! -->
    <header>
      <div class="container-fluid">
        <div class="overlay"></div>
        <div class="navbar-wrapper" role="navigation" id="page-content-wrapper">
          <div class="navbar-toggle" data-toggle="collapse">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas" data-target=".navbar-collapse">
              <span class="sr-only">Menu</span>
              <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
              <span class="hamb-bottom"></span>
            </button>
          </div>

          <nav class="nav-principal v-center navbar" role="navigation">
            <ul class="menu-primario">
              <li v-if="user" class="user-name-wrapper hidden-lg-up">Olá, {{user.name}}</li>
              <!-- <li><router-link to="/confeccao" class="ancora">Monte sua camisa</router-link></li> -->
              <li><router-link to="/confeccao" class="ancora">Monte sua camisa</router-link></li>
              <li><router-link to="/contato" class="ancora">Contato</router-link></li>
              <li><router-link to="/visita" class="ancora">Agende sua visita</router-link></li>
            </ul>
            <div class="menu-logo">
              <router-link to="/" alt="Camisas Siqueira" class="logo ancora">Camisas Siqueira</router-link>
            </div>
            <div class="menu-logado" v-if="user">
              <ul class="menu-principal">
                <li class="user-name-wrapper hidden-lg-down">Olá, {{user.name}}</li>
                <li class="dropdown" style="display: none;">
                  <a class="dropdown-toggle ncora" data-toggle="dropdown" href="javascript:void(0)"><img :src="'/media/images/icones/ico_favoritos.png'" alt="Favoritos" /> Favoritos </a><!--i class="fas fa-caret-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><router-link to="/minhaconta">Minha Lista</router-link></li>
                    <li><router-link to="/perfil">Favoritei</router-link></li>
                    <li><router-link to="/meusdados">Desejados</router-link></li-->
                    <!--li><router-link to="/minhasmedidas">Minhas Medidas</router-link></li>
                  </ul-->
                </li>
                <li><router-link to="/minhaconta" class="ancora"><img :src="'/media/images/icones/ico_perfil.png'" alt="Perfil" /> Perfil</router-link></li>
                <li><router-link to="/checkout-compras" class="ancora"><img :src="'/media/images/icones/ico_pedidos.png'" alt="Pedidos" /> Pedidos</router-link></li>
                <li><router-link to="/checkout-pagamento" class="ancora"><img :src="'/media/images/icones/shopping-cart-128.png'" alt="Perfil" /> Carrinho</router-link></li>
                <li><a href="/deslogar" class="ancora"><img :src="'/media/images/icones/deslogar.png'" alt="Logout" /> Sair</a></li>
              </ul>
            </div>
            <div class="menu-login" v-else>
              <ul class="menu-deslogado">
                <li><a href="/register" class="btn btn-outline-secondary btn-register"><i class="fa fa-user" aria-hidden="true"></i> Cadastre-se</a></li>
                <li><button type="button" class="btn btn-outline-secondary" id="btn-login" data-toggle="modal" data-target="#login-modal"><i class="fa fa-user user-refeito" aria-hidden="true"></i> Login</button></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>

    
    <router-view></router-view>
    

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <ul class="links-rodape">
              <b>Sobre Nós</b>
              <li><a href="/quemsomos">Quem somos</a></li>
              <li><a href="/comprasegura">Compra segura</a></li>
              <li><a href="/comocomprar">Como comprar</a></li>
              <li><a href="/politicas-de-privacidade">Política de Privacidade</a></li>
              <li><a href="/termosdecompra">Termos de Compra e Venda</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-sm-12">
            <ul class="links-rodape">
              <b>Ajuda e Suporte</b>
              <li><a href="/faq">Dúvidas frequentes</a></li>
              <li><a href="/trocas-devolucoes">Trocas e Devoluções</a></li>
              <li><a href="/formasdepagamento">Formas de Pagamento</a></li>
              <li><a href="/entrega">Entrega</a></li>
              <!--li><a @click.prevent="$router.push('central')" href="">Central de Atendimento</a></li-->
            </ul>
          </div>
          <div class="col-lg-4 col-sm-12">
            <ul class="links-rodape">
              <b>Rede Social</b>
              <li><a href="https://pt-br.facebook.com/siqueiracamisas/" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
              <li><a href="https://www.instagram.com/siqueiracamisas/?hl=pt-br" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
              <li><a href="https://www.linkedin.com/company/siqueira-camisas/" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
              <!--
              <li><a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
              <li><a href="mailto:@.com.br" target="_blank"><i class="fas fa-envelope"></i> E-mail Direto</a></li>
              <li><a target="_blank"><i class="fab fa-facebook-messenger"></i> Messenger</a></li>
              <li><a target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
              -->
            </ul>
          </div>
        </div>

        <div class="faixa">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <span class="copy">2020 &copy; Camisas Siqueira. Todos os direitos reservados.</span>
              <span class="superteia">Desenvolvido por <a href="//www.superteia.com.br" target="_blank">Superteia</a></span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a href="https://wa.me/message/3GMLDKHPW2XRJ1" style="position: fixed; top: 80%; left: 93%; padding: 10px; z-index: 10000000;" target="_blank"><img src="/media/images/wpp.png" id="img-wpp" width="50px" height="50px"/></a>
      </div>

    </footer>

     <!-- Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="back-modl-white">
        </div>
          <div class="modal-dialog" role="document" id="modal-login-center">
          <div class="modal-content">
            <div class="modal-header">

              <div class="login-logo">
                <img src="/media/images/logo.png" id="img-logo" />
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" @click.prevent="$router.push('/')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="login-box-msg">Faça login para iniciar sua sessão</p>
              <form action="/login" method="POST">
                <div class="form-group">
                  <label for="email">Login</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Seu email">
                </div>
                <div class="form-group">
                  <label for="password">Senha</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
                </div>
                <input type="hidden" name="_token" :value="csrf">

                <div class="row">
                    <div class="col-6">
                        <div class="checkbox icheck" style="font-size: 14px;margin-top: 13px;">
                            <label>
                                <input name="remember" id="checkbox" type="checkbox" > Lembrar-me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <button type="submit" class="btn btn-outline-secondary btn-block btn-flat">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
              </form>

              <div id="btns-access" class="row" style="margin-top: 20px;">
                  <div class="col-12">
                      <p class="text-center">
                          <a href="/password/reset"><i class="fa fa-key key-refeito"></i>Esqueci minha senha</a>
                      </p>
                  </div>
              </div>
            </div> 
          </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
      return {
          me: {
              name: 'fernando'
          },
          user: user !== null ? user : false,
          login: '',
          password: '',
          csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      }
  },

  methods: {
    logout () {
      this.$store.dispatch('logout')

      this.$snotify.success('Sucesso ao deslogar', 'logout...')

      this.$router.push({name: 'auth'})
    },

    loginApi(){

      this.login = $('#login').val();
      this.password = $('#password').val();

      axios.post('/api/login', { login: this.login, password: this.password }).then(response => {
          console.log(response.data)
        }).catch(error => {
          swal({
                title: 'Atenção',
                text: 'Não há itens no carrinho!',
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Montar sua camisa!',
                cancelButtonColor: '#d33',
            }).then((result) => {
              this.$router.push({ path: '/confeccao' })
            });
        });
                  console.log(response.data)

    },

    goToDuvidasFrequentes() {
      this.$router.push({ name: '/'})
    },

  }

}
</script>

<style>
  .nav-principal li a.btn-register {
    font-size: 15px;
    margin-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .encolhe .nav-principal li a.btn-register {
    line-height: 1.66;
    padding-top: 5.5px;
    padding-bottom: 5.75px;
  }

  .nav-principal li.user-name-wrapper {
    border-right: none;
    margin-right: 15px;
    max-width: 111px;
  }

  @media (min-width: 991px) {
    .hidden-lg-up {
      display: none!important;
    }
  }

   @media (max-width: 990px) {
    .hidden-lg-down {
      display: none!important;
    }

    .nav-principal li.user-name-wrapper {
      max-width: 100%;
      padding-left: 10px;
    }
  }

  @media (max-width: 1130px) {
    .nav-principal .menu-logo a {
      width: 200px;
    }

    .nav-principal li a {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
</style>