<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                    <ul>
                        <li>
                            <a href="/minhaconta">Perfil</a>
                        </li>
                    </ul>
                    <div class="link-small">
                        <a href="deslogar" class="link-navigate"></a>
                        <a href="/" class="link-navigate"></a>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 offset-2 col-sm-12 offset-sm-0">
                        <div class="titulo-menu">
                            <h2>Minha Conta</h2>
                        </div>
                        <ul class="lista-menu">
                            <li>
                                <router-link to="meusdados">
                                    <span>
                                    <small>Nome, Login e Celular</small>
                                    <b>Login e Segurança</b>
                                    </span>
                                    <span class="link-small">Alterar</span>
                                </router-link>
                            </li>
                            <li>
                                <a @click.prevent="$router.push('/meusdados-enderecos')">
                                    <span>
                                    <small>Envio e Faturamento</small>
                                    <b>Meus endereços</b>
                                    </span>
                                    <span class="link-small">Alterar</span>
                                </a>
                            </li>
                            <li>
                                <a @click.prevent="$router.push('/checkout-compras')">
                                    <span>
                                    <small>Histórico e Acompanhamento</small>
                                    <b>Meus pedidos</b>
                                    </span>
                                    <span class="link-small">Alterar</span>
                                </a>
                            </li>
                            <li>
                                <a @click.prevent="$router.push('/meusdados-minhasmedidas')" href="medidas.php">
                                    <span>
                                    <small>Comprimento e Largura</small>
                                    <b>Minhas medidas</b>
                                    </span>
                                    <span class="link-small">Alterar</span>
                                </a>
                            </li>
                            <li style="display: none;">
                                <a href="#">
                                    <span>
                                    <small>Débito, Crédito e Boleto</small>
                                    <b>Pagamento</b>
                                    </span>
                                    <span class="link-small">Alterar</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {

    mounted(){
        if(user === null) {
            window.location.href = "/";
        }
    }
}
</script>

<style>

    .link-navigate{
        color: #636e72;
        font-weight: bold;
        margin-left: 15px;
        font-size: 15px;
    }

    .link-navigate:hover{
        color: #2d3436;
        text-decoration: none;
    }

</style>
