<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                      <ul>
                          <li>
                          <a @click.prevent="$router.push('/minhaconta')" href="">Minhas medidas</a>
                          </li>
                      </ul>
                      <a @click.prevent="$router.push('/minhaconta')" href="/" class="link-small">Voltar</a>
                    </div>
                </div>

                <table class="table table-hover tabela-estilizada table-responsive">
                  <thead>
                    <tr>
                        <th scope="col">Colarinho</th>
                        <th scope="col">Largura costas</th>
                        <th scope="col">Torax</th>
                        <th scope="col">Largura costas 2</th>
                        <th scope="col">Cintura</th>
                        <th scope="col">Cava</th>
                        <th scope="col">Quadril</th>
                        <th scope="col">Manga</th>
                        <th scope="col">Comp. total</th>
                        <th scope="col">Biceps</th>
                        <th scope="col">Punho Esquerdo</th>
                        <th scope="col">Punho Direito</th>
                        <th scope="col">Ombro</th>
                        <th scope="col">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="medida in medidas" :key="medida.id">
                        <td><span>{{ medida.colarinho }}</span></td>
                        <td><span>{{ medida.largura_costas }}</span></td>
                        <td><span>{{ medida.torax }}</span></td>
                        <td><span>{{ medida.largura_costas_dois }}</span></td>
                        <td><span>{{ medida.cintura }}</span></td>
                        <td><span>{{ medida.cava }}</span></td>
                        <td><span>{{ medida.quadril }}</span></td>
                        <td><span>{{ medida.comp_manga_e }}</span></td>
                        <td><span>{{ medida.comp_total }}</span></td>
                        <td><span>{{ medida.biceps }}</span></td>
                        <td><span>{{ medida.punho }}</span></td>
                        <td><span>{{ medida.comp_mana_d }}</span></td>
                        <td><span>{{ medida.ombro }}</span></td>
                        <td>
                          <a v-on:click.prevent="deleteMedida(medida.id)" href="#" class="ferramenta">
                              <i class="far fa-trash-alt"></i>
                          </a>
                          <!-- <router-link :to="`/admin/usuarios/edit/${ 1 }`" class="ferramenta">
                              <i class="fas fa-pencil-alt"></i>
                          </router-link> -->
                        </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <td scope="col">Colarinho</td>
                        <td scope="col">Largura costas</td>
                        <td scope="col">Torax</td>
                        <td scope="col">Largura costas 2</td>
                        <td scope="col">Cintura</td>
                        <td scope="col">Cava</td>
                        <td scope="col">Quadril</td>
                        <td scope="col">Manga</td>
                        <td scope="col">Comp total</td>
                        <td scope="col">Biceps</td>
                        <td scope="col">Punho Esquerdo</td>
                        <td scope="col">Punho Direito</td>
                        <td scope="col">Ombro</td>
                        <td scope="col">Ações</td>
                    </tr>
                  </tfoot>
              </table>
            </div>
        </section>
      
    </div>
</template>

<script>
export default {
    data() {
        return {
            medidas: {}
        }
    },
    methods: {
        listUser() {
            axios.get('api/confeccaomedida').then(res => {
              //console.log(res.data)
              /*var arrayMedidas = [];
              for (var i=0; i < res.data.length; i++) {
                for (var j=0; j < res.data[i].length; j++) {
                  arrayMedidas.push(res.data[i][j]);
                }
              }

              this.medidas = arrayMedidas;*/
              this.medidas = [res.data[res.data.length - 1]];
              //this.medidas = res.data;
              console.log(this.medidas);
            })
        },

        deleteMedida(id) {
          console.log(id);
          swal.fire({
                title: 'Você tem certeza?',
                text: "Realmente deseja deletar essa medida? Esta ação não poderá ser desfeita",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Sim!'
          }).then((result) => {
            if (result.value) {
              axios.get(`deletarmedida/${id}`).then(res => {
                this.listUser();
              }).catch(error=>{
                console.log(error.response.data);
              });
            }
          });
        },
    },

    created() {
        this.listUser()
    },
    mounted(){
        if(user === null) {
            window.location.href = "/login";
        }
    }
}
</script>

<style>
.tabela-estilizada .form-group {
  margin-bottom: 0; }
.tabela-estilizada th {
  font-family: "AktivGrotesk-Medium", sans-serif;
  vertical-align: middle;
  color: #757575;
  padding: 1rem;
  font-weight: 500; }
.tabela-estilizada td {
  vertical-align: middle; }
.tabela-estilizada td a, .tabela-estilizada td span, .tabela-estilizada td b {
  font-family: "AktivGrotesk-Light", sans-serif;
  font-weight: 500;
  color: #A1A1A1;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500; }
.tabela-estilizada td .foto-user {
  width: 40px;
  height: 40px;
  margin: 0 1rem 0 0;
  display: inline-block;
  vertical-align: middle; }
.tabela-estilizada td .ferramenta {
  margin: 0 1rem; }
.tabela-estilizada td a:hover, .tabela-estilizada td a:focus, .tabela-estilizada td a:active {
  color: #046DCF; }
.tabela-estilizada tr {
  border: 1px solid transparent;
  border-radius: 4px; }
.tabela-estilizada tbody tr:hover {
  box-shadow: 1px 8px 20px -5px rgba(18, 155, 148, 0.34);
  background: #FFFFFF !important; }
.tabela-estilizada tbody tr:hover td {
  border-top: 1px solid #129B94;
  border-bottom: 1px solid #129B94; }
.tabela-estilizada tbody tr:hover td:last-child {
  border-right: 1px solid #129B94;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
.tabela-estilizada tbody tr:hover th {
  border-top: 1px solid #129B94;
  border-bottom: 1px solid #129B94;
  border-left: 1px solid #129B94;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

  .tabela-estilizada td { white-space: nowrap; }
</style>
