<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                    <ul>
                        <li>
                        <a href="#" disabled>Minha conta</a>
                        </li>
                    </ul>
                    <a @click="$router.push('/')" class="link-small">Voltar</a>
                    </div>
                </div>
                <div class="row confeccao">
                    <div class="col-12">
                        <div class="titulo-full">
                            <h3>Siga os passos</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <nav class="menu-confeccao">
                            <div class="nav nav-tabs" id="menuConfeccao" role="tablist">
                                <a class="nav-item nav-link" id="nav-medidas-tab" @click="$router.push('/confeccao#confeccao')">Suas Medidas</a>
                                <a class="nav-item nav-link confeccao-disabled" id="nav-colarinho-tab" @click="$router.push('/colarinho#confeccao')">Colarinho</a>
                                <a class="nav-item nav-link confeccao-disabled" id="nav-punho-tab" @click="$router.push('/punho#confeccao')">Punho</a>
                                <a class="nav-item nav-link confeccao-disabled" id="nav-detalhes-tab" @click="$router.push('/detalhes#confeccao')">Detalhes</a>
                                <a class="nav-item nav-link confeccao-disabled" id="nav-fios-tab" @click="$router.push('/fios#confeccao')">Fios</a>
                                <a class="nav-item nav-link confeccao-disabled" id="nav-tecido-tab" @click="$router.push('/tecidos#confeccao')">Tecido</a>
                                <a class="nav-item nav-link confeccao-disabled" id="nav-checklist-tab" @click="$router.push('/checklist#confeccao')">Checklist</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-menuConfeccao">
                            <keep-alive>
                                <router-view></router-view>
                            </keep-alive>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

export default {
    
}
</script>

<style>

</style>
