<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                        <ul>
                            <li>
                            <a href="/minhaconta">Perfil</a>
                            </li>
                        </ul>
                        <a href="/" class="link-small">Voltar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 offset-2 col-sm-12 offset-sm-0">
                        <div class="titulo-menu">
                            <h2>Altere seu nome</h2>
                            <p>Lembre-se de clicar no botão Salvar alterações quando tiver concluído.</p>
                        </div>
                        <form class="form">
                            <div class="lista-menu">
                                <div class="form-group col-12">
                                    <label for="nome">Nome completo</label>
                                    <input type="text" class="form-control" id="nome" name="nome" required>
                                </div>
                            </div>
                            <a class="btn-inverte" href="#">Salvar</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
