<template>
    <div>
        <section id="minha-conta">
            <div class="container">
                <div class="row">
                    <div class="breadcumbs">
                        <ul>
                            <li>
                                <router-link to="/meusdados">Meus dados</router-link>
                            </li>
                        </ul>
                        <router-link to="/minhaconta" class="link-small">Voltar</router-link>
                    </div>
                </div>
                <div class="mt-5 container">
                    <div class="row mt-5">
                        <div class="col-12 offset-12 col-sm-12 offset-sm-0 mb-2">
                            <form class="form">
                                <div class="lista-menu">
                                    <div class="col-8 offset-2 mb-2">
                                        <label for="name">Nome completo</label>
                                        <input class="inputForm form-control" type="text" id="name" v-model="usuario.name" placeholder="Nome completo" />
                                    </div>
                                    <div class="col-8 offset-2 mb-2">
                                        <label for="email">E-mail</label>
                                        <input class="inputForm form-control" type="text" id="email" v-model="usuario.email" placeholder="E-mail" />
                                    </div>
                                    <div class="col-8 offset-2 mb-2">
                                        <label for="celular">Telefone</label>
                                        <input class="inputForm form-control" type="text" id="telefone" v-model="usuario.telefone" placeholder="(99) 9999-9999" v-mask="'(##) ####-####'"/>
                                    </div>
                                    <div class="col-8 offset-2 mb-2">
                                        <label for="celular">Celular</label>
                                        <input class="inputForm form-control" type="text" id="celular" v-model="usuario.celular" placeholder="(99) 99999-9999" v-mask="'(##) #####-####'"/>
                                    </div>
                                    <div class="col-8 offset-2 mb-2">
                                        <label for="cpf">CPF</label>
                                        <input class="inputForm form-control" type="text" id="cpf" v-model="usuario.cpf" placeholder="000.000.000-00" v-mask="'###.###.###-##'"/>
                                    </div>
                                    <div class="col-8 offset-2 mb-2">
                                        <label for="cpf">CEP</label>
                                        <input @blur.prevent="cepCorreios()" class="inputForm form-control" type="text" id="cep" v-model="usuario.cep" placeholder="00000-000" v-mask="'#####-###'"/>
                                    </div>

                                    <div class="col-8 offset-2 mb-2">
                                        <label for="uf">Estado</label>
                                        <input class="inputForm form-control" type="text" id="uf" v-model="usuario.uf" placeholder="uf"/>
                                    </div>

                                    <div class="col-8 offset-2 mb-2">
                                        <label for="cidade">Cidade</label>
                                        <input class="inputForm form-control" type="text" id="cidade" v-model="usuario.cidade" placeholder="cidade" />
                                    </div>

                                    <div class="col-8 offset-2 mb-2">
                                        <label for="bairro">Bairro</label>
                                        <input class="inputForm form-control" type="text" id="bairro" v-model="usuario.bairro" placeholder="bairro" />
                                    </div>

                                    <div class="col-8 offset-2 mb-2">
                                        <label for="rua">Rua</label>
                                        <input class="inputForm form-control" type="text" id="rua" v-model="usuario.rua" placeholder="rua" />
                                    </div>

                                    <div class="col-8 offset-2 mb-2">
                                        <label for="complemento">Complemento</label>
                                        <input class="inputForm form-control" type="text" id="complemento" v-model="usuario.complemento" placeholder="Complemento" />
                                    </div>
                                   
                                    <div class="col-8 offset-2 mb-2">
                                        <label for="numero">Numero</label>
                                        <input class="inputForm form-control" type="text" id="numero" v-model="usuario.numero" placeholder="numero" />
                                    </div>

                                    <div class="col-8 offset-2 mb-2">
                                        <label for="nova_senha">Nova Senha</label>
                                        <input class="inputForm form-control" type="password" id="nova_senha" v-model="usuario.nova_senha" placeholder="Nova senha" />
                                    </div>

                                    <div class="col-8 offset-2 mb-2">
                                        <label for="nova_senha_confirmation">Confirmar Senha</label>
                                        <input class="inputForm form-control" type="password" id="nova_senha_confirmation" v-model="usuario.nova_senha_confirmation" placeholder="Confirmação de senha" />
                                    </div>

                                    <div class="col-8 offset-2 mb-2">
                                        <label for="senha_atual">Insira sua senha atual para poder alterar sua senha</label>
                                        <input class="inputForm form-control" type="password" id="senha_atual" v-model="usuario.senha_atual" placeholder="Senha atual" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <a @click.prevent="updateProfile()" class="btn-inverte" href="#">Editar</a>
                </div>

            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            usuario: {},
        }
    },
    methods: {
        profile() {
            axios.get('/api/profile').then(res => {
                this.usuario = res.data
            })
        },

        updateProfile() {
            axios.put(`/api/profile/${this.usuario.id}`, this.usuario).then(res => {
                //console.log(res);
                toast({type: 'success',title: 'Dados atualizados com sucesso.'})
            }).catch((error) => {
                //console.log(error.response.data);
                swal({ type: 'error', title: 'Atenção.', text: 'Há campos em branco no formulário.' }) 
            })
        },

        cepCorreios() {
            axios.get(`/api/endereco/cepcorreios/${this.usuario.cep}`).then(res=> {
                this.usuario.bairro = res.data.bairro;
                this.usuario.cidade = res.data.localidade;
                this.usuario.rua = res.data.logradouro;
                this.usuario.uf = res.data.uf;
            })
        }
    },

    created() {
        this.profile()
    }
}
</script>

<style>

</style>
